[2016-07-28 12:47] SoneeJohn commented on #267
@intari are you still having this issue?

[2016-08-09 23:30] AndrewKe commented on #267
I'm also getting a similar error

[code]

[2016-08-26 07:47] priyeshmarvi commented on #23
@0xced autoplay doesn't seems to work..

`videoPlayerViewController = [[XCDYouTubeVideoPlayerViewController alloc] initWithVideoIdentifier:videoId];
        [[NSNotificationCenter defaultCenter] addObserver:self selector:@selector(youtubeVideoFinishedCallback:) name:MPMoviePlayerPlaybackDidFinishNotification object:videoPlayerViewController.moviePlayer];
            [self presentViewController:vid

[2016-08-31 07:37] JeromeTW commented on #257
Hi
I have same error like nvvinhit2020
and @k06a 's answer （pod repo update && pod install）is not work for me.

How can i get 2.5.3 or latest version by Cocoapod

[2016-09-03 20:31] jimmyor commented on #267
I am having the same issue.
`NSLocalizedDescription = "This video contains content from UMG. It is restricted from playback on certain sites. Watch on YouTube";
    NSURL = "https://www.youtube.com/get_video_info?el=embedded&hl=en&ps=default&video_id=lQ6akiGRcL8";`

[2016-09-06 03:28] baryon opened #269 "Support Picture in picture in iOS 9.0 iPad"
Please support PiP

https://developer.apple.com/library/ios/documentation/AVFoundation/Reference/AVPlayerViewController_Class/index.html#//apple_ref/occ/cl/AVPlayerViewController

[2016-09-06 11:55] 0xced commented on #269
Support for Picture in Picture (PiP) will be added in XCDYouTubeKit version 3 as it will use AVPlayerViewController.

[2016-09-09 03:32] baryon commented on #269
What's schedule of Ver3

[2016-09-15 09:58] Geeo opened #270 "Swift 3 support ?"

[2016-09-15 10:15] 0xced commented on #270
Yes.

[2016-09-15 10:15] #270 closed

[2016-09-19 22:36] A1iAshoor opened #271 "Swift 3.0 Support"

[2016-09-19 23:38] 0xced commented on #271
XCDYouTubeKit already supports Swift 3. (duplicate of #270)

[2016-09-19 23:38] #271 closed

[2016-09-20 08:15] BharatAgarSoftTech opened #272 "error: This video is unavailable."
https://www.youtube.com/shared?ci=eS9FbhOaci4

[2016-09-21 05:10] BharatAgarSoftTech commented on #272
Please support for the issue.

[2016-09-23 08:28] mengheangrat opened #273 "Can we play youtube Video without full screen mode?"

[2016-09-23 08:30] #273 closed

[2016-09-24 18:40] alankarmisra commented on #272
Maybe I'm wrong, but I think you're getting this error because you are using a _share url id_ and not the actual video id.

See the bit in your url which shows : **shared?ci=eS9FbhOaci4**

If I manually go to the link and click on the name of the video, it takes me to the native youtube url which is:
https://www.youtube.com/watch?v=nClAiN9MXyc

So try using the video id _nClAiN9MXyc_ and it should

[2016-09-26 14:59] BharatAgarSoftTech commented on #272
yes, you are right man do you have an idea how to deal with this ?

[2016-09-26 18:25] shwetsolanki opened #274 "Unable to play certain Youtube Videos"
There are certain youtube videos which are not playable. I am unable to understand the type of videos. Here are the few videos which don't playback

[code]

Following are the console logs

[XCDYouTubeKit] JavaScript exception: TypeError: undefined is not an object (evaluating 'window.navigator.userAgent.match')
[XCDYouTubeKit] No signature function in player script
[XCDYouTubeKit] Video operation

[2016-09-26 20:13] alankarmisra commented on #272
No sorry. I don't know how to translate share urls into canonical urls. Try asking around on StackOverflow. That's a better platform to discuss this imho considering it isn't an issue related to this specific library.

[2016-09-26 20:22] SoneeJohn commented on #272
@BharatAgarSoftTech maybe try a regex expression.

[2016-09-27 06:01] 0xced commented on #272
Thank you @alankarmisra for handling this issue perfectly.

@SoneeJohn: I don't see how a regular expression could help translating a share URL into a canonical URL.

[2016-09-27 06:01] #272 closed

[2016-09-27 06:12] 0xced commented on #274
Please make sure you are using the latest version of XCDYouTubeKit, i.e. 2.5.3 as of this writing. The four videos should play fine. Feel free to reopen this issue if they don't work with the latest version.

[2016-09-27 06:12] #274 closed

[2016-09-27 12:22] SoneeJohn commented on #272
@0xced apparently, I didn't fully comprehend the issue. I thought it was just an issue of getting the video identifier from the URL (`https://www.youtube.com/shared?ci=eS9FbhOaci4`). I thought everything after `ci` was the video identifier.

[2016-09-28 04:49] BharatAgarSoftTech commented on #272
@SoneeJohn  The video identifier is different in both Urls.

Original video URL : https://www.youtube.com/watch?v=nClAiN9MXyc
 Shared video URL :  https://www.youtube.com/shared?ci=eS9FbhOaci4

[2016-09-28 06:26] anmolagar commented on #272
Hi Team, Can we expect any support for share url in this library?

[2016-09-29 12:05] intari commented on #267
I no longer have issue with those vides but instead have issue with https://www.youtube.com/watch?v=XSNpGyG2jSw
Error Domain=XCDYouTubeVideoErrorDomain Code=150 "This video contains content from WMG. It is restricted from playback on certain sites. Watch on YouTube"

[2016-10-01 08:49] ndhblue opened #275 "Crash on __pthread_kill: on ios 10"
I Added XCDYoutube in ios 10 (swift 3.0) and it crash libsystem_kernel.dylib`__pthread_kill:

	0   CoreFoundation                      0x000000010beb134b __exceptionPreprocess + 171
	1   libobjc.A.dylib                     0x000000010b3e121e objc_exception_throw + 48
	2   CoreFoundation                      0x000000010bf20f34 -[NSObject(NSObject) doesNotRecognizeSelector:] + 132
	3   CoreFoundatio

[2016-10-01 09:24] ndhblue commented on #275
I add XCDYoutube throught  flie Bridging-Header.h

#ifndef Bridging-Header_h
#define Bridging-Header_h
#import"XCDYouTubeKit.h"
#endif /* Bridging-Header_h */

[2016-10-01 13:14] 0xced commented on #275
Can you please provide the full error? For unrecognized selectors, you should have a message that says something like *[unrecognized selector sent to instance](http://stackoverflow.com/questions/25853947/how-can-i-debug-unrecognized-selector-sent-to-instance-error)*.

[2016-10-01 13:16] 0xced commented on #247
No reply from OP for three months, so I’m closing the issue.

[2016-10-01 13:16] #247 closed

[2016-10-01 13:18] 0xced commented on #267
Are you still experiencing issues with these two videos with XCDYouTubeKit 2.5.3? For me both videos are playing fine.

[2016-10-01 13:22] 0xced commented on #265
Please look at the very first [sample code](https://github.com/0xced/XCDYouTubeKit/#present-the-video-in-full-screen) in the README. Basically, you have to observe `MPMoviePlayerPlaybackDidFinishNotification` to get information about the error.

[2016-10-01 13:22] #265 closed

[2016-10-01 13:34] 0xced commented on #257
You have to run `pod update` instead of `pod repo update && pod install` to update your pods. See [pod install vs. pod update](https://guides.cocoapods.org/using/pod-install-vs-update.html) in the CocoaPods guides.

[2016-10-01 13:42] ndhblue commented on #275
This is my full error

[__NSCFType dataTaskWithRequest:completionHandler:]: unrecognized selector sent to instance 0x6000001ca500
2016-10-01 20:38:44.148 FunnyVideo[1138:46073]
Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[__NSCFType dataTaskWithRequest:completionHandler:]: unrecognized selector sent to instance 0x6000001ca500'
*** First throw call stack:
(
	0

[2016-10-01 14:41] 0xced commented on #275
I just created a new project with Xcode 8 / Swift 3 and I can not reproduce this crash. Could you please provide a sample project demonstrating this issue as explained in the [contribution guidelines](https://github.com/0xced/XCDYouTubeKit/blob/master/CONTRIBUTING.md)?

[2016-10-02 09:13] ndhblue commented on #275
I checked my project . I can't send me my project, so  i created a new small example . When I set ARC is NO , it error. My project use youtube api , so i have to set ARC is NO.
This is my example  :
https://www.mediafire.com/?li4yvu4eg537doc

[2016-10-02 18:44] 0xced commented on #275
XCDYouTubeKit **MUST** be compiled with ARC, if you compiled it without ARC it will inevitably crash.

Please use CocoaPods, Carthage or manually integrate the XCDYouTubeKit static library or framework as documented in the [installation](https://github.com/0xced/XCDYouTubeKit/tree/2.5.3#installation) section of the README.

[2016-10-02 18:44] #275 closed

[2016-10-07 13:47] fernandaosbc opened #276 "Play video, but no audio - iOS10.0.2"
Hi. I've been using this component for a while and it was working like a charm! Thank you very much for that!
Unfortunately, After upgrading to iOS 10.0.2 the videos are playing without sound and the screen won't rotate to landscape mode. The same is occuring on the Demo app.

Is there anything to be done on implementation, or the library must be updated?

I'm running the app on iOS 10.0.2, using

[2016-10-07 16:56] intari commented on #267
not anymore

[2016-10-07 16:56] #267 closed

[2016-10-07 16:57] intari opened #277 "DASH manifest"
Is it possible to get DASH manifest for given YouTube video using XCDYouTubeKit?

[2016-10-10 05:46] 0xced commented on #277
Unfortunately, XCDYouTubeKit can't provide DASH manifests. But you can get access to the streams, see [issue #135 (DASH support)](https://github.com/0xced/XCDYouTubeKit/issues/135#issuecomment-97253291).

[2016-10-10 05:46] #277 closed

[2016-10-10 21:52] rricarrdo commented on #276
As from [`here`] (https://github.com/0xced/XCDYouTubeKit/issues/195)

You will have to import <AVFoundation/AVFoundation.h>

[2016-10-11 19:35] A1iAshoor commented on #43
+1 It could look something like this:

[code]

[2016-10-14 07:37] vickyg27 commented on #264
Hi zippier.. Can you please tell me what is a issue in your code because i am getting same issue like above

[2016-10-14 09:27] ziopiero commented on #264
Hi,
in my case, after long investigation, I found that my Pods library was not updated.
The 'pod update' command work fine, the new file has been downloaded from github, but the .a library is not re-created.
So, the workaround for my case is simple: delete the libPods-(your app name).a inside the ../../build folder and re-comp[ile your app.
I hope that this help you.
Good luck.

[2016-10-14 09:39] vickyg27 commented on #264
Hi ziopiero

Thanks for your help. i have done this think same as you tell and my issue has been resolved

[2016-10-14 23:41] nguyenconghau opened #278 "Error video?.streamURLs"
Hi ,
i used this code:

[code]

it doesn't work.
kindly you update it for me with swift 3.
Thanks

[2016-10-16 11:59] llKoull opened #280 "Can't use XCDYoutubeKit on tvOS"
Hi!

I've been using this awesome library in my application called YouTrend for iOS or iPad, but now i want to do a new version for TvOS and something is wrong. Booth functions, the one that starts the video playing and the one that handles the movie stop are giving me errors that i does not see on iOS.

I attach some pictures of the errors (It seems like "import XCDYouTubeKit" is being ignored or

[2016-10-19 03:40] TheRyanHickman commented on #256
Has anyone solved this, as I am also having the same issue.

[2016-10-19 04:06] brevansio commented on #256
I don't use MPPlayer or the XCD player (XCDYouTubeClient for URL + AVPlayer), but I did get pauses a while back, so it might be helpful. In my case it had to do with AVPlayerLayer getting set/unset. (see WWDC2016 Session 503)

I fixed my issue by monitoring `UIApplicationDidEnterBackgroundNotification` and `UIApplicationDidBecomeActiveNotification` and calling play if needed. Pre-iOS 10 this did c

[2016-10-20 09:55] vitalii-boiarskyi commented on #121
Hi, can anyone point me to a place in Youtube TOS that is being violated by the library? Or explain in more details what is violated?

[2016-10-28 03:43] JeromeTW opened #282 "Is possible play audio without video?"
Is possible play audio without video? Any advice is helpful.:)

[2016-10-28 14:35] intari commented on #282
Why not?
I'm doing just that on app in AppStore.
Your options are:
- using one of regular quality options with video and AVPlayer (traffic!.)
- get stream with itag 141 (AAC128) and AVPlayer (I have some...issues)
- get streams with  Opus/Vorbis  and something other instead of AVPlayer. You can also choose quality   (I use this).

[2016-10-29 22:42] JeromeTW commented on #282
@intari Thanks your advice, I will try it later.

[2016-10-31 07:48] JeromeTW commented on #278
Same issue here.

[2016-10-31 14:56] 0xced commented on #278
I just updated the [sample code for swift 3](https://github.com/0xced/XCDYouTubeKit/issues/157#issuecomment-208328872):
[code]

[2016-10-31 14:56] #278 closed

[2016-10-31 22:39] 0xced commented on #280
The `XCDYouTubeVideoPlayerViewController` class is not available on tvOS because it’s a subclass of `MPMoviePlayerViewController` which is not available on tvOS.

Please use this [sample code](https://github.com/0xced/XCDYouTubeKit/issues/157#issuecomment-208328872) for tvOS.

[2016-10-31 22:39] #280 closed

[2016-10-31 23:07] 0xced commented on #276
Exactly, the audio session configuration must be handled outside of XCDYouTubeKit. Thanks @rricarrdo for your help.

[2016-10-31 23:07] #276 closed

[2016-10-31 23:15] 0xced commented on #256
How exactly have you implemented the hack that allows background mode? I just tested with the demo app on an iPhone 6 running iOS 10.0.2 and background playback is working fine, both when pressing the home button and locking the iPhone.

[2016-10-31 23:45] JeromeTW commented on #278
Thank you for your reply. I'm Really enjoy YouTubeKit, thanks a lot. :]

[2016-11-01 08:38] nhantrivinh opened #283 "finishReason Error when converted to Swift"
This is a direct conversion from the documented sample code.

[code]

Error: Cannot invoke initializer for type 'CInt' with an argument list of type '(Any?)'

[2016-11-08 17:46] mhuusko5 commented on #199
Curious if dynamic config is still planned?

[2016-11-17 18:44] FlaviaBondJamesBondsHusband opened #285 "Multi-Target apps"
Line 16 and 17 in the podspec file exclude the file`XCDYouTubeVideoPlayerViewController` on tvOS and macOS for obvious reasons. However, for multi-target projects, ie. projects that have both tvOS and iOS pods, the file is not downloaded. This means that when compiling the iOS project, the preprocessor condition in the umbrella header:

    #if TARGET_OS_IOS || (!defined(TARGET_OS_IOS) && TARGET_O

[2016-11-19 21:16] 0xced commented on #285
Can you please provide a sample project where this problem occurs? I tried a simple project with two targets with this Podfile and everything works fine for me with CocoaPods 1.1.1.

[code]

[2016-11-19 21:53] 0xced commented on #283
Here’s how to get the finish reason with Swift 3:

[code]

[2016-11-19 21:53] #283 closed

[2016-11-21 09:42] uffou opened #286 "Help me run in on Swift 3"
Please can someone help me start a video on swift project. This code compiles but the video is not starting.  Also if there is a solution for swift 3 it would be nice to update the main page.

[code]

[2016-11-21 10:22] 0xced commented on #286
I just updated the [sample code for swift 3](https://github.com/0xced/XCDYouTubeKit/issues/157#issuecomment-208328872):
[code]

[2016-11-21 10:22] #286 closed

[2016-11-21 23:43] mhuusko5 opened #287 "Long XCDYouTubeVideoOperation's because of multiple page loads"
I'm getting ~1.5 second on WiFi, ~5 second on LTE operations for many (music) videos, with the culprit (other than single pages taking a while) being multiple page loads being made, e.g...
[code]

XCDYouTubeVideoOperation is a bit hard to grep, but it *seems* like if the logic is going to fall back and requesting the watch page if the `get_video_info` pages fail (non embeddable, age restriction),

[2016-11-23 08:38] sovannarithsok opened #288 "Controlstyle = .none doesn't work"
I have used this code to play a video but I don't want to show player control so I must set controlStyle to none. Unlucky it still does't work. I don't know why it appear.
Note*. I tested it with iOS 10

    self.videoPlayer = XCDYouTubeVideoPlayerViewController.init(videoIdentifier: "Video_Id")
    self.videoPlayer.moviePlayer.allowsAirPlay = false
    self.videoPlayer.moviePlayer.controlStyle =

[2016-12-07 19:42] mobilityvalley opened #289 "XCDYouTubeKit in UICollectionViewController"
Hi,

I'am trying to display a video inside the first item in a UICollectionViewController.
As it is not a TableView but a CollectionView, there is no "tableHeaderView" so I can not use the solution described here : https://github.com/0xced/XCDYouTubeKit/issues/35

I know it is not ideal but I have to display this video here and if the user scrolls and comes back the video has to continue.

I tried

[2016-12-08 20:41] SoneeJohn opened #290 "Support for multi camera YouTube Videos"
## Sets to reproduce

With the provided XCDYouTubeKit Demo app:

* Library version: 2.5.3
* SDK: macOS SDK 10.12
* Video identifier: `sBHFOh5qe20`

## Results

The video plays as expected. However, I think it could be better.

The previously mentioned video is a multi camera video. XCDYouTubeKit currently finds the single stream however, it is capable of getting all the streams for the user.

## P

[2016-12-09 12:41] SoneeJohn commented on #290
Instead of returning an `NSSet` of videos I would add two properties to the `XCDYouTubeVideo` class. The first property would been a Boolean value which would indicate if this  instance of`XCDYouTubeVideo` is the **parent** video. Finally, the second property would be the `NSSet` of the other video cameras. This seems like a good alternative and would not introduce breaking changes.

[2016-12-09 17:07] FlaviaBondJamesBondsHusband commented on #289
The problem is not with XCDYoutubeKit it's with your code.

The problem is here `videoPlayerViewController.present(in: videoContainerView)`

The videoContainerView property is being set when this function is being called `collectionView(_ collectionView: UICollectionView, cellForItemAt indexPath: IndexPath)`.

That function is only called when `reloadData:` is called on UICollectionView instance.

[2016-12-12 03:45] sajsanghvi opened #291 "Certain video won't play"
Hey, everything is working great - but on this one video https://www.youtube.com/watch?v=Q0oIoR9mLwc

The song won't play. Anyone else having this issue?

[2016-12-12 15:33] mhuusko5 commented on #287
@0xced I see `// Max (age-restricted VEVO) = 2×GetVideoInfo + 1×WatchPage + 1×EmbedPage + 1×JavaScriptPlayer + 1×GetVideoInfo` in XCDYouTubeVideoOperation.
Could you please briefly explain which requests achieve what?

[2016-12-12 15:40] SoneeJohn commented on #291
@sajsanghvi which version of the library are you using?

[2016-12-12 17:01] 0xced commented on #291
This video has an encoding issue for the 720p version. The only way to workaround this problem is not to play the 720p version. Here is some code to play the 360p version:

[code]

[2016-12-12 17:01] #291 closed

[2016-12-14 06:25] rahulvyas opened #292 "Not able to get the Playback Finish Notification"
If we tap on fullscreen button on MPMoviePlayer controller and then minimize button again and again vice versa after that MoviePlayer finish callback doesn't called. Is there any fix for this ?

[2016-12-18 11:11] #285 closed

[2016-12-19 15:30] herman5 opened #293 "Videos with Warner Music Group logo are blocked"
Trying to play videos that have the Warner Music Group logo in the bottom right are unplayable. IE try to play this [video](https://www.youtube.com/watch?v=Q0oIoR9mLwc) and it will not work. However, other videos work just fine.

[2016-12-19 16:17] JJGEight commented on #293
Are you using the latest version of XCDYouTubeKit? The video is playing for me without any problems.

[2016-12-19 16:23] herman5 commented on #293
This is on 2.5.3 - oddly enough it's just that one video I listed that will not play, but other videos from WMG play without problem. Closing this issue.

[2016-12-19 16:23] #293 closed

[2016-12-19 16:57] 0xced commented on #293
This video has an encoding issue, please see https://github.com/0xced/XCDYouTubeKit/issues/291#issuecomment-266487194

[2016-12-29 03:28] SoneeJohn opened #294 "Add the NSDictionary to the header of XCDYouTubeVideo"
I think exposing the [`NSDictionary` ](https://github.com/0xced/XCDYouTubeKit/blob/master/XCDYouTubeKit/XCDYouTubeVideo.m#L98) object that the `XCDYouTubeVideo` class is initialized with would be really helpful. For instance, this would make it more flexible to use features that aren't implemented by the library as yet (https://github.com/0xced/XCDYouTubeKit/pull/281). Sometimes pull requests may

[2016-12-29 23:49] SoneeJohn commented on #294
Update: Plus my method does not always work in getting back the original dictionary that the `XCDYouTubeVideo` was initialized with.

[2017-01-09 04:29] shejis commented on #87
Is this videoPlayerViewController has an option for choose a video quality by a user like youtube video player ?

[2017-01-31 00:54] touchbee commented on #231
@0xced I'm still seeing this issue with the latest version (2.5.3). I'm using this video identifier: **wTMFpRwuSYg**

"This video contains content from UMG. It is restricted from playback on certain sites or applications. Watch on YouTube";
    NSURL = "https://www.youtube.com/get_video_info?el=embedded&hl=en&ps=default&video_id=wTMFpRwuSYg";

[2017-01-31 03:06] sajsanghvi opened #295 "Starting from 30th January 2017 some videos return errors. Content from UMG etc"
Starting from 30th January 2017 some videos return errors.
Example video IDs: YykjpeuMNEk , QtXby3twMmI

[7981 ] 13:42:13.674 | miniPlayer | Main thread | __51-[MiniPlayerView preloadAssetsForStream:withAsset:]_block_invoke [Line 917] Failed to get video for preloading assets including video for stream Coldplay - Hymn For The Weekend (Official video) YykjpeuMNEk Error Domain=XCDYouTubeVideoErrorDo

[2017-01-31 04:49] omose14 opened #296 "Some videos return errors. Content from UMG etc"
Please help.

[2017-01-31 08:42] Hamza-Almass commented on #296
yes i also have some videos return errors please help

[2017-01-31 08:43] Hamza-Almass opened #297 "many videos return an error"
please help i get this message from many videos on youtube

the error is:

 NSLocalizedDescription = "This video contains content from VEVO. It is restricted from playback on certain sites or applications. Watch on YouTube";
    NSURL = "https://www.youtube.com/get_video_info?el=embedded&hl=en&ps=default&video_id=dGR65RWwzg8";

please help

[2017-01-31 11:15] appcornerit commented on #231
+1

[2017-01-31 11:20] vdugnist commented on #297
@Hamza-Almass looks like it works with my fix https://github.com/0xced/XCDYouTubeKit/pull/298
If it will take long time to merge you can put
`pod 'XCDYouTubeKit', :git => 'https://github.com/vdugnist/XCDYouTubeKit.git', :commit => '54e4bc9970862914a7692b7c779fee1d35fc9aea'`
in your Podfile.

[2017-01-31 11:25] appcornerit commented on #296
+1 video id: JGwWNGJdvx8 (WMG) or JZroLpWR0os (VEVO)

[2017-01-31 11:31] appcornerit commented on #297
@vdugnist thanks, it works, nice job!

[2017-01-31 11:49] artur7 opened #299 "I get error code=-1 when play certain video"
Hello. when I try to view video with ID : 2BFMvgI13ko (Resident Evil 7 trailer), I get an error -1, unsupported URL. It happens also on few other videos, eg. with ID = QpPwqVy6j10.
Can you help me?

[2017-01-31 12:16] ChristianDeckert commented on #297
@vdugnist Thanks, everything's fine now! 👍

[2017-01-31 12:19] Hamza-Almass commented on #297
it is not working i have problem it tell me unable to read module map contents from target support file? have you example on how can i add it ?
thank you

[2017-01-31 12:40] Hamza-Almass commented on #297
it's working my friend nice job thank you very much

[2017-01-31 13:02] vdugnist commented on #296
@omose14 check fix in https://github.com/0xced/XCDYouTubeKit/issues/297

[2017-01-31 13:03] vdugnist commented on #299
@artur7  check fix in https://github.com/0xced/XCDYouTubeKit/issues/297

[2017-01-31 13:04] vdugnist commented on #295
@sajsanghvi can you check fix in https://github.com/0xced/XCDYouTubeKit/issues/297 ?

[2017-01-31 13:20] artur7 commented on #299
Thanks, it works!!

[2017-01-31 13:20] #299 closed

[2017-01-31 15:18] omose14 commented on #296
@vdugnist  Thank you, ill try it out

[2017-01-31 15:25] vdugnist commented on #296
@omose14 close this issue if fix helps

[2017-01-31 17:20] Pranoy1c commented on #297
@vdugnist It still doesn't work. I am getting error even after updating the podfile with your change:

[code]

[2017-01-31 23:25] #295 closed

[2017-01-31 23:29] 0xced commented on #296
I just released version 2.5.4 which addresses this issue.

[2017-01-31 23:29] #296 closed

[2017-01-31 23:29] 0xced commented on #297
I just released version 2.5.4 which addresses this issue.

[2017-01-31 23:29] #297 closed

[2017-02-01 01:53] aldras opened #300 "Error with specific video"
This is the ID of the video with the error.

gOmJLk1lu08

I am attempting to troubleshoot it but has something to do with scrambledSignature and signature not being retrieved correctly.

XCDYouTubeVideo.m line 145 I believe.

[2017-02-01 02:01] aldras commented on #300
Spoke too soon, fix in fix in #297 resolves it!
Thanks!

[2017-02-01 02:01] #300 closed

[2017-02-02 17:20] GizumoMoca opened #301 "Error with specific video"
XCDYouTubeKit version to 2.5.4

VideoID: 09R8_2nJtjg
Xcode: 8.2.1
target: 8.0

[2017-02-06 01:04] NSMyself opened #302 "Ambiguous use of 'subscript'"
I've compiled XCDYouTubeKit v2.5 through Carthage but after adding the import in my Bridging-Header file I immediately got an "Ambiguous use of 'subscript'" error whenever i tried to parse an incoming JSON object like this:

`let share = raw?["actions"]?["share"] as? String ?? ""`

The problem lies in the second optional, everytime I try to use it I get that error

[2017-02-06 11:27] NSMyself commented on #302
I got around the issue by casting the variable to `[String:AnyObject]` before accessing the subscript:

`let share = (raw?["actions"] as? [String:AnyObject])?["share"] as? String ?? ""`

[2017-02-06 16:16] Karov28 commented on #288
Try to subclass the `XCDYouTubeVideoPlayerViewController`, and then override `viewWillAppear` method and put your code in it.

[2017-02-07 04:03] sycode opened #303 "VEVO can not be played"
[XCDYouTubeKit] Video operation finished with error: This video contains content from VEVO. It is restricted from playback on certain sites or applications. Watch on YouTube
Domain: XCDYouTubeVideoErrorDomain
Code:   150

[2017-02-07 05:35] 0xced commented on #303
Are you using the latest version, i.e. 2.5.4?

[2017-02-07 06:02] sycode commented on #303
I'm sorry.
I was using version 2.5.3.
After updating to 2.5.4, it was able to play normally.
Thank you.

[2017-02-07 14:12] codaman opened #304 "iOS7 Crash"
NSDateComponentsFormatter cause crash on "XCDYoutubeVideo.m"

Symbol not found: _OBJC_CLASS_$_NSDateComponentsFormatter

[2017-02-07 14:41] GizumoMoca commented on #301
Domain: XCDYouTubeVideoErrorDomain
Code:   -1
User Info: {
    NSLocalizedDescription = "\U672a\U5bfe\U5fdc\U306eURL";
    NSUnderlyingError = "Error Domain=NSURLErrorDomain Code=-1002 \"\U672a\U5bfe\U5fdc\U306eURL\" UserInfo={NSUnderlyingError=0x158217a30 {Error Domain=kCFErrorDomainCFNetwork Code=-1002 \"(null)\"}, NSErrorFailingURLStringKey=/yts/jsbin/player-ja_JP-vflyRanoY/base.js, NSErrorFail

[2017-02-07 15:09] holloandris commented on #301
Same problem here as well!

[2017-02-07 18:16] GizumoMoca commented on #301
Import XCDYouTubeKit.framework -> OK
CocoaPods pod 'XCDYouTubeKit' -> NG

[2017-02-09 16:55] namhn opened #305 "we can not play video"
![screen shot 2017-02-09 at 11 54 27 pm](https://cloud.githubusercontent.com/assets/23704454/22793709/33fdceaa-ef23-11e6-8174-bf13ffe2f752.png)

[2017-02-09 16:57] namhn commented on #303
I can not update to version 2.5.4

[2017-02-09 17:00] namhn commented on #303
I just install the 2.5.3
![screen shot 2017-02-09 at 11 59 31 pm](https://cloud.githubusercontent.com/assets/23704454/22793953/f8bb5ece-ef23-11e6-8a55-d09563c17c9a.png)

[2017-02-09 19:45] SoneeJohn commented on #303
@namhn try using: `pod update XCDYouTubeKit`

[2017-02-10 15:44] SoneeJohn commented on #301
Same issue here as well but I haven't been able to reproduce it. However, some of my customers have reported similar issues.

[2017-02-10 18:04] namhn commented on #303
I used pod XCDYouTubeKit update but can not update to version 2.5.4

[2017-02-10 18:08] namhn commented on #303
![screen shot 2017-02-11 at 1 08 32 am](https://cloud.githubusercontent.com/assets/23704454/22838195/a7baee76-eff6-11e6-9bda-f85a89e3ebdd.png)

[2017-02-10 18:09] namhn commented on #303
![screen shot 2017-02-11 at 1 08 32 am](https://cloud.githubusercontent.com/assets/23704454/22838203/b2eacfbe-eff6-11e6-96be-72dba612ce1e.png)

[2017-02-10 18:43] SoneeJohn commented on #303
@namhn can I see your podfile?

[2017-02-10 18:46] SoneeJohn commented on #303
@namhn or you can try changing the pod file to include: `pod "XCDYouTubeKit", "~> 2.5"`

[2017-02-11 01:51] sycode commented on #303
I changed from 2.5.3 to 2.5.4 by changing as follows.

(podfile)
- platform :ios, '7.0'
+ platform :ios, '8.0'

If the target version of ios is 7.0, updating from 2.5.3 was not possible even if pod update was done.
However, when I changed the target version to 8.0, I was able to successfully update to 2.5.4.

[2017-02-15 06:21] mannanr commented on #235
Any solution to this problem  @seenoevo  @devilbags  @0xced  ? i am stucked on same state. can't fired notifications to check whether video state has changed or not.
Any help in Swift 3.

[2017-02-15 17:32] Karov28 commented on #301
Same here, the @GizumoMoca workaround worked for me too. The video I wanted to launch is xsguzMkWcr0.

[2017-02-16 08:08] gauuni opened #307 "How can I get notification when play video failed"
Firstly, I want to thank you that make a great library for us.
Now I have a problem, I want to show an alert when error occurred.
I try to get notification but failed.
Any idea to solve this?
Thanks.

[2017-02-17 06:59] Hamza-Almass opened #308 "i have an memory leak with XCDYoutubeKit"
hello all,
i hope all is well
i get the memory leak from this line of code
XCDYouTubeClient.default().getVideoWithIdentifier(getVideID[1], completionHandler: { [unowned self](videoObject, error) in

please help
thank a lot

[2017-02-17 18:00] mitulmarsonia opened #309 "This video contains content from VEVO. It is restricted from playback on certain sites or applications. Watch on YouTube"
video id : oyEuk8j8imI
I have try this #297 solution but its not work for me.
response :-
Domain: XCDYouTubeVideoErrorDomain
Code:   150
User Info: {
    AllowedCountries = "{(\n    \"Macau (China)\",\n    Hungary,\n    Vietnam,\n    \"New Caledonia\",\n    Burundi,\n    Andorra,\n    \"Pitcairn Islands\",\n    Guinea,\n    \"Norfolk Island\",\n    Togo,\n    Eritrea,\n    Zambia,\n    China,\n

[2017-02-18 04:27] chunholi commented on #309
Almost same here but with this error NSLocalizedDescription = "This video contains content from WMG. It is restricted from playback on certain sites or applications. Watch on YouTube";
NSURL = "https://www.youtube.com/get_video_info?el=embedded&hl=en&ps=default&video_id=amYXDAy1nn8";
I tried 2.5.4 but still the same.

[2017-02-18 07:41] 0xced commented on #309
From which country are you trying to play the video? Both are playing fine for me. I’m watching from Switzerland, which is a country listed in the `AllowedCountries`.

[2017-02-18 07:45] 0xced commented on #308
I’m pretty confident there’s no memory leak in XCDYoutubeKit. `XCDYouTubeClient.default()` is a singleton, so maybe that’s where you think the memory leak is?

Anyway, you should try to [ask this question on Stack Overflow](http://stackoverflow.com/questions/ask) and provide more details if you want people to help you.

[2017-02-18 07:45] #308 closed

[2017-02-18 07:52] 0xced commented on #307
How to register for notifications, right from the [README](https://github.com/0xced/XCDYouTubeKit/tree/97c8fc167493e38bb3adce918bf992776ea7d404#present-the-video-in-full-screen):
[code]

[2017-02-18 07:52] #307 closed

[2017-02-18 07:58] gauuni commented on #307
Thank you for your supporting
But I have used it on iOS10, and it didn't receive the notification when error occured

Best regards,

Nguyen Khoi Nguyen
iOS Developer
+84 122 7513 733 (tel:+84%20122%207513%20733)
Contact to Nguyen's Skype (skype:khoinguyeniosdev?chat)
Contact to Nguyen's Gmail (mailto:nguyenkhoinguyen082444@gmail.com)

On Feb 18, 2017, 2:52 PM +0700, Cédric Luthi <notifications@git

[2017-02-18 08:12] 0xced commented on #304
Version 2.5.4 of XCDYouTubeKit officially dropped support for iOS 7 and requires iOS 8.

[2017-02-18 08:12] #304 closed

[2017-02-18 08:16] 0xced commented on #305
Unfortunately, you did not provide enough information for me to help you. Please have a look at how to [submit an issue](https://github.com/0xced/XCDYouTubeKit/blob/97c8fc167493e38bb3adce918bf992776ea7d404/CONTRIBUTING.md#submitting-issues).

[2017-02-18 08:16] 0xced commented on #303
Glad you solve it!

[2017-02-18 08:16] #303 closed

[2017-02-18 08:18] 0xced commented on #302
Unfortunately, I don’t know swift well enough to understand what’s happening but I’m glad you found a solution.

[2017-02-18 08:18] #302 closed

[2017-02-18 08:24] 0xced commented on #301
Make sure to update your Podfile to target iOS 8 or else XCDYouTubeKit won't be able to upgrade to XCDYouTubeKit 2.5.4 when you run `pod update`.
[code]

The error you are showing (`NSErrorFailingURLKey=/yts/jsbin/player-en_US-vflkk7pUE/base.js`) is an evidence that you are still using version 2.5.3.

[2017-02-18 08:24] #301 closed

[2017-02-18 09:15] chunholi commented on #309
I am in hong kong, and i checked that is in the country list, thanks

[2017-02-18 09:32] 0xced commented on #309
Can you watch it on the YouTube website?

[2017-02-18 09:37] chunholi commented on #309
Yes, also it works on ios youtube app, and android version of my app.

[2017-02-18 10:06] mitulmarsonia commented on #309
I'm in India. and i also checked in the country list. India is available in AllowedCountries.

[2017-02-21 18:28] mitulmarsonia commented on #309
@0xced Can you please help me out.

[2017-02-23 14:13] mannanr opened #310 "Private video crash"
I am using XCDYouTubeKit to play videos in my application using swift. But app is crashing with error the file you are trying to play is private.

how to handle or get response from "youtubeVideoPlayer.moviePlaye" if file is not a valid file to play.

Any solution to this problem?

[2017-02-27 07:44] akash-mastercreationz opened #311 "Switching video quality while playling #57"
Hi all,

I wonder is there a way to switch video quality as needed?
I mean to play a particular stream quality according to the network state. For example if user is on 3G I want to play the lowest quality URL but if user moves to wifi I want to seamlessly switch to the better quality stream.

Is there any support for this kind of functionality?

This was the issue #57 . Please solve this.

[2017-02-27 17:14] maximbilan opened #312 "Rewind and fast-forward are not working"
Rewind and fast-forward are not working in the example. The app just is closing when the user taps these buttons. Could you please fix it?

[2017-02-28 06:23] Hamza-Almass opened #313 "most URL Movie not supported"
please some url in the youtube not working can't download movie from youtube please help

[2017-02-28 08:48] d7laungani commented on #282
What do you mean get streams with Opus/ Vorbis. How do I get this . Thanks!

[2017-02-28 16:01] SoneeJohn commented on #282
@d7laungani you need to get the itag value.
![screen shot 2017-02-28 at 11 57 06 am](https://cloud.githubusercontent.com/assets/4827301/23412837/48efe292-fdad-11e6-9501-65e6d6e8792f.png)
(I got this table from Wikipedia: https://en.wikipedia.org/wiki/YouTube#ref_media_type_table_note_1)

the you simply use that as the key in the dictionary.

[code]

[2017-02-28 16:07] SoneeJohn commented on #311
@akash-mastercreationz unfortunately the stream URLs that you get from XCDYouTubeKit (which is from YouTube) doesn't use [Adaptive bitrate streaming](https://en.wikipedia.org/wiki/Adaptive_bitrate_streaming) which would allow the functionality that you described.

[2017-03-01 04:49] akash-mastercreationz commented on #311
@SoneeJohn do you mean that if wifi speed is very good, the quality of the video will be good(or high) And in case if the wifi goes down or slow (slow speed network) then also  the quality of the remains the same and it takes much time for buffering.

Actually i want some solution so that if the speed of the wifi is high then the video should be of high quality and if anyhow the speed of the wifi

[2017-03-01 20:43] SoneeJohn commented on #311
@akash-mastercreationz Yes that is correct. You will have to manually find a way to implement that.

[2017-03-07 15:19] chaocharleswang opened #314 "XCDYouTubeKit does not work now"
Hi,

XCDYouTubeKit does not work now.
Please check with that.

Many thanks!

[2017-03-07 15:30] mhuusko5 commented on #314
👍 "The video contains content from VEVO. It is restricted..."

[2017-03-07 15:34] chaocharleswang commented on #314
Thanks for your update.

[2017-03-07 15:48] hodalgun commented on #314
All vevo videos does not work now
Please help me!!

[2017-03-07 16:00] flamme0011 commented on #314
It is not working for me too. What can we do for solution?
Please help us!!!
Thanks

[2017-03-07 16:15] chaocharleswang commented on #314
I found some other videos (not Vevo) also do not work, e.g.,

ADELE - HELLO (COVER BY LEROY SANCHEZ)
https://www.youtube.com/watch?v=vlZ9kjCrGJw

[2017-03-07 16:27] chaocharleswang commented on #314
I found https://github.com/rg3/youtube-dl can work.
Thanks.

[2017-03-07 17:15] bdfantini commented on #314
I see this error on console:

[code]

[2017-03-07 17:24] JmyW commented on #314
I got same problem, the StreamURL is retrieved failed since a couple hours ago.
It did work fine in past several weeks with 2.5.4 but now. Looks like YouTube did some change on Tue. again. Please help, thanks.

[2017-03-07 18:54] Hamza-Almass commented on #314
the XCDYoutubeKit Not working now please help

[2017-03-07 18:54] tin612 commented on #314
I got the same problem.

[2017-03-07 19:22] bdfantini commented on #314
Guys, now I don't have time to make a PR, but we've found the solution for this, just modify the regex on this line: https://github.com/0xced/XCDYouTubeKit/blob/master/XCDYouTubeKit/XCDYouTubePlayerScript.m#L71

to:

`@"[\"']signature[\"']\\s*,\\s*([^\()]+)\\("`

[2017-03-07 19:23] 0xced commented on #314
I’m working on it.

[2017-03-07 19:28] hodalgun commented on #314
i'm working on it too
thanks

[2017-03-07 19:34] 0xced commented on #314
@hodalgun I already have a solution and will publish a new release in a few minutes, you can stop working on it. 😉

[2017-03-07 19:37] hodalgun commented on #314
@0xced Ok!!!  Thank so much

[2017-03-07 19:45] chaocharleswang commented on #314
Cool. Thanks!

[2017-03-07 20:08] #314 closed

[2017-03-07 20:36] k06a commented on #309
@chunholi @mitulmarsonia HTTP header "Referer" should make youtube think you're watching video right on YouTube website. This PR should fix your issue: https://github.com/0xced/XCDYouTubeKit/issues/315

Until it's merged you can try it out:
[code]

[2017-03-07 21:04] Hamza-Almass opened #316 "still issue with downloading after updating"
i have got the message when i need to download video from youtube the message is

the operation couldn't be completed (XCDYiutubeVideoErrorDomain error -2)
please help

[2017-03-08 04:53] #316 closed

[2017-03-08 04:53] #313 closed

[2017-03-08 04:56] Hamza-Almass opened #317 "I have issue with downloading from youtube using XCDYoutubeKit"
Hello Friends,

I hope all is well
I have issue with downloading video from youtube using XCDYoutubeKit most videos it is display message to me when i try downloading the message is

the operation couldn't be completed (XCDYoutubeVideoErrorDomain error -2)
please help how can i fix that

[2017-03-08 20:45] red010182 opened #318 "unsupported URL"
Nice work for this project! However, most youtube videos work, but some fail.

Failed to play videos:
https://www.youtube.com/watch?v=JRMOMjCoR58
https://www.youtube.com/watch?v=--zku6TB5NY

ENV:
iPhone 6, iOS 10
non-fullscreen
everything default setting

I'm not sure if it's due to youtube ads, because both video get over 40 million watches and typically more popular video get higher possibilitie

[2017-03-08 21:17] Hamza-Almass commented on #318
i also got the same message with the error domain

[2017-03-08 22:25] 0xced commented on #318
Please make sure to use the latest version of XCDYouTubeKit, i.e. version 2.5.5. If you ran `pod update` without updating the iOS platform to iOS 8 in your Podfile, XCDYouTubeKit will be stuck at version 2.5.3.

[code]

[2017-03-08 22:25] #318 closed

[2017-03-08 22:42] 0xced commented on #311
Thanks @SoneeJohn for replying. I'm replicating my statement from #57, nothing has changed since 2014:

[2017-03-08 22:42] #311 closed

[2017-03-08 23:38] Hamza-Almass opened #319 "how can fix this problem please"
hello friends
i install the pod file 2.5  it is stuck on 2.5.3 version i enter the platform for  iOS 8.0 also stuck on version 2.5.3 the message which i got it is
the operation couldn't be completed (XCDYoutubeVideoErrorDomain error -2)
also i got the message for most url Unsupported URL
how can i fix this problem please

[2017-03-08 23:38] #317 closed

[2017-03-09 05:20] red010182 opened #320 "Can not get the latest version via pod install"
I saw the latest version is 2.5.5 on https://cocoapods.org/?q=XCDYouTubeKit. However, the latest version I can find via `pod` command is 2.5.3. I've installed the latest version of cocoapod.

[code]

Podfile
[code]

If I change it to `pod 'XCDYouTubeKit', '~> 2.5'.5`, I get this:
[code]

[2017-03-09 05:29] red010182 commented on #320
[code]
solved

[2017-03-09 05:29] #320 closed

[2017-03-09 05:37] red010182 commented on #319
Check out #320

[2017-03-09 06:25] Hamza-Almass commented on #319
my friend i use the
 pod repo update
pod update
and all is succeeding now tell me when i install pod i got this message
[!] Unable to find a specification for `XCDYouTubeKit (~> 2.5)`
what's the wrong ?

[2017-03-09 07:03] Hamza-Almass commented on #319
i solved my friend
i remove my pod master and install it again now i get the version 2.5.5
thank you very much

[2017-03-09 07:06] #319 closed

[2017-03-09 07:06] vninfo commented on #314
Great!. It works. Thanks.

[2017-03-09 12:06] peterpaulis opened #321 "XCDYouTubeVideo should always be returned if possible"
Even in case of an error, the XCDYouTubeVideo should always be returned, as it contains the

**thumbnail** and **title**, which can be used by the UI to display

[2017-03-09 12:34] peterpaulis commented on #321
pls marge https://github.com/0xced/XCDYouTubeKit/pull/201

[2017-03-09 12:35] MukundSonaiya opened #322 "How do I mute the movie player?"

[2017-03-09 13:14] SoneeJohn commented on #321
@peterpaulis I believe that could create some confusion. For example, if you try to fetch a private video or a video that  was deleted then how would you get the **thumbnail&* and the **title**?

Below is an example of the how a `XCDYouTubeVideo` would be initialized with a private video. Note the `NSDictionary` keys and values.

![screen shot 2017-03-09 at 9 08 26 am](https://cloud.githubusercont

[2017-03-09 13:18] peterpaulis commented on #321
in the change i propose the error video is returned within the userInfo of the error... so it would not conflict anything or existing versions...

[2017-03-09 13:22] SoneeJohn commented on #321
@peterpaulis That's a good idea. However, have come across a video that had no streams but still had the **title** and **thumbnail** values?

[2017-03-09 13:34] SoneeJohn commented on #310
@mannanr As per the [contributing guidelines:](https://github.com/0xced/XCDYouTubeKit/blob/1d784c24cc6d6dd0567fec019ed29bbfd1386e89/CONTRIBUTING.md#submitting-issues)

Are you sure that you are getting a *crash* or simply an error? From what I understand `XCDYouTubeKit` cannot fetch the streams of private videos and will simply return an error in a case like this. Also, it would be help if you pro

[2017-03-09 15:56] chunholi commented on #309
The fix really works! Thanks so much!

[2017-03-09 17:25] peterpaulis commented on #321
Yes, this can happen fairly often, like with the Vevo content

[2017-03-09 18:21] SoneeJohn commented on #321
@peterpaulis I will admit I haven't tested that 🙂

[2017-03-10 07:06] flamme0011 opened #323 "Download only music"
Is there any option to download only music with m4a format not video?

[2017-03-12 18:35] patrickjquinn commented on #323
140 is 'audio/mp4'

figure out the rest yourself (Breadcrumbs for you to follow ;) )

[2017-03-12 19:00] patrickjquinn opened #324 "Update Pods version of 2.5.5"
Hi there,

The Pods version is still 2.5.4, would it be possible to update this to 2.5.5? Its causing chaos with my project 👍

[2017-03-12 19:05] 0xced commented on #324
The [2.5.5 spec](https://github.com/CocoaPods/Specs/blob/43917abc207e7f97514a3df3c4972a1a9ff64640/Specs/7/d/3/XCDYouTubeKit/2.5.5/XCDYouTubeKit.podspec.json) is already published. Please run `pod update` to update XCDYouTubeKit to the latest version.

[2017-03-12 19:05] #324 closed

[2017-03-12 19:13] patrickjquinn commented on #324
Oh! Sorry, pods where being cached, my bad!

[2017-03-13 03:30] hodalgun opened #325 "Wrong download with *.m4a(itag = 140) files. Duration of the download audio twice the one of the youtube video."
For some reason on Youtube, the extract audio will have a duration twice the one on youtube. So for example I download a 3:30 minutes video, the audio will be 7 minutes.
Does someone have the same problem?
Thanks

[2017-03-14 07:58] #323 closed

[2017-03-16 04:36] akash-mastercreationz commented on #311
Thanks @SoneeJohn , @0xced  for the help.

[2017-03-18 06:07] akash-mastercreationz opened #326 "Play the last played video from the stop time."
Is there any way to save the songs played and whenever user play the same song, the song will start from the time it was stopped. Like in youtube .

[2017-03-20 05:46] akash-mastercreationz opened #327 "Start Playing the video from specific time(like from 50th second)."
Can we play the viodeo from specific time .(like if the last played video was stoped at 40th second and when the user plays the same video after some time, it will start from 40th second)

[2017-03-24 01:08] SoneeJohn commented on #327
@akash-mastercreationz if you're using `AVPlayer` to can use the `-seekToTime:` [method](https://developer.apple.com/reference/avfoundation/avplayer/1385953-seektotime?language=objc)

[2017-03-24 01:14] SoneeJohn commented on #326
@akash-mastercreationz you will need to save the time of the video (if you're using `AVPlayer`you can use `-currentTime` [method](https://developer.apple.com/reference/avfoundation/avplayer/1390404-currenttime?language=objc). Once you've saved this data somewhere maybe in an `NSMutableDictionary` when the user plays the video, again assuming that you're using `AVPlayer` use the `-seek​To​Time:` in

[2017-03-24 01:22] SoneeJohn commented on #326
@akash-mastercreationz here is a code snippet on how to use the seeking.

[code]

[2017-03-24 01:40] SoneeJohn commented on #326
@akash-mastercreationz you will probably want to use KVO and observe the changes of the `AVPlayerItem`'s status.

[2017-03-27 09:30] baohung02 opened #328 "Counting view for youtube video?"
Atter I integrated this lib, I can view video from youtube, but count view didn't update after I played video. Can we trigger view count for view?

[2017-04-07 06:37] kuldeep13990 opened #329 "Video not playing with Amazon URL."
I am trying to play video from amazon URL but this error occurs.

Video operation finished with error: Invalid parameters.

is it possible to play custom url rather than youtube video id?

[2017-04-07 07:15] kuldeep13990 opened #330 "change video quality while video is playing or streaming?"
i want to change video quality as per user selection while video is playing like youtube.

i change quality by below code.

videoPlayerViewController.preferredVideoQualities = @[@(XCDYouTubeVideoQualityMedium360)];

but there's no reflection in video quality in video player.

how to refresh videoPlayer so it can play with changed quality?

[2017-04-07 09:23] JJGEight commented on #329
I feel this is more for StackOverflow rather than GitHub. However this should work for you:

`XCDYouTubeVideoPlayerViewController *videoPlayerViewController = [[XCDYouTubeVideoPlayerViewController alloc] initWithContentURL:[NSURL URLWithString:@"URL"]];`

[2017-04-07 09:37] kuldeep13990 commented on #329
@JJGEight  thanks for reply. but that is not working as you mentioned above, it will throw exception.

[2017-04-07 09:43] JJGEight commented on #329
@kuldeep13990 you can just edit XCDYouTubeVideoPlayerViewController and comment out the following to stop the exception and to inherit make XCDYouTubeVideoPlayerViewController inherit from MPMoviePlayerViewController.

[code]

Probably should have added this before, apologies.

[2017-04-07 09:48] 0xced commented on #329
The exception is there you tell you that you are not using `XCDYouTubeVideoPlayerViewController` properly. If you already have a movie URL to play, you simply don’t need XCDYouTubeKit at all, just use an [AVPlayerViewController](https://developer.apple.com/reference/avkit/avplayerviewcontroller).

[2017-04-07 09:48] #329 closed

[2017-04-07 09:56] 0xced commented on #330
This has already been discussed in #57 and #311 and the answer is basically: you can’t. Sorry.

[2017-04-07 09:56] #330 closed

[2017-04-07 09:59] 0xced commented on #328
No you can’t, sorry. If you want the view count to update, you should use the [official YouTube library](https://developers.google.com/youtube/v3/guides/ios_youtube_helper) but you won’t get access to video URLs.

[2017-04-07 09:59] #328 closed

[2017-04-07 10:08] 0xced commented on #327
You can try this:
[code]

If it doesn’t work, try setting the initialPlaybackTime when receiving `XCDYouTubeVideoPlayerViewControllerDidReceiveVideoNotification`.

[2017-04-07 10:08] #327 closed

[2017-04-07 10:10] 0xced commented on #326
Closing this as a duplicate of #327.

[2017-04-07 10:10] #326 closed

[2017-04-07 10:11] 0xced commented on #312
That’s the standard behaviour of `MPMoviePlayerViewController`, which `XCDYouTubeVideoPlayerViewController` inherits so there’s not much I can do about it.

[2017-04-07 10:11] #312 closed

[2017-04-07 10:13] 0xced commented on #256
No reply from original poster, so I’m closing the issue.

[2017-04-07 10:13] #256 closed

[2017-04-07 10:14] 0xced commented on #305
No reply from original poster, so I’m closing the issue.

[2017-04-07 10:14] #305 closed

[2017-04-07 18:15] patrickjquinn commented on #325
If you can, divide the duration of your track / 2 and display it as such, then have a timer run a scheduled update which checks if progress is duration - 0.5 in order to move to the next track (if you need that functionality). That timer should run every 0.4 seconds and on a GCD thread.

Good luck! (This is all 'what if' stuff, Google dont allow audio extraction / description in their TOS)

[2017-04-09 05:20] lovecactus opened #331 "Thumbnail fetch failed."
Hi,

I've found youtube's API returns different params about thumbnail.
XCDYouTubeKit is loading the these keys:
		NSString *smallThumbnail = info[@"thumbnail_url"] ?: info[@"iurl"];
		NSString *mediumThumbnail = info[@"iurlsd"] ?: info[@"iurlhq"] ?: info[@"iurlmq"];
		NSString *largeThumbnail = info[@"iurlmaxres"];

However I saw youtube returns thumbnail in this way:
    "thumbnail_url" = "https

[2017-04-09 10:52] ewwink commented on #331
no need API, here youtube thumbnail format
`https://i.ytimg.com/vi/<video_id>/<size>.jpg`
`size` can be
- default
- sddefault
- mqdefault
- hqdefault
- maxresdefault

[2017-04-10 02:32] lovecactus commented on #331
Thanks for the suggestion.  👍
It would be nice if XCDYouTubeKit has values too.

[2017-04-13 09:40] changbenny opened #332 "Stop streaming of video when using AVPlayer"
I use following code mentioned in https://github.com/0xced/XCDYouTubeKit/issues/157 to get the stream of videos.

[code]

But I cannot stop the stream when I dismiss or stop the player, is there related functions exposed?

[2017-04-13 09:43] changbenny commented on #322
You should use AVPlayer to catch video stream (https://github.com/0xced/XCDYouTubeKit/issues/157). And you can easily mute video in AVPlayer.

[2017-04-13 09:59] changbenny commented on #332
just pause the avplayer, remove player layer and set player to `nil`.

[2017-04-13 09:59] #332 closed

[2017-04-20 17:31] ninoid opened #333 "Custom player views design"
Is possible to use the same functionlalities with other players controls layout and style?
Like custom slider which is same as one one used by original youtube app, or custom play and pause images which are centered in player?
Thanks for any advice! :]

[2017-04-25 02:19] vivekathilkar opened #334 "Not able to autoplay of next song"
I used xcdyoutube in my player it works fine
But am not able to autoplay next song, i.e After click for next song I have to manually play the song on to listen
It does not autoplay the next songs
Plz give me solution...Waiting for reply

[2017-05-02 17:29] entotsu commented on #318
Thank you for great framework.

I still have a same problem.

At version 2.5.5, Also Failed to get video url at these videos:
https://www.youtube.com/watch?v=eAZciRL4STE
https://www.youtube.com/watch?v=qkJL-l5RoBw

with same error...

[code]

ENV:
iPhone 6s, iOS 10
everything default setting

[2017-05-03 07:50] entotsu opened #335 "unsupported URL"
Thank you for great framework.

I still have a same problem of https://github.com/0xced/XCDYouTubeKit/issues/318.

At version `2.5.5`, Also Failed to get video url at these videos:
https://www.youtube.com/watch?v=eAZciRL4STE
https://www.youtube.com/watch?v=qkJL-l5RoBw

with same error...

[code]

ENV:
iPhone 6s, iOS 10
everything default setting

[2017-05-05 08:32] 0xced commented on #335
Are you sure you are using version 2.5.5 ?

If you ran pod update without updating the iOS platform to iOS 8 in your Podfile, XCDYouTubeKit will be stuck at version 2.5.3.

[code]

As of version 2.5.5, it should not be possible to have an invalid URL not starting with `https://` see [XCDYouTubeVideoWebpage.m:85](https://github.com/0xced/XCDYouTubeKit/blob/2.5.5/XCDYouTubeKit/XCDYouTubeVideoWebpage

[2017-05-05 09:08] entotsu commented on #335
Thank you for reply. :pray:

Now I comfirmed the version is '2.5.5' surely.

[code]

---

And code of my wrapper class is here.

[code]

---

And now I comfirm that specific URL occured same error... 😭

ID: `eAZciRL4STE`

[code]

[2017-05-05 09:10] entotsu commented on #335
And I use only video ID.

`XCDYouTubeClient.default().getVideoWithIdentifier(youtubeId)`

[2017-05-10 04:47] BharatAgarSoftTech commented on #221
XCD should remove below code from "XCDYouTubeVideoPlayerViewController.h"

self.moviePlayer.controlStyle = MPMovieControlStyleEmbedded;

I can set control style from my code, because of the above code I am not able to set control style from my code.

i already try YouTubeXCD.moviePlayer.controlStyle = MPMovieControlStyleNone
but its not working, but after removing one line of code from "XCDYouTube

[2017-05-15 05:13] entotsu commented on #335
🤔

[2017-05-24 07:04] flamme0011 opened #336 "Audio stops locking the device"
Using the home button and then pressing the power button to lock the device, audio playing background. However if I am in the app and then press the lock button, the audio stop.
I am using swift.
I solved the problem with darwin notification then I can continue playing but apple rejected my app because of darwin notification. Now I remove it and now I have a problem.

How can I solve my problem?

[2017-05-24 09:01] josharnoldjosh commented on #254
Hey guys,

I know this is late, but I've found a solution that works without removing the layer, however, it still causes a small skip.

Basically, if you implement the following notification:

`NotificationCenter.default.addObserver(self, selector: #selector(MusicPlayerView.playerStateChanged), name: NSNotification.Name.MPMoviePlayerPlaybackStateDidChange, object: nil)
`

You can then have a meth

[2017-05-25 06:07] flamme0011 opened #337 "Video not continue"
When I lock the device audio contiune playing (it is good), after open device video is not continue. Just a black screen. (Audio still continue)

[2017-06-01 12:16] akash-mastercreationz commented on #336
I have the same issue , like when the app is foreground and is playing. When the lock button is pressed. the audio pause for 2 seconds and then play. Any solution if anyone having

[2017-06-14 20:20] frakman1 commented on #309
@k06a I tried adding your one-line fix directly to my code but I still get this error:
`Video operation finished with error: This video contains content from VEVO. It is restricted from playback on certain sites or applications. Watch on YouTube`
Fails when attempting to watch [this video](https://www.youtube.com/watch?v=pAgnJDJN4VA)
I am using version 2.3.2
Any ideas on how to proceed?

[2017-06-14 20:51] k06a commented on #309
@frakman1 just checked this video from my custom app, it is playing fine:
<img src="https://user-images.githubusercontent.com/702124/27154039-4a85c54c-515c-11e7-9468-73f63a9e400f.PNG" width="50%">

[2017-06-14 21:24] frakman1 commented on #309
@k06a Thanks for writing back. It has to do with the fact that I was starting from 2.3.2 because that one line change didn't fix it. When I manually ported over all the changes of the latest current code from github, I finally got it to work. I can't use pod updates because I foolishly made some local changes to one of the files that I have to preserve (oops)

[2017-06-15 06:18] k06a commented on #309
@frakman1 you should fork this repo, commit your changes to separate branch, link it to your project like I show you before and open PR for your changes to be merged :)

[2017-06-15 22:02] frakman1 commented on #309
"like I show you before" ? When ?
Actually, my changes are unrelated to the YouTube project and part of my own app. I should have sub-classed but I didn't know how to do that.

[2017-06-16 07:37] k06a commented on #309
@frakman1 link your fork this way:
[code]

[2017-06-20 12:03] srinivasgadda opened #339 "MPMoviePlayerViewController got deprecated in iOS9. Can you please update it to have AVPlayerViewController?"
XCDYouTubeVideoPlayerViewController is a subclass to MPMoviePlayerViewController and we need to use XCDYouTubeVideoPlayerViewController to play a video. It is better to have it subclass from AVPlayerViewController since MPMoviePlayerViewController deprecated in iOS 9.

[2017-06-23 13:33] 0xced commented on #339
Plase refer to https://github.com/0xced/XCDYouTubeKit/issues/157#issuecomment-208328872 if you absolutely want to use AVPlayerViewController.

[2017-06-23 13:33] #339 closed

[2017-06-24 09:05] hoangphan92 commented on #82
I found solution in here:  https://gist.github.com/MylesCaley/75a08a3006ad0109271b5fdc5075dfc7
hope it will useful for you !! ^^

[2017-06-28 18:30] MarkusWu opened #340 "How to play a local video."
Hi,
I am trying to play a local video file with XCDYouTubeVideoPlayerViewController.
Is it possible to play a local video, which is saved in the documentDirectory?

[2017-06-30 15:09] MarkusWu commented on #340
I am going to answer my own answer. At the time of writing this answer, XCDYouTubeVideoPlayerViewController does not support local video playing, but you can modify the code a little bit to make it work . In case anyone might be also interested in playing local video, here is the workaround.

Since XCDYouTubeVideoPlayerViewController is a subclass of MPMoviePlayerViewController, you can just use i

[2017-06-30 15:09] #340 closed

[2017-08-09 16:21] NikKovIos opened #341 ""skipping input stream" log"
Hello!
There is a problem - after implementing player in Swift 3 by this [comment](https://github.com/0xced/XCDYouTubeKit/issues/157#issuecomment-208328872)
after dismissing a player there is a log, thas is continue to appear every second:
` [aqme] 254: AQDefaultDevice (173): skipping input stream 0 0 0x0`

I'm using simulator IphoneSE

[2017-08-11 10:13] theoks opened #342 "Prevent auto-dismiss after video has finished playing"
I am using the `XCDYouTubeVideoPlayerViewController` in order to present a YouTube video in my iOS app. How can I prevent the auto-dismiss of the `XCDYouTubeVideoPlayerViewController` after the video has finished playing? I am using **Swift 3**.

Thank you in advance.

[2017-08-17 21:20] vvavepacket opened #343 "did youtube banned you?"
did anyone use this package, did youtube find it out? anyone banned?

[2017-08-24 01:58] light-bo opened #344 "How to support iOS7.0?"
I want to support **iOS 7.0**, i want to know where the codes that invoke api which only support iOS 8.0 and later, then i can modify it to support iOS7.0?  Looking forward to your reply. ^_^

[2017-08-26 01:58] Bigjohn123 commented on #344
我决定写个宏，真机调试，遇到崩溃或者出问题的地方就改用ios7被高版本废弃的方法

[2017-09-06 00:44] mhillebrand206 opened #345 "Cannot build with Carthage 0.25, Xcode 9, Swift 3.2"
[code]

...

[code]

[2017-09-07 10:06] sprother opened #346 "How to get file size and format"

[2017-09-10 20:33] thiagoperes commented on #345
+1

[2017-09-15 10:08] swalehap opened #347 "Compile time issue"
Building on Xcode9 beta.
Error: Implicit conversion from nullable pointer 'Method _Nullable' (aka 'struct objc_method *') to non-nullable pointer type 'Method _Nonnull' (aka 'struct objc_method *')

Filename : XCDYoutubeLogger.m
Line:
const char * typeEncoding = method_getTypeEncoding(class_getClassMethod(DDLogClass, logSeletor));

method : initialize
Pls fix this issue.

How can we get compiled v

[2017-09-17 03:46] salmankhann opened #348 "Integrating with project without Workspaces"
Hello,

I would like to integrate XCDYouTubeKit in my ReactNative project but would like to shy away from using workspaces because they don't play well with React Native. How can I integrate your library without using workspaces into my project?

[2017-09-17 13:13] sixty8 commented on #345
+1

[2017-09-17 13:20] sixty8 opened #349 "Cannot build with Carthage, Xcode 9, Swift 3.2, Swift 4.0"
Build Failed
	Task failed with exit code 65:
This usually indicates that project itself failed to compile.

[2017-09-21 18:17] sixty8 commented on #349
do we have any **news** about this issue?

[2017-09-22 23:46] 0xced commented on #349
I have released version 2.5.6 with Xcode 9 support.

[2017-09-22 23:46] #349 closed

[2017-09-22 23:47] 0xced commented on #347
I have released version 2.5.6 with Xcode 9 support.

[2017-09-22 23:47] #347 closed

[2017-09-22 23:47] 0xced commented on #345
I have released version 2.5.6 with Xcode 9 support.

[2017-09-22 23:47] #345 closed

[2017-09-22 23:49] 0xced commented on #341
This log is produced by the AudioToolbox framework. There is nothing that XCDYouTubeKit can do about it, sorry.

[2017-09-22 23:49] #341 closed

[2017-09-23 00:02] 0xced commented on #344
I remember that the `-[XCDYouTubeVideo debugDescription]` method uses `NSDateComponentsFormatter` which is only available since iOS 8. I will not provide further guidance to enable iOS 7 support, sorry.

[2017-09-23 00:02] #344 closed

[2017-09-27 10:49] kotromeo opened #351 "iPhone x support"
Need padding from top of the screen
![iphone x - ios 11 0 2017-09-27 13-21-17](https://user-images.githubusercontent.com/6111034/30909654-9cb1bb84-a38a-11e7-8901-c3a8d1c61d15.png)

[2017-09-29 10:02] bartando commented on #348
Just use the library by downloading it and then importing it to your normal project, without the workspace usage?

[2017-09-29 10:04] bartando commented on #343
Having this 2 years now in my app and nothing has happened. I wouldn't worry that much, there's no way youtube can ban you trough this. This app doesn't use any key or anything. They would have to ban every single user that is using app with this lib. Very unlikely

[2017-10-05 08:50] yakubbaev commented on #43
+1
Another solution https://stackoverflow.com/a/27796287/409440

[2017-10-05 09:31] ajay2c9 opened #352 "can we use this for facebook videos?"
I am using XCDYouTubeKit in my app . can we use the facebook video url to download and play by using this kit. Is there any other SDK to download and play the facebook videos using URl
please give suggestions.
Thank you

[2017-10-11 17:38] insist159 opened #353 "How to do in the background when the player can automatically play the next one"
How to do in the background when the player can automatically play the next one

[2017-10-11 17:46] insist159 commented on #353
I have done in the foreground mode automatically switch songs, but the background will not succeed

[2017-10-12 06:14] insist159 commented on #353
@0xced

[2017-10-20 14:46] SoneeJohn opened #354 "Some 1080p videos unable to fetch"
I know this might be beyond the scope of the library (1080p itag=137) however, as the title says some video cannot be fetched with the library anymore. E.g https://youtu.be/Jk3IjaSfB2A With that said youtube-dl doesn't suffer from this issue. I will investigate further :-)

[2017-10-20 16:36] SoneeJohn commented on #354
Looks like some the other DASH formats can be found by in manifest.googlevideo.com

[2017-10-20 18:46] SoneeJohn commented on #354
I figured it out. The library currently gives you the URL to the DASH manifest. The key is `dashmpd`

Example URL:
https://manifest.googlevideo.com/api/manifest/dash/initcwndbps/220000/mt/1508524783/playback_host/r1---sn-4avf-cbpe.googlevideo.com/key/yt6/expire/1508546454/id/264dc88da49f0760/hfr/all/mm/31/mn/sn-4avf-cbpe/ms/au/itag/0/ei/NkPqWf7HLJOm-wX3862AAQ/signature/4A9B5F82418E681D7AE33A5C7715

[2017-10-22 04:40] SoneeJohn commented on #354
I've been working on it and trying to unscramble signatures. Some of the URLs appear to have encrypted signatures. @0xced  any thoughts on this?

[2017-10-24 14:38] SoneeJohn commented on #354
I began piecing it together and I believe I figured it out :-)

[2017-10-26 11:20] lucasbordini opened #357 "Player desappears 1 second after appear"
I have a simple storyboard with a button, and a function that start the player when the button is touched

the code:

struct YouTubeVideoQuality {
        static let hd720 = NSNumber(value: XCDYouTubeVideoQuality.HD720.rawValue)
        static let medium360 = NSNumber(value: XCDYouTubeVideoQuality.medium360.rawValue)
        static let small240 = NSNumber(value: XCDYouTubeVideoQuality.small240.raw

[2017-10-26 12:17] #357 closed

[2017-10-28 06:06] skdevil opened #358 "Volume without earphones is too low"
Hey, I am using this library to play youtube videos which is working as desired but the only issue is the volume. Its too low but with earphones its better.
Do you have any idea how to tackle this problem ?
Thanks! @0xced

[2017-10-28 08:10] skdevil commented on #358
Okay I fixed it by overriding the speaker output. Now the default is speaker only.
If anyone is facing this silly problem add this before playing video.

let audioSession = AVAudioSession.sharedInstance()

        do {
            try audioSession.overrideOutputAudioPort(AVAudioSessionPortOverride.speaker)
        } catch let error as NSError {
            print("audioSession error: \(error.locali

[2017-10-28 08:10] #358 closed

[2017-11-06 07:16] flashryul commented on #351
I'm waiting for this issue to be a patch.

[2017-11-06 23:17] andewkaz opened #359 "Videos not loading again, YouTube must have updated badly, Blocked- DRM from UMG, record labels etc., TIC TCP Errors, iOS 11 <<"
Logging from my app says most of it. Blocked from UMG, then perhaps even if it does load, TICP TCP connection failed error -65554, and then NSURLConnection error -1003.

Short log:

2017-11-06 18:09:52.968617-0500 Lightspeed[1514:542365] TIC TCP Conn Failed [4:0x1c4177700]: 12:8 Err(-65554)
2017-11-06 18:09:52.970640-0500 Lightspeed[1514:541579] Task <9F6E4E00-DC97-42A4-B072-5C448205BDD9>.<0> HTTP

[2017-11-07 01:56] khoozhiyan1997 commented on #359
i am having the same issues using 3G/Data but it working fine over Wifi

[2017-11-07 18:59] SoneeJohn commented on #359
@andewkaz according to YouTube `2DF6y2JTTHU` doesn't exist however, `wa62PSDKJqs` works fine on my end.

[2017-11-08 04:03] oososo opened #360 "Does SCDYouTubeKit support play a video offline?"
If It played a video online , could it cache the video data so that it can play the video next time without internet.

[2017-11-13 03:53] andewkaz commented on #359
Update on this? It still doesn't work for me. iOS 11. It worked on iOS 10, but not 11. That may be it.

[2017-11-15 19:09] SoneeJohn commented on #360
@oososo Yes you can. However, you will need to write come sort of networking code for that like [`NSURLSession`](https://developer.apple.com/documentation/foundation/urlsession)

[2017-11-19 19:12] ConfusedVorlon commented on #351
yup - would be great if you could sort this.

[2017-11-20 10:00] kieuquangloc147 opened #361 "Change MPMoviePlayerViewController to AVPlayerViewController from iOS 9"
Hi @0xced , could you change MPMoviePlayerViewController to AVPlayerViewController?

[2017-12-04 22:45] darkForestCat opened #362 "An error after changing preferredVideoQualities"
In my app user can choose quality: high(just default one) or Low(240p)
I am setting 240p like this:

`            self.currentVideoController.preferredVideoQualities = [XCDYouTubeVideoQuality.small240]
`
So when I do it i am getting this error:

Terminating app due to uncaught exception 'NSGenericException', reason: 'XCDYouTubeVideoPlayerViewController must not be used in the completion handler of

[2017-12-08 18:38] yoasha commented on #351
Such fix would be greatly appreciated.

[2017-12-27 08:03] tiwariammit opened #363 "know when full screen is present?"
I have added xcdYoutube player in custom view and i want to know when i clicked on full screen method? How should i know the trigger of full screen and dismiss of it? Currently i am doing in objective c. Please anyone let me know how it works?

[2017-12-29 11:26] oososo opened #364 "Does XCDYouTubeKit support audio only?"
Does XCDYouTubeKit support audio only? Thank you very much.

[2017-12-29 13:16] KiranPanesar commented on #364
`XCDYouTubeClient`'s `-getVideoWithIdentifier:videoId:completionHandler:` method will give you the raw MP4 URLs. You can then pass them to the audio player of your choosing. I would recommend [FreeStreamer](https://github.com/muhku/FreeStreamer) as I'm unsure if the default Apple frameworks will support this behaviour.

If you want to use core Apple frameworks, you can also try using the `getVideo

[2018-01-08 05:35] #363 closed

[2018-01-12 11:06] shaoyj commented on #309
Header添加
origin:https://www.youtube.com
referer:https://www.youtube.com/watch?v=nhNqbe6QENY
完美解决

[2018-01-18 13:02] antespajic opened #365 "XCDYouTubeVideoPlayerViewController crashing the app"
* State which version of XCDYouTubeKit you use in your report.
  * 2.5.6. (bt all report) and 2.5.4. (fabric report)
* State which version of the iOS or OS X SDK you use.
  * iOS 9
* State which device (or simulator) you use and the exact OS version in your report.
  * iPhone 8, iOS 11.2.2
  * iPhone X, iOS 11.2.2
* If you encounter a crash, provide a stack trace. At the time of the crash, just ty

[2018-01-25 10:28] anhhtbk opened #366 "iOS 11 can't swipe volume"
It is correctly on my iOS9 device, but on all iOS 11 device, I can't use feature swipe slider to change volume

[2018-01-26 03:18] anhhtbk commented on #366
https://github.com/0xced/XCDYouTubeKit/issues/157

[2018-01-26 03:18] #366 closed

[2018-02-13 15:03] chaocharleswang opened #367 "Can I just download one portion of the video?"
If possible, how can I do it? Thanks!

[2018-03-01 03:36] NarayananKannan opened #368 "<1> finished with error - code: -999 in tvOS app."
I tried to create the AVPlayerView with the streamURL (the streamURL works on the browser) I get the following error in the console and nothing more.

Task <B5EB0721-1725-41E7-B6F0-9D5D43D2D8D6>.<1> finished with error - code: -999

[2018-03-10 06:29] mon9403 opened #369 "Part of video."
How I can download part of video from youtube ?

[2018-03-10 06:30] #369 closed

[2018-03-27 12:06] kilirushi commented on #245
How to fix this?. I have same this issue.

[2018-04-19 10:57] NallapatiMalleswari opened #370 "AVAudioSessionRoutechange"
Headphones plugin or out the youtube video has to play ,But now it is not playing with AVAudioSessionroutechange.

[2018-04-25 09:30] alpamys-qanybet opened #371 "button to rotate the view(not device orientation)"
I was able to achieve fullscreen player to be in landscape mode while my application in portrait only(locked and ignoring device orientation), by rotating the view of XCDYouTube in [react-native-youtube](https://github.com/inProgress-team/react-native-youtube), `RCTYoutubeStandalone.m`

[code]

Now I want the user him/herself rotate the XCDYoutube view only and have the button as Youtube has for f

[2018-04-27 20:57] Wouter125 commented on #368
Same issue over here, audio is playing but video is missing. Also noticed that on load I'm getting the following warning:

`[XCDYouTubeKit] JavaScript exception: TypeError: window.matchMedia is not a function. (In 'window.matchMedia("(max-width: 656px)")', 'window.matchMedia' is undefined)`

I've been using the SDK for over a year now, and these issues just started. Unfortunately, I don't think th

[2018-05-24 10:14] oososo commented on #207
Could you tell us how you fix that?

[2018-05-28 01:58] yangjianwei2015 opened #373 "MPMoviePlayerControllerNew has wrong activation state"
Hello! Since the last update (2.5.6) I am facing a issue with XCDYouTubeVideoPlayerViewController. When i init with videoIdentifier at first, works fine. But when i change the video in my table view and init again with the identifier im getting this exception:

Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'movie player <MPMoviePlayerControllerNew: 0x12eeeed

[2018-06-01 06:26] yangjianwei2015 opened #374 "The MPMoviePlayerViewController class is formally deprecated in iOS 9. (The MPMoviePlayerController class is also formally deprecated.)"
The MPMoviePlayerViewController class is formally deprecated in iOS 9. (The MPMoviePlayerController class is also formally deprecated.)

[2018-06-02 19:09] sixty8 opened #375 "JavaScript exception: TypeError: window.matchMedia is not a function"
[XCDYouTubeKit] JavaScript exception: TypeError: window.matchMedia is not a function. (In 'window.matchMedia("(max-width: 656px)")', 'window.matchMedia' is undefined)

[2018-06-14 11:13] sixty8 opened #376 "Is this SDK still supported?"

[2018-07-20 15:08] ogezue opened #377 "Show Subtitles"
I have enabled to display subtitles on my youtube settings for every video, but I don't get them in AVPlayer. Is there a setting in XCDYoutubeKit to enable them?

[2018-07-20 15:24] SoneeJohn commented on #377
Unfortunately, there isn’t.

[2018-07-20 17:59] ogezue commented on #377
are there alternatives?

[2018-07-22 00:44] SoneeJohn commented on #377
@ogezue You will most likely have to do download the video and then process it by adding the subtitles manually. If you want to show then while streaming (which is what you seem that you want) then you will have to build additional custom work.

[2018-08-03 10:58] samirkhatri commented on #127
Please let me know how i can get .mp3 format url.

[2018-08-10 06:50] samirkhatri commented on #127
Hi is there any way to get .mp3 format audio as output ? because i want to merge with image frame  and create new video.
Please help me on this.

[2018-08-11 16:35] ogezue commented on #377
I don't have any idea how to achieve this. Can you point me into the right direction?
Why is it working in Browser?

[2018-08-12 10:32] XRadevFRT opened #378 "XCDYouTubeKit + YouTube authentication?"
Greeting every on and great job 0xced,

I'm just wondering...can this library co-work with the youtube authentication. Of course the idea is to fetch and play your videos after you log in in your youtube account.
I haven't implemented it yet, but just wondering.

[2018-08-12 13:24] XRadevFRT opened #379 "Some questions about XCDYouTubeKit and How To's"
Hello everyone :)

(...just want to say that I'm quite new to this)
So first lets explain what I want to achieve:
In my situation I have one screen with list (maybe tableView) of youtube videos.
When one of those videos is tapped, a UIView playing the selected video shows at the bottom (in my case the UIView contains the XCDYouTubeVideoPlayerViewController).
The player must NOT contain any control

[2018-08-12 14:07] XRadevFRT commented on #378
You mean the _identifier_ is the user ID or the video ID...
If we get a list of videos, aren't the IDs of the videos contained in the response? Can't we just use them to init the XCDYouTube?

[2018-08-12 14:13] ogezue commented on #378
Identifier is the identifier of the caption.

Here is how I retrieve the captions list, select the English one an try to download it:

` func fetchCaptions(videoId: String?, successHandler: @escaping () -> Void, errorHandler: @escaping () -> Void){

        guard let videoId = videoId else {
            return
        }

        let query = GTLQueryYouTube.queryForCaptionsList(withPart: "snippet",

[2018-08-14 11:01] SMorozovMinsk opened #380 "XCDYouTubeKit and ipv6"
HI,
I using XCDYouTubeKit in my tvOS app. But instead AVPlayerViewController I use AVPlayer.
On iPV4 it's works fine. But when I test my app on iPV6 it's don't work. I received some thing like this:

    "m_Limit" = "m_LimitAll";
    "r_Attributes" = 1;
    sync = syna;

Do you know XCDYouTubeKit works with iPV6?

[2018-08-16 03:44] oososo opened #381 "【NEED HELP】 two songs playing at the same time."
When a song is in the process of loading, switch to play another song. In this way, there will be two songs playing at the same time.

[2018-08-24 09:28] ankurbrightlifecare commented on #335
I'm also facing same issue

[2018-08-24 18:46] 0xced commented on #335
Can you please provide the video id you used? I just tried with https://www.youtube.com/watch?v=eAZciRL4STE but this video is unavailable.

[2018-08-28 09:27] simran-lbbd commented on #375
Facing the same issue

[2018-09-07 17:41] sixty8 opened #382 "-2 The operation couldn’t be completed. (XCDYouTubeVideoErrorDomain error -2.)"
Is this the end of XCDYouTubeVideo?

[2018-09-07 18:36] SoneeJohn commented on #382
It appear to be an issue with a JavaScript function. A possible fix was proposed here

https://github.com/rg3/youtube-dl/pull/17464

I will work on implementing this fix and running the unit tests that the library contains to confirm. However, I won’t be able to until this weekend. Maybe @0xced might have it fixed by then. :-)

[2018-09-07 20:46] SoneeJohn commented on #382
See #383

[2018-09-07 23:32] yangjianwei2015 commented on #382
Sdk internal breakpoint ，
info：
errorcode = "150",
"reason":"This video is unavailable."

[2018-09-07 23:46] yangjianwei2015 commented on #382
https://github.com/0xced/XCDYouTubeKit/pull/383/files

[2018-09-07 23:48] yangjianwei2015 commented on #382
thank you  [marktgodfrey](https://github.com/marktgodfrey)

[2018-09-08 05:56] darkForestCat commented on #382
@yangjianwei2015 does this work right now, still getting the errors also after your fix in the XCDYouTubePlayerScript.m file.May be I am doing something in a wrong way?

[2018-09-08 07:28] dimacorp commented on #382
@darkForestCat hey, how do you request this specific commit/pull request with a podfile? I tried the following:
    pod "XCDYouTubeKit", :git => 'https://github.com/0xced/XCDYouTubeKit.git', :branch => 'master', :commit => 'bf5cfb4'

pod update worked ok but it looks the code is still original (don't see the proposed fix).

[2018-09-08 10:36] JmyW commented on #382
Can 0xced help to add the solution in code for cocoapod? thank you so much!

[2018-09-08 16:01] JmyW commented on #382
Same as @darkForestCat, moved all lib. files into my project for resolving it. :-)

[2018-09-09 15:14] GizumoMoca opened #384 "Error with specific video"
XCDYouTubeKit version to 2.5.6

VideoID: 09R8_2nJtjg
Xcode: 9.4
target: 8.0

[2018-09-10 01:34] letungit90 commented on #384
same here, it happened 2 days ago

[2018-09-10 07:51] dota2AndTI opened #385 "Error Domain=XCDYouTubeVideoErrorDomain Code=-2"
Error Domain=XCDYouTubeVideoErrorDomain Code=-2
版本2.5.6还是会出现这个问题，希望尽快解决

[2018-09-10 09:16] GizumoMoca commented on #384
Thank you.

[2018-09-10 09:16] #384 closed

[2018-09-10 10:07] GizumoMoca commented on #384
See #383

[2018-09-10 20:46] SoneeJohn commented on #385
See #383. You will have to manually add it to your project until the PR is merged by the maintainer.

[2018-09-10 22:20] arturremizov opened #386 "Unable to play certain Youtube Videos"
[XCDYouTubeKit] JavaScript exception: TypeError: window.matchMedia is not a function. (In 'window.matchMedia("(max-width: 656px)")', 'window.matchMedia' is undefined)
[XCDYouTubeKit] JavaScript exception: TypeError: window.matchMedia is not a function. (In 'window.matchMedia("(max-width: 656px)")', 'window.matchMedia' is undefined)
[XCDYouTubeKit] No signature function in player script
[XCDYouTube

[2018-09-10 23:14] #386 closed

[2018-09-10 23:27] jdadojr opened #387 "Video Unavailable on IOS only"
sorry wrong location

[2018-09-10 23:32] #387 closed

[2018-09-11 19:16] edgarnsr commented on #375
Same here

[2018-09-12 10:34] JonJC opened #388 "Have YouTube recently changed where files served from or cracked down on XCDYouTubeKit?"
Hi - this worked fine for me until just recently (within last couple of weeks I think)

Now when I do 'getVideoWithIdentifier("RqcjBLMaWCg")' I get the following error:
_Error Domain=XCDYouTubeVideoErrorDomain Code=150 \"This video is unavailable.\" UserInfo={NSURL=https://www.youtube.com/get_video_info?el=embedded&hl=en&ps=default&video_id=RqcjBLMaWCg, NSLocalizedDescription=This video is unavail

[2018-09-12 10:37] SoneeJohn commented on #388
Might want to try #383

[2018-09-13 02:39] JonJC commented on #388
Thank you!!! - that worked. Phew!!!

________________________________
From: Soneé John <notifications@github.com>
Sent: Wednesday, 12 September 2018 8:37 PM
To: 0xced/XCDYouTubeKit
Cc: JonJC; Author
Subject: Re: [0xced/XCDYouTubeKit] Have YouTube recently changed where files served from or cracked down on XCDYouTubeKit? (#388)

Might want to try #383<https://github.com/0xced/XCDYouTubeKit/pull/383

[2018-09-13 02:58] kevin-lxh commented on #388
#383 fix the issue on my project

[2018-09-13 03:01] JonJC commented on #388
Thanks Kevin - yes  that's worked for me too

________________________________
From: Kevin Lai <notifications@github.com>
Sent: Thursday, 13 September 2018 12:58 PM
To: 0xced/XCDYouTubeKit
Cc: JonJC; Author
Subject: Re: [0xced/XCDYouTubeKit] Have YouTube recently changed where files served from or cracked down on XCDYouTubeKit? (#388)

#383<https://github.com/0xced/XCDYouTubeKit/pull/383> fix the

[2018-09-14 00:50] khoozhiyan1997 opened #389 "New issues after #383"
Here is the log for the new issue

2018-09-14 08:46:52.091010+0800 Xenon[6874:57809] [XCDYouTubeKit] JavaScript exception: TypeError: window.matchMedia is not a function. (In 'window.matchMedia("(max-width: 656px)")', 'window.matchMedia' is undefined)
2018-09-14 08:46:52.167571+0800 Xenon[6874:57809] [XCDYouTubeKit] JavaScript exception: TypeError: window.matchMedia is not a function. (In 'window.

[2018-09-14 00:59] SoneeJohn commented on #389
@khoozhiyan1997 I am getting these issues as well. Will investigate :-)

[2018-09-14 01:02] SoneeJohn commented on #389
@khoozhiyan1997 However, the issue you seem to be having is due to the region you're in.

[2018-09-14 01:03] khoozhiyan1997 commented on #389
The video are able to play before, but now it can't @SoneeJohn :(

[2018-09-14 04:11] oososo commented on #388
Hi, JonJC

Could you tell how you fixed that problem?

[2018-09-14 04:14] JonJC commented on #388
I just added the change - only tried in a couple of videos (in Australia) - but it worked fine

Sent from my iPhone

On 14 Sep 2018, at 2:11 pm, oososo <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks Kevin - yes that's worked for me too
…
________________________________ From: Kevin Lai notifications@github.com<mailto:notifications@github.com> Sent: Thursday, 13 Septembe

[2018-09-14 04:19] oososo commented on #388
Hi, Thank you for responses

And now can you play the video or not?

We can play any video before today. But it didn't work now.

________________________________
发件人: JonJC <notifications@github.com>
发送时间: 2018年9月12日 10:34
收件人: 0xced/XCDYouTubeKit
抄送: Subscribed
主题: [0xced/XCDYouTubeKit] Have YouTube recently changed where files served from or cracked down on XCDYouTubeKit? (#388)

Hi - this work

[2018-09-14 04:37] JmyW commented on #382
Are you guys still workable? I'm getting error again today :-(

[2018-09-14 06:39] jiny90 commented on #389
Same here. Any advance?

[2018-09-14 06:42] JmyW commented on #382
Thanks, @SoneeJohn. Your solution is worked fine. Thank you.

[2018-09-14 07:01] flamme0011 commented on #389
Same here too? Any solution or advice?

[2018-09-14 07:29] SoneeJohn commented on #389
See #390

[2018-09-14 07:48] khoozhiyan1997 commented on #389
Thanks @SoneeJohn 👍

[2018-09-14 17:43] grossmae commented on #375
See #383. You will have to manually add it to your project until the PR is merged by the maintainer.

[2018-09-14 19:04] jeffmikels opened #391 "IOS Compilation Fails after adding Notification Service Extension Target"
I'm following the push notification instructions here:

https://documentation.onesignal.com/docs/flutter-sdk-setup

However, after adding the Notification Service Extension target to my project, compilation fails with the following errors.

[code]

If I remove the Notification Service Extension target, the errors leave, and compiling succeeds.

Is there a way to fix this?

[2018-09-14 19:06] CWftw commented on #388
Hi, I have the same error as the original poster however it is still failing on some videos with #390. Example video: https://www.youtube.com/watch?v=Fof9lHaApXc
Any idea why this could be @SoneeJohn?

[2018-09-14 19:15] SoneeJohn commented on #388
@CWftw, what error are you getting?

[2018-09-14 19:20] CWftw commented on #388
I was getting XCDYouTubeVideoErrorDomain Code=150 "This video is unavailable.
I just tried the most recent commit to #383 (39 minutes ago) and it works!

[2018-09-14 19:40] CWftw commented on #388
@SoneeJohn My mistake, I just needed to clean my project after I pod install'd the commit. Thank you for your help!

[2018-09-18 12:57] khoozhiyan1997 opened #392 "*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Failed to decode response from (null) (response.textEncodingName = (null), data.length = 0)'"
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Failed to decode response from (null) (response.textEncodingName = (null), data.length = 0)'
*** Assertion failure in -[XCDYouTubeVideoOperation handleConnectionSuccessWithData:response:requestType:]

This can be reproduced when loading a video try close the wifi rapidly.

[2018-09-18 14:06] khoozhiyan1997 commented on #392
Code crash on here
- (id<XCDYouTubeOperation>) getVideoWithIdentifier:(nullable NSString *)videoIdentifier completionHandler:(void (^)(XCDYouTubeVideo * __nullable video, NSError * __nullable error))completionHandler;

With error Thread 38: signal SIGABRT

[2018-09-19 02:11] #392 closed

[2018-09-23 17:47] yoasha opened #393 "Xcode 10 warnings: "Messaging unqualified id""
I have XCDYouTubeKit embedded as a static library in my workspace and I'm getting on Xcode 10.0 several warnings of "Messaging unqualified id".

Anyone else encountered this?

![image](https://user-images.githubusercontent.com/5601548/45931127-db85f880-bf71-11e8-883c-17e193c61ee0.png)

[2018-09-23 19:56] SoneeJohn opened #394 "Improve extraction of videos that contain a prompt (e.g. Controversy videos)"
## Summary

Using: #390

Videos that are marked as controversy or contain a viewer discretionary prompt fail to play.

## Steps to Reproduce:

1. Attempt to play this video: https://www.youtube.com/watch?v=chzssrvAYDg

## Expected Results:

The video plays.

## Actual Results:

Demo app displays an error

## Notes

See https://github.com/rg3/youtube-dl/issues/4016

[2018-09-28 07:56] #394 closed

[2018-09-28 07:56] #393 closed

[2018-09-28 08:02] SoneeJohn commented on #388
Fixed in version [2.6.0](https://github.com/0xced/XCDYouTubeKit/releases/tag/2.6.0)

[2018-09-28 08:02] #388 closed

[2018-09-28 08:02] SoneeJohn commented on #389
Fixed in version [2.6.0](https://github.com/0xced/XCDYouTubeKit/releases/tag/2.6.0)

[2018-09-28 08:02] #389 closed

[2018-09-28 08:02] SoneeJohn commented on #385
Fixed in version [2.6.0](https://github.com/0xced/XCDYouTubeKit/releases/tag/2.6.0)

[2018-09-28 08:02] #385 closed

[2018-09-28 08:02] SoneeJohn commented on #382
Fixed in version [2.6.0](https://github.com/0xced/XCDYouTubeKit/releases/tag/2.6.0)

[2018-09-28 08:02] #382 closed

[2018-09-28 08:05] SoneeJohn commented on #354
Fixed in version [2.6.0](https://github.com/0xced/XCDYouTubeKit/releases/tag/2.6.0)

[2018-09-28 08:05] #354 closed

[2018-09-28 08:06] SoneeJohn commented on #352
No you cannot. I am currently working on a library to do this though.

[2018-09-28 08:06] #352 closed

[2018-09-28 08:07] #346 closed

[2018-09-28 08:07] #359 closed

[2018-09-28 08:08] #367 closed

[2018-09-28 08:10] SoneeJohn commented on #376
Yes. It is still supported.

[2018-09-28 08:10] #376 closed

[2018-09-28 12:10] sixty8 commented on #375
@ SoneeJohn i do this in XCDYoubePlayerScript.m  to stop the Type error

`// javascript injection to stop window.matchMedia type error.
	NSString * addMatchMediajs = @"var window=this;window.matchMedia=function(a){return false;};";
	NSString *script = [string stringByTrimmingCharactersInSet:[NSCharacterSet whitespaceAndNewlineCharacterSet]];
	script=[script stringByReplacingOccurrencesOfString:@"v

[2018-09-28 12:54] Wouter125 opened #396 "HD720 raw value can't be found anymore since 2.6.0"
I'm now running on 2.6.0 and fetching videos fine, but there are issues popping up. Videos that are available in 720p aren't being downloaded anymore. Only medium360 or below.

So I think something is still not completely right in the regex or edits that are being done after #383 and #390.

@SoneeJohn I think you might have an explanation for this, so if you could update me around this issue, that

[2018-09-28 13:34] SoneeJohn commented on #396
Unfortunately, that's not a problem that that was caused due to the regex. The videos you're talking about aren't available in HD720p (`itag 22`) because some video don't contain it. However, most videos that exhibit this issue have a H720p version but it's with `itag 136` which contains only the video but no audio.

This video here: https://www.youtube.com/watch?v=tg00YEETFzg isn't available in `

[2018-09-28 13:36] SoneeJohn commented on #375
@sixty8 Can you open a PR with these changes so I can have a look?

[2018-09-28 13:37] SoneeJohn commented on #381
Unfortunately, this is isn't within the scope of the library. Sorry.

[2018-09-28 13:37] #381 closed

[2018-09-28 13:57] Wouter125 commented on #396
Thanks for the super quick follow up! I'm still stuck with a few additional questions and would love to see them answered if you find the time.

1. Before #383 and #390, I often obtained a 720p video without any problems. Even videos that do have issues right now. Is this because of a switch that YT made? Shifting videos from `itag 22` to `itag 136`?

2. Also why is this only happening to 720p vid

[2018-09-28 14:14] SoneeJohn commented on #396
No problem.

I believe YouTube made a change with how they are serving certain videos.

Unfortunately, I can't answer that question. ;-)

One solution would be to fetch the `itag 136` and display it to the user while using the `itag 140` which should give you the audio for the video. However, doing this would involve doing some additional work. Currently, `AVPlayer` doesn't support that.

[2018-09-29 18:15] sixty8 commented on #375
see #397

[2018-10-01 23:01] #375 closed

[2018-10-02 16:38] bacctecnologia opened #398 "Error when try open video"
Hello All,
I trying to open video, but show this error:
2018-10-02 13:30:15.389573-0300 OneClickRadio[20226:545112] [MediaRemote] [AVOutputContext] WARNING: AVF context unavailable for +[MRAVOutputContext sharedAudioPresentationContext]_block_invoke

A black screen appears and disappears.

[2018-10-03 16:37] SoneeJohn commented on #396
I think you would lose those features. Essentially what you will need to do is find a way to sync two `AVPlayer`s or something similar. Could be a bit challenging but I bet it can be done.

[2018-10-04 01:11] khoozhiyan1997 opened #399 "Occasionally Error Domain=XCDYouTubeVideoErrorDomain Code=-1"
XCDYoutubeKit somtimes return error with Error Domain=XCDYouTubeVideoErrorDomain Code=-1.

[2018-10-04 10:23] jag2011 opened #400 "XCDYouTubeVideoErrorDomain code -2"
Hi, I'm having a problem with some video Ids

[code]

using ID `sCxURbI2WVE`

results in:

[code]

[2018-10-04 10:36] #400 closed

[2018-10-04 10:36] jag2011 commented on #400
oops solved by update to 2.6

[2018-10-04 17:55] SoneeJohn commented on #399
Can you let me know which version of the library you're using? As well as a video that exhibits this issue?

[2018-10-04 23:37] khoozhiyan1997 commented on #399
It occurs to random video. Here is the log.
2018-10-04 22:42:46.419258+0800 Xenon[6456:1445262] dnssd_clientstub read_all(17) DEFUNCT
2018-10-04 22:42:46.419567+0800 Xenon[6456:1445262] [BoringSSL] nw_protocol_boringssl_error(1584) [C129.1:2][0x10e6735d0] Lower protocol stack error: 53
2018-10-04 22:42:46.499472+0800 Xenon[6456:1445262] TIC TCP Conn Failed [133:0x2817b3a80]: 10:-72000 Err(-65563)

[2018-10-08 23:42] SoneeJohn commented on #399
Looks more like a network issue. See [NSURLErrorCannotFindHost](https://developer.apple.com/documentation/foundation/nsurlerrorcannotfindhost). How is your project setup?

[2018-10-09 00:58] khoozhiyan1997 commented on #399
I think so, since i can only replicate this on very few times 😄

[2018-10-09 12:42] Wouter125 commented on #396
Solved it with two AVPlayers that are synced up. Extended this library to fetch 1080p videos and a separate audio track and works like a charm. Got a fallback on the player to see the difference between every player every 0.5s. This way I can sync them up if the difference becomes too big. Also if one of the player is not ready or can't catch up I'm pausing them and let them buffer both.

Thanks f

[2018-10-09 12:42] #396 closed

[2018-10-09 14:05] jeffmikels commented on #391
It looks like Xcode was trying to build video_player for the notification service target also.

[2018-10-09 14:05] #391 closed

[2018-10-10 13:40] #399 closed

[2018-10-11 10:45] #364 closed

[2018-10-11 10:46] SoneeJohn commented on #335
Closing due to inactivity.

[2018-10-11 10:46] #335 closed

[2018-10-11 10:46] #325 closed

[2018-10-11 10:49] #322 closed

[2018-10-11 10:50] #331 closed

[2018-10-11 11:00] #310 closed

[2018-10-11 11:00] #337 closed

[2018-10-11 11:01] #336 closed

[2018-10-11 11:01] #360 closed

[2018-10-11 11:01] #309 closed

[2018-10-11 11:12] #292 closed

[2018-10-11 11:12] #288 closed

[2018-10-11 11:12] #289 closed

[2018-10-11 11:15] SoneeJohn commented on #287
That's a necessary part of how the operation works. Music videos need to involve more request in order to get the streamURLs.

[2018-10-11 11:15] #287 closed

[2018-10-11 11:15] #282 closed

[2018-10-11 11:16] #249 closed

[2018-10-11 11:16] #334 closed

[2018-10-11 11:18] #374 closed

[2018-10-11 11:19] #348 closed

[2018-10-11 11:19] #343 closed

[2018-10-11 11:19] #379 closed

[2018-10-14 02:12] SoneeJohn commented on #309
@ChristianDeckert Which version of the library you're running? Also, can you give me an example video?

[2018-10-17 07:11] CookAmir opened #401 "Can't play some videos"
Hello, I've tested with these 2 video identifier.

ktcCNdFJL9U is playing well.

WHOWd-7RDqc is not playing.
I got this error.

2018-10-17 09:10:05.404002+0200 WillowCreekTV[37320:199436] [BoringSSL] boringssl_session_errorlog(224) [C6.1:4][0x7fe583d74b00] [boringssl_session_read] SSL_ERROR_SSL(1): operation failed within the library
2018-10-17 09:10:05.405253+0200 WillowCreekTV[37320:199436] [Bor

[2018-10-17 18:40] SoneeJohn commented on #401
@CookAmir Try cleaning your project's derived data and see if that helps. That video `WHOWd-7RDqc` plays well on my end.

[2018-10-17 20:12] CookAmir commented on #401
That's weird. All videos are playing now without cleaning.
I can't know what happend...
Anyway, thanks.

[2018-10-17 22:43] mongkonsrisin opened #402 "Swift documentation ?"
Do you have Swift documenatation ?

[2018-10-18 13:21] inquis commented on #309
I have the same problem as @ChristianDeckert
example video ID: uF9YayOgjRg

[2018-10-18 17:13] #401 closed

[2018-10-22 19:31] SoneeJohn commented on #402
The library is very straightforward,  you will most likely be interacting with `XCDYouTubeClient` and looking at the properties on `XCDYouTubeVideo`. You can always use the *generate interface*  function in Xcode to view the headers in Swift.

Here is an example in Swift that should get you started:

[code]

[2018-10-22 19:31] #402 closed

[2018-10-23 01:57] mongkonsrisin commented on #402
Do you have any example for playing DASH video ?

[2018-10-26 19:03] frakman1 opened #403 ""This video is unavailable" error"
When I try to download this video ID: `fzV_QZODisQ`
I get the error:
[code]

Is there any way around this or am I just out of luck?

[2018-10-26 19:35] SoneeJohn commented on #403
@frakman1 What version of the library are you using?

[2018-10-26 19:36] SoneeJohn commented on #402
@mongkonsrisin See the `streamURLs` property.

[2018-10-26 20:16] frakman1 commented on #403
Sorry. I was using version 2.5 of the pod. When I upgraded to 2.6, it worked.
Nice work Cédric!

[2018-10-26 20:16] #403 closed

[2018-10-30 08:16] mehdok commented on #221
I extended `XCDYouTubeVideoPlayerViewController` and override `- (void)presentInView:(UIView *)view`, The result is something like this, and it works:

`VideoPlayer.h`

[code]

`VideoPlayer.m`

[code]

[2018-10-31 09:10] oTranAnhMinh opened #404 "detect ipad pro 11""
Do you have any updates for iPad Pro 11"?

[2018-10-31 09:11] #404 closed

[2018-10-31 09:11] oTranAnhMinh commented on #404
sorry

[2018-11-07 10:01] ansonngch opened #406 "No signature function in player script"

[2018-11-07 10:08] euroboy commented on #406
Same issue, my logs are:
`[XCDYouTubeKit] No signature function in player script
[XCDYouTubeKit] Video operation finished with error: The operation couldn’t be completed. (XCDYouTubeVideoErrorDomain error -2.)`

[2018-11-07 10:36] mduplifting commented on #406
The same error for me

[2018-11-07 10:38] darkForestCat commented on #406
Same here, this is the third issue from the September...YouTube...
The interesting thing that this issue is keep appearing on music videos mostly and not on the usual one.

[2018-11-07 11:51] patrickjquinn commented on #406
+1 for me too...

[2018-11-07 11:52] patrickjquinn commented on #406
I'm seeing `Domain: XCDYouTubeVideoErrorDomain
Code:   150
User Info: {
    AllowedCountries = "{(\n    \"Caribbean Netherlands\",\n    Hungary,\n    Vietnam,\n    \"New Caledonia\",\n    Burundi,\n    Andorra,\n    \"Pitcairn Islands\",\n    Guinea,\n    \"Norfolk Island\",\n    Togo,\n    Eritrea,\n    Zambia,\n    China,\n    Syria,\n    Mongolia,\n    Thailand,\n    Netherlands,\n    \"French

[2018-11-07 12:15] SoneeJohn commented on #406
Already working on a fix. Will issue an update soon.

[2018-11-07 14:34] ansonngch commented on #406
sorry, may I know how to install 2.6.1 in pod file?

[2018-11-07 14:35] SoneeJohn commented on #406
@ansonngch Pushing the update to CocoaPods soon.

[2018-11-07 15:29] SoneeJohn commented on #406
@ansonngch `pod update XCDYouTubeKit`

[2018-11-08 01:37] eqenkhjin opened #407 "Error Domain=XCDYouTubeVideoErrorDomain Code=-2 occured again from 2018/11/07"
Error Domain=XCDYouTubeVideoErrorDomain Code=-2 occured again. Previous error fixed by changing nsregularexception in XCDYouTubePlayerScript class. But this error occured again. Any new information? or help?

[2018-11-08 02:58] eqenkhjin commented on #407
Thank you :))

[2018-11-08 10:31] oTranAnhMinh opened #408 "I couldn't play videos on YouTube, error message: "The operation couldn't be completed. (XCDYouTubeVideoErrorDomain error -2.))""

[2018-11-08 12:49] SoneeJohn commented on #408
Please update to the latest version of the library. If you're using CocoaPod run `pod update XCDYouTubeKit` then clean your project.

[2018-11-08 12:51] #408 closed

[2018-11-08 17:40] #373 closed

[2018-11-08 17:41] #365 closed

[2018-11-08 19:02] igorbiscanin opened #409 "Damaged .xcodeproj file in latest release (2.7)"
A shell task (/usr/bin/xcrun xcodebuild -project .../Carthage/Checkouts/XCDYouTubeKit/XCDYouTubeKit.xcodeproj CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY= CARTHAGE=YES -list) failed with exit code 74:
2018-11-08 19:55:48.632 xcodebuild[51617:17117344] Error Domain=NSCocoaErrorDomain Code=3840 "Unexpected character / at line 1" UserInfo={NSDebugDescription=Unexpected character / at line 1, kCFPrope

[2018-11-08 19:04] igorbiscanin opened #410 "Video crashes when opened in full screen"
In version 2.6 if an inline playing video tries to be opened in full screen, the video crashes. A weird this is also the comments icon displayed instead of the fullscreen icon.

[2018-11-09 01:09] SoneeJohn commented on #409
@igorbiscanin Thanks! I'll investigate this tomorrow :-)

[2018-11-10 02:26] oTranAnhMinh opened #411 "Cannot open project 'XCDYouTubeKit'"
Hello,

The project ‘XCDYouTubeKit’ is damaged and cannot be opened due to a parse error. Examine the project file for invalid edits or unresolved source control conflicts.

Please help to fix it.

Thanks,

[2018-11-10 06:37] oTranAnhMinh commented on #411
Thank you so much.

[2018-11-10 19:57] pigeon commented on #411
Thanks @gshaviv Fixed problem for me. Created PR

[2018-11-11 17:52] SoneeJohn commented on #411
@gshaviv Thanks!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-12 12:39] Valodya89 commented on #351
Any fix?

[2018-11-12 14:12] #409 closed

[2018-11-12 14:13] #411 closed

[2018-11-12 16:13] igorbiscanin commented on #410
The same issue still exists in the latest (2.7) version.

[2018-11-13 07:28] igorbiscanin commented on #410
Backtrace:

[code]

[2018-11-14 23:11] SoneeJohn commented on #410
@igorbiscanin Mind on creating a sample project that demonstrates this error?

[2018-11-19 05:16] JonJC opened #413 "YT getVideoWithIdentifier not working anymore?"
I'm using v2.7.1

Videos that I used to be able to access using **getVideoWithIdentifier** are now returning this error:
 _Error Domain=XCDYouTubeVideoErrorDomain Code=150 "This video is unavailable." UserInfo={NSURL=https://www.youtube.com/get_video_info?el=embedded&hl=en&ps=default&video_id=co6WMzDOh1o, NSLocalizedDescription=This video is unavailable., AllowedCountries={(....._

The list of All

[2018-11-19 07:38] dauletkali commented on #413
+1

[2018-11-21 02:34] JonJC commented on #413
is anyone else having issues?

[2018-11-21 03:36] fangyuxi commented on #413
+1

[2018-11-21 03:52] fangyuxi commented on #413
@JonJC @dauletkali
I have used the latest version and the problem has been solved.
I copied the source code into the project, without cocopods.

[2018-11-21 04:13] dauletkali commented on #413
@fangyuxi , thank you. version 2.7.1 solves the issue

[2018-11-21 08:05] #413 closed

[2018-11-21 11:44] varunmehta77 commented on #333
@ninoid  Hey you get any solution?
I am also looking for same but didn't get any solution for this.
Plz, suggest if you find any solution.
Thanks

[2018-11-21 13:05] mtkopone commented on #380
We ran into the same issue. But turns out no videos could be played from any source on the phone.
The solution was to restart the phone :facepalm:

[2018-11-27 14:19] oTranAnhMinh opened #414 "Can not play video if sign in required"
Hello,

Currently, I cannot play video that require sign in like
https://www.youtube.com/watch?v=TtqiBUOSm_A

Is there a way to play this video?

Thanks,

[2018-11-30 14:39] #414 closed

[2018-12-05 21:40] videoBroadcasting commented on #267
Hello.
Now I have issue with above 2 videos.
https://www.youtube.com/watch?v=XSNpGyG2jSw
https://www.youtube.com/watch?v=z4SoaH_pu-Y

could you help me to fix this issue?
Error Domain=XCDYouTubeVideoErrorDomain Code=150

User Info = {...
NSLocalizationDescription = "This video is unavailable"
...}

[2018-12-05 22:05] videoBroadcasting opened #415 "XCDYouTubeVideoErrorDomain error again"
Hello.
Now I have issue with above 2 videos.
https://www.youtube.com/watch?v=XSNpGyG2jSw
https://www.youtube.com/watch?v=z4SoaH_pu-Y

I knew this issue is solved from version 2.5.3.
but I got the same issue again.

could you help me to fix this issue?
Error Domain=XCDYouTubeVideoErrorDomain Code=150

User Info = {...
NSLocalizationDescription = "This video is unavailable"
...}

[2018-12-06 00:37] SoneeJohn commented on #415
@videoBroadcasting Please confirm that you're on the latest version which is 2.7.1

[2018-12-06 02:17] videoBroadcasting commented on #415
Amazing!
Thanks for your help.

[2018-12-30 10:36] imran20487 opened #416 "Does the framework use device's Advertising Identifier?"
I need to know since to submit the app to App store you need to tell if it uses Advertising identifier or not.

[2018-12-30 11:34] weiran commented on #396
I have a tvOS app which does this using VLCKit: https://github.com/weiran/watch-it-later

VLCKit can also play VP9 videos, and on an Apple TV 4K it can decode 4K30 with the odd dropped frame.

[2019-01-10 17:08] tvbsddc opened #417 "Unable to resolve live stream (but worked on the VoD recorded from live stream)"
Hi All,
Tonight (round 23:00 GMT+8, 2019.01.10) we have an issue on resolving the m3u8 url for live streams (the live stream from news channels in Taiwan). However it still works well if we try to resolve the urls from some VoD that is recorded/stored by youtube .
Does anyone have the same issue?
The Kit version is 2.7.1, used in iOS app.

ex:
Not working:  https://www.youtube.com/watch?v=Hu1FkdAO

[2019-01-10 17:21] BreeeZe commented on #417
I'm having the same issue with a livestream from ert.gr
https://www.youtube.com/watch?v=MRDeOhioF3g

The issue started today, the error I get from XCDYouTubeKit is:
Video operation finished with error: This video is unavailable.
Domain: XCDYouTubeVideoErrorDomain
Code:   150
User Info: {
    AllowedCountries = "{(\n    \"Caribbean Netherlands\",\n    Hungary,\n    Vietnam,\n    \"New Caledonia\",\

[2019-01-10 19:01] SoneeJohn commented on #417
Thanks for the reports. Will look into this.

[2019-01-10 21:05] BreeeZe commented on #417
I compiled my app pulling the pod from your 'develop' branch and the livestreams work again 👍

[2019-01-10 23:16] bekarttech commented on #417
What does this exactly mean? Could you please write more explicitly what you have done?

[2019-01-11 06:52] BreeeZe commented on #417
In your podfile you can define that you want to pull the pod from the github source directly.
The fixes where done on the "develop" branch, and you can define this in your podfile like this:

`pod 'XCDYouTubeKit', :git => "https://github.com/0xced/XCDYouTubeKit.git", :branch => "develop"`

Do note, that you are using code which might not be considered "stable" by the developer.

[2019-01-11 15:31] pvegh commented on #417
for me the error is this (pod for develop)

[XCDYouTubeKit] Video operation finished with error: The operation couldn’t be completed. (XCDYouTubeVideoErrorDomain error -2.)
Domain: XCDYouTubeVideoErrorDomain
Code:   -2
User Info: {
}
Error Domain=XCDYouTubeVideoErrorDomain Code=-2 "(null)"
video: nil

[2019-01-13 22:37] chinthaka commented on #417
I am afraid same issue here.
[code]

[2019-01-13 23:01] SoneeJohn commented on #417
@chinthaka  @pvegh  Please give me the video ID. Also, please clean your build folder and delete your Derived data.

[2019-01-14 09:32] pvegh commented on #417
I don't have the ID anymore, it was the video in spacex.com/webcast before they switched to the iridium 8 recording. I guess I'll see when they switch to the "waiting for live webcast" again.
But I deleted derived data and tested a random live video from YT, which works. Too bad I didn't test it BEFORE :/

[2019-01-14 19:20] chinthaka commented on #417
This is a live stream id. 7LEc9CCsrSY

[2019-01-14 22:36] dpwilhelmsen commented on #417
Using the `XCDYouTubeKit OS X Demo`,  I can confirm that the `master` branch currently does not work with live videos. It works fine with normal youtube videos. When I switch to `develop` live streams work again. The video ID I've been using is `deWeERCVc2o`

[2019-01-16 03:45] tvbsddc commented on #417
Sorry for the late update.
In our case, we have confirmed that it work successfully with the develop branch.
Thanks for all the promot reply and support from you. (the develop team and the ones who echoed the issue.)

[2019-01-16 15:20] SoneeJohn commented on #417
Fixed in latest update. Thanks for all the reports.

[2019-01-16 15:20] #417 closed

[2019-01-17 01:22] SoneeJohn opened #418 "JavaScript exception: ReferenceError: Can't find variable: XMLHttpRequest"
Video ID: `WJkN3zcFQxY`
Version: 2.7.2

`Error: JavaScript exception: ReferenceError: Can't find variable: XMLHttpRequest`

[2019-01-18 01:59] khoozhiyan1997 opened #419 "Can't play anything"
Can't play anything at all right now. When i try to debug by copying the convert url into Chrome it show ,You don't have authorisation to view this page .

[2019-01-18 02:01] SoneeJohn commented on #419
@khoozhiyan1997 Could you provide some more information? Like a video ID that exhibits the error and the actually error?

[2019-01-18 02:06] wodeni521877 opened #420 "2.72 bug Can't find variable: XMLHttpRequest"
videoID:8vISc8dZ_bc
version :2.7.2
most of the video have this bug and can't play
Error: JavaScript exception: ReferenceError: Can't find variable: XMLHttpRequest

[2019-01-18 02:08] khoozhiyan1997 commented on #419
Task <06831EDC-C538-4EB1-A092-AD3AB22B9CD8>.<1> load failed with error Error Domain=NSURLErrorDomain Code=-999 "cancelled" UserInfo={NSErrorFailingURLStringKey=https://r2---sn-h5mpn-30a6.googlevideo.com/videoplayback?requiressl=yes&dur=808.495&pl=36&beids=9466585&ms=au%2Crdu&mv=m&mt=1547777158&mn=sn-h5mpn-30a6%2Csn-30a7yn7r&source=youtube&mm=31%2C29&expire=1547798870&c=WEB&ratebypass=yes&sparams=d

[2019-01-18 02:08] wodeni521877 commented on #418
i have same bug

[2019-01-18 02:11] khoozhiyan1997 commented on #419
Most of the video id can't play right now, i will give you some for example -  WZwr2a_lFWY

[2019-01-18 02:12] SoneeJohn commented on #419
@khoozhiyan1997 Thanks for that 👍

[2019-01-18 03:45] chaocharleswang commented on #419
I have the same issue

[2019-01-18 03:58] oososo opened #421 "Can't play music now.Could fix it again?"

[2019-01-18 03:59] SoneeJohn commented on #421
See #419

[2019-01-18 03:59] #421 closed

[2019-01-18 04:32] SoneeJohn commented on #419
I got it fixed on my end. Can everyone confirm that it does for them as well? Use the develop branch in CocoaPods by adding this to your pod file:

`pod 'XCDYouTubeKit', :git => "https://github.com/0xced/XCDYouTubeKit.git", :branch => "develop`

Be sure to clean your project and delete your derived data before retesting 👍

[2019-01-18 04:35] oososo commented on #419
Could I only change the regex pattern for update? Thank you very much.John

[2019-01-18 04:36] SoneeJohn commented on #419
I don't believe the problem is caused due to the regex. Does the latest commit work for you? (I am going to try changing the regex)

[2019-01-18 04:37] chaocharleswang commented on #419
I tried the new regex. Some videos still not work.

________________________________
From: oososo <notifications@github.com>
Sent: Thursday, January 17, 2019 23:28
To: 0xced/XCDYouTubeKit
Cc: MoboPan; Comment
Subject: Re: [0xced/XCDYouTubeKit] Can't play anything (#419)

Working on a fix 👍

You can consider at rg3/youtube-dl@fa4ac36<https://github.com/rg3/youtube-dl/commit/fa4ac365f69cbd51e4c98019

[2019-01-18 04:39] oososo commented on #419
I can't update for my app now. I only can update the regex for users. I think the problem is from changing the signature

[2019-01-18 04:50] khoozhiyan1997 commented on #419
It fixed the issues. Thanks @SoneeJohn

[2019-01-18 05:11] oososo commented on #419
Hi,How are you going now?

[2019-01-18 05:57] oososo commented on #419
Hi, John, Are you still working on this?

[2019-01-18 10:19] walterjiao commented on #419
Hi, could you please explain to me what YouTube webpage changed this time.

[2019-01-18 11:21] darkForestCat commented on #419
This is not resolving the issue.
Large amount of videos still do not work.
Video Ids:
jr66A4NDuYw
Kbj2Zss-5GY

[2019-01-18 11:22] darkForestCat commented on #419
This is not resolving the issue.
Large amount of videos still do not work.
Video Ids:
jr66A4NDuYw
Kbj2Zss-5GY

[2019-01-18 11:35] emrecelikors commented on #419
[
https://github.com/rg3/youtube-dl/commit/fa4ac365f69cbd51e4c9801984ebea49a12825b7](url)

[2019-01-18 11:36] emrecelikors commented on #419
Is this regex solution not working ?

[2019-01-18 11:43] SoneeJohn commented on #419
@emrecelikors See https://github.com/0xced/XCDYouTubeKit/issues/419#issuecomment-455424585

[2019-01-18 12:06] emrecelikors commented on #419
This is working, thank you but my app needs to update with that code. With regex solution,my problem will be solved without changing any source code because of that I was asking that. As I can see youtube-dl commit this fix this via regex.

[2019-01-18 12:08] SoneeJohn commented on #419
@emrecelikors That regex commit is unrelated to this. Where you able to simply change the regex and it fixed your issue?

[2019-01-18 14:46] chaocharleswang commented on #419
Good findings! Can you please give us some hints about what we should do in XCDYouTubePlayerScript?

[2019-01-18 14:47] SoneeJohn commented on #419
@chaocharleswang A `XMLHttpRequest` request needs to be made in the `JSContext`.

[2019-01-18 15:55] oTranAnhMinh opened #422 "Cannot play video again"
Hello,
Do you have any update for that?

Thanks,

[2019-01-18 18:23] darkForestCat commented on #419
Still does not fix the problem.
In example such videos are not working:
cjpVy-B1TnY
4eS5o3beHko
0m3kt5kLKkM
Someone can check and confirm ?

[2019-01-18 18:31] SoneeJohn commented on #419
@darkForestCat was able to play
![screen shot 2019-01-18 at 2 31 09 pm](https://user-images.githubusercontent.com/4827301/51405803-ba9f6f80-1b2d-11e9-8991-ccb6c74f4389.png)

[2019-01-18 18:32] darkForestCat commented on #419
Yeah, I see now.Idk it was not working.Working now.Thanks a lot @SoneeJohn !

[2019-01-18 18:33] darkForestCat commented on #419
I just reopened the project and cleaned everything and everything started to work.

[2019-01-18 18:57] #418 closed

[2019-01-18 18:57] #419 closed

[2019-01-18 21:04] DmytroBrovkin commented on #419
@SoneeJohn I've just checked you latest commits, with `XMLHttpRequest` class logic. And noticed very interesting thing.
Try to replace:
`	XMLHttpRequest *xmlHttpRequest = [XMLHttpRequest new];
	[xmlHttpRequest extend:_context];
`
in line 26, XCDYouTubePlayerScript.m file with:
 `_context[@"XMLHttpRequest"] = ^{};`

This code will fix the issue with videos not able to playback. None of the `XMLHttp

[2019-01-18 21:13] SoneeJohn commented on #419
@DmytroBrovkin Thanks! 👍 Can you open a PR with this change (I know it's a bit trivial).

[2019-01-18 21:17] #420 closed

[2019-01-18 21:17] SoneeJohn commented on #422
See #419

[2019-01-18 21:17] #422 closed

[2019-01-19 02:33] khoozhiyan1997 commented on #419
Do u guys update this part of code to do the regex changes ?

`   //See list of regex patterns here https://github.com/rg3/youtube-dl/blob/master/youtube_dl/extractor/youtube.py#L1179
    NSArray<NSString *>*patterns = @[@"\\.sig\\|\\|([a-zA-Z0-9$]+)\\(",
                                     @"[\"']signature[\"']\\s*,\\s*([^\\(]+)",
                                     @"yt\\.akamaized\\.net/\\)\\

[2019-01-21 08:22] ChristianDeckert commented on #416
No you don't need to activate the advertising option. I never did in the past and my app is live on the App Store

[2019-01-21 08:26] ChristianDeckert opened #423 "Grabbed links won't stream / cannot be used for download anymore"
Hi, it seems like we have a new issue. Using the grabbed links to stream or download stopped working. A download operation receives zero bytes and media players cannot stream anymore.

Maybe related to issue https://github.com/0xced/XCDYouTubeKit/issues/398

:-(

[2019-01-22 07:52] MeiBlack opened #424 "can't parse driveId"
this lib can't parse driveId

[2019-01-22 07:53] #424 closed

[2019-01-23 07:06] jaspreetUcreate commented on #423
We are also facing the issue mentioned above.  The grabbed links to stream is not playing video.

[2019-01-23 13:11] mavris opened #425 "JavaScript exception: ReferenceError: Can't find variable: XMLHttpRequest"
Hi,
I updated to 2.7.3 and I still have this issue:
Video ids:
`eP0nRMlG960`
`kR1lDumQ9q8`
`ssdaFZYZ9dU`

Related:
https://github.com/0xced/XCDYouTubeKit/issues/420
https://github.com/0xced/XCDYouTubeKit/issues/418

[2019-01-30 06:04] lexuanquynh commented on #425
same issue

[2019-01-30 10:16] sureshpatel-cnpl commented on #351
Any update for the same?

[2019-01-30 11:24] gbeignie opened #426 "HTTP ERROR 403 for URL"
Hello i have an issue with the generated URLs, for some videos it's impossible to load them from URL.

Here the Youtube URL for the video : https://www.youtube.com/watch?v=KaqC5FnvAEc
XCDYouTubeVideo Object :
[code]

I tried every link above and got the same result => 403

I tried to load them from France, but it sound weird to think that the video could be restricted in ths country...

Other vide

[2019-01-30 11:39] gbeignie commented on #426
I found a closed issue link to my problem #419
See the @SoneeJohn's https://github.com/0xced/XCDYouTubeKit/issues/419#issuecomment-455424585

[2019-01-30 11:39] #426 closed

[2019-01-30 11:51] gbeignie commented on #419
@DmytroBrovkin Have you any update for the PR ? Because it works juste fine for me => #426

[2019-01-30 20:51] DmytroBrovkin commented on #419
It also works fine, but as I said earlier `XMLHttpRequest` is useless. Will create PR soon.

[2019-02-04 05:44] kingsofteng commented on #425
Same

[2019-02-04 05:45] kingsofteng commented on #423
Same to me...

[2019-02-14 20:10] doogilasovich commented on #423
I too am seeing an error on a known good stream ID. Maybe youtube plugged the loophole this was exploiting?

[2019-02-14 20:23] SoneeJohn commented on #423
Please update your library to the latest version and clean your derived data folder.

[2019-02-14 20:23] #423 closed

[2019-02-15 15:42] sAurangzaib opened #427 "Audio play in background and play multiple sounds for multiple videos."
I implement this
    @IBOutlet weak var ytPlayer: UIView!

    func playYoutubeVideo() {
        let strUrl = youTubeObjc.link
        if let range = strUrl!.range(of: "=") {
            let strIdentifier = strUrl!.substring(from: range.upperBound)
            print("Identifier:\(strIdentifier)")
            let videoPlayerViewController =
                XCDYouTubeVideoPlayerViewController(videoI

[2019-02-25 03:26] wanghuajian620 commented on #393
![2019-02-25 11 26 13](https://user-images.githubusercontent.com/31924547/53312488-34c2d100-38f0-11e9-89d6-fef724f5b4cc.png)

[2019-02-27 06:30] StefaniOSApps commented on #351
you can use the latest solution:

[code]

[2019-03-18 02:56] jenny0006132 opened #428 "Can't get video stream+audio quality 720p nor 240p"
Hi, It seems like the method `getVideoWithIdentifier` can no longer get video+audio stream quality 720p nor 240p (with itag 22, 36). It remains quality 360p with YouTube Quality Formats itag 18.

[code]

Here are the video `streamURLs` from video `https://www.youtube.com/watch?v=kHLHSlExFis `
[code]

[2019-03-18 09:35] SoneeJohn commented on #428
Can you give me a video URL?

[2019-03-18 09:46] SoneeJohn commented on #428
That is available at 720p bug with itag 136 which is audio only.

[2019-03-18 10:10] jenny0006132 commented on #428
Hi @SoneeJohn thanks for your reply. The video on the youtube contains 720pHD option. Is it possible to get that HD720p video+audio stream?

Actually I can't get HD720p with itag 22 in all the request I've tried.
ex.
https://www.youtube.com/watch?v=ShZ978fBl6Y
https://www.youtube.com/watch?v=ApXoWvfEYVU
https://www.youtube.com/watch?v=bo_efYhYU2A

[2019-04-03 07:05] iKorich commented on #137
checked on versions 2.5.0-2.7.3:

Error Domain=XCDYouTubeVideoErrorDomain Code=150 "Sign in to confirm your age" UserInfo={NSURL=https://www.youtube.com/get_video_info?el=detailpage&hl=en&ps=default&video_id=NeQM1c-XCDc, NSLocalizedDescription=Sign in to confirm your age}

[2019-04-03 07:09] iKorich opened #429 "Sign in to confirm your age"
Checked on 2.5.0-2.7.3:

Error Domain=XCDYouTubeVideoErrorDomain Code=150 "Sign in to confirm your age" UserInfo={NSURL=https://www.youtube.com/get_video_info?el=detailpage&hl=en&ps=default&video_id=NeQM1c-XCDc, NSLocalizedDescription=Sign in to confirm your age}

[2019-04-20 17:26] nithin-george opened #431 "Unable to stream age gated video '6kLq3WMV1nU'"
I am trying a age restricted video but it seems it is not able to get any urls and failing. I believe embed is not allowed here. I have attached the link below from youtube-dl where it seems to be working.

[https://github.com/ytdl-org/youtube-dl/blob/98998cded6e179b35055177f75fc921d99ee5938/youtube_dl/extractor/youtube.py#L440](url)

Getting error below
[code]

[2019-04-24 15:09] SoneeJohn commented on #431
Were you able to get that working with the latest version of `youtube-dl`. I might have to use the cookie feature in `XCDYouTubeKit` to get that working.

[2019-04-30 05:25] nithin-george commented on #431
Hi @SoneeJohn Yeah probably thats why. But how does youtube-dl work without any log in? Pretty weird unless its using some defaults. Any examples on how to use the cookie feature. Thanks

[2019-05-02 17:43] SoneeJohn commented on #431
Working on a fix so you can do this without needing cookies.

[2019-05-07 13:42] #431 closed

[2019-05-13 11:16] xingzhi opened #432 "HTTP ERROR 403"
sometimes, Analyzed download link gives response "HTTP ERROR 403 occurs"

[2019-05-13 11:19] SoneeJohn commented on #432
Can you give me a URL that displays this issue?

[2019-05-13 12:05] SoneeJohn opened #433 "New SP Parameter"

[2019-05-13 13:15] #433 closed

[2019-05-13 13:37] xingzhi commented on #432
https://www.youtube.com/watch?v=qS6F64mj6LY

[2019-05-13 13:38] xingzhi commented on #432
https://www.youtube.com/watch?v=qS6F64mj6LY

[2019-05-14 01:43] #432 closed

[2019-05-14 01:44] xingzhi commented on #432
thanks, 2.7.5 fix this issue

[2019-05-14 01:45] xingzhi commented on #432
thanks, 2.7.5 fix this issue

[2019-05-14 16:39] xjimi opened #434 "URL Error"
Sometimes the url obtained from XCDYouTubekit will play correctly,
sometimes it will error, and it will happen in any video.

Domain=NSURLErrorDomain Code=-999 "cancelled" :

https://r2---sn-qpbpqvhju8-u2xe.googlevideo.com/videoplayback?expire=1557872045&ei=TenaXIyKFIyTgQPdiKOQBQ&ip=150.117.223.241&id=o-AJOm2c0LslNVLmAreDj4IsKUnitoL6XeZQHZBjqkJJlQ&itag=18&source=youtube&requiressl=yes&mm=31%2C29&m

[2019-05-16 18:38] SoneeJohn commented on #434
Which version of the library are you using?

[2019-05-19 15:29] pdiazmon opened #435 "Client Data Source Not Registered"
When I try to play a Youtube video in my tvOS app (within the simulator) I get the following error:
`[MediaRemote] [MRPlaybackQueueServiceClient] playbackQueueRequest 2E591177-D3D8-4CE8-A18F-FCF83FDA992E PineBoard-21384 /A600.000000x600.000000/R[0:1] responded to asset request with error Error Domain=kMRMediaRemoteFrameworkErrorDomain Code=15 "Operation requires a client data source to have been r

[2019-05-20 07:19] xjimi commented on #434
After updating to the latest version, all problems have been solved.

[2019-05-20 07:19] #434 closed

[2019-06-06 16:26] #425 closed

[2019-06-15 00:24] xcd247 opened #436 "Cannot play video"
Video playback error. This video is unavailable XCDYoutubeVideoErrorDomain (150)

[2019-06-21 12:51] sycode opened #437 "VEVO videos can't be played"
[XCDYouTubeKit] No signature function in player script
[XCDYouTubeKit] Video operation finished with error:
Domain: XCDYouTubeVideoErrorDomain
Code:   150

[2019-06-21 13:52] sycode commented on #437
Thank you for confirming.
I fixed the code(fix regex expression) but the app crashed.

[2019-06-21 14:51] emrecelikors commented on #437
There are 3 commits that passed by SoneeJohn. Did you implement all of them ?

[2019-06-21 15:15] sycode commented on #437
After fixing the regular expression, I applied 4 commits and it worked fine.
Thank you so much!

[2019-06-21 18:38] #437 closed

[2019-06-22 11:07] JonJC commented on #436
I'm getting same on any video I attempt to play. I'm using 2.7.6

[2019-06-23 17:16] SoneeJohn commented on #436
@JonJC What video ID and did you clean you build folder?

[2019-06-24 10:29] JonJC commented on #436
@Soneé John<mailto:notifications@github.com> -  here's a example:

"BUOxIO2Fx1Q"

but it's happening on all videos I've tried over last week

Yes, I've done a Clean Build Folder.

________________________________
From: Soneé John <notifications@github.com>
Sent: Monday, 24 June 2019 3:16 AM
To: 0xced/XCDYouTubeKit
Cc: JonJC; Mention
Subject: Re: [0xced/XCDYouTubeKit] Cannot play video (#436)

@Jon

[2019-06-25 01:38] xingzhi opened #438 "new signature regular"
according to https://github.com/ytdl-org/youtube-dl/commit/31ce6e996666e7512990da01ef58785933dcb2be
new regular added, is this necessary for get signature decrypt function name ?

[2019-06-25 02:24] JonJC commented on #436
Sorry - my bad, I've fixed it.
My carthage was old, and was not building XCD properly.

[2019-06-25 14:16] #436 closed

[2019-06-26 14:20] Taniya19 commented on #398
Do you have solution for this? I am facing the same issue.

[2019-07-01 16:46] #429 closed

[2019-07-01 16:47] #217 closed

[2019-07-01 16:50] #200 closed

[2019-07-01 16:50] #235 closed

[2019-07-01 16:52] #362 closed

[2019-07-01 16:59] SoneeJohn commented on #428
Unfortunately, if YouTube doesn't serve the video at itag 22 then there is no way to get the URL for that.

[2019-07-01 16:59] #428 closed

[2019-07-02 13:35] #438 closed

[2019-07-09 05:53] AnandNanavaty commented on #406
Hello, I am facing the same issue in version 2.7.7

[XCDYouTubeKit] No signature function in player script [XCDYouTubeKit] Video operation finished with error: The operation couldn’t be completed. (XCDYouTubeVideoErrorDomain error -2.)

also getting this error:
[XCDYouTubeKit] No signature function in player script [XCDYouTubeKit] Video operation finished with error: This video is unavailable.

I

[2019-07-09 08:22] SoneeJohn commented on #406
Thanks! I'll look into this

[2019-07-09 08:34] SoneeJohn commented on #406
@AnandNanavaty The console should have provided the value of the script used. Can you set a breakpoint like this:

![Screen Shot 2019-07-09 at 4 34 26 AM](https://user-images.githubusercontent.com/4827301/60872539-d6ddb880-a202-11e9-99a6-0142584443fc.png)

Let me know the value of the string. I am not able to replicate this issue :-)

[2019-07-09 10:14] AnandNanavaty commented on #406
Thank you so much for replay, but I am using - (id<XCDYouTubeOperation>) getVideoWithIdentifier:(NSString *)videoIdentifier cookies:(NSArray<NSHTTPCookie *> *)cookies completionHandler:(void (^)(XCDYouTubeVideo * _Nullable, NSError * _Nullable))completionHandler this method.

![Screenshot 2019-07-09 at 3 43 01 PM](https://user-images.githubusercontent.com/17194361/60879979-577ed200-a260-11e9-9f85-

[2019-07-11 08:24] dlpigpen opened #439 "Could you please add pod 2.7.7"
There was a release for version 2.7.7 but cocoapod is in v2.7.6. Could you please release it too on the Cocoapod?

[2019-07-12 21:18] Eramirez06 commented on #371
Can you explain me how may i change the archivo to rotate to landscape the video always

[2019-07-15 16:18] MehmetSait commented on #439
++

[2019-07-15 16:20] SoneeJohn commented on #439
The pod is currently at 2.7.7 (https://github.com/CocoaPods/Specs/blob/master/Specs/7/d/3/XCDYouTubeKit/2.7.7/XCDYouTubeKit.podspec.json)

Can I see your pod file?

[2019-07-15 19:50] MehmetSait opened #440 "XCDYouTubeVideoErrorDomain"
hi all
i have an error, Error Domain=XCDYouTubeVideoErrorDomain Code=-2 "(null)"

how can i fixe it

[2019-07-16 08:19] MehmetSait commented on #440
hi,
sometimes play, sometimes don't play video, this is so interesting.  videoId is 2lEkmTycteI

[2019-07-17 08:31] dlpigpen commented on #439
Thank You. Now it works.

[2019-07-17 08:31] #439 closed

[2019-07-18 11:15] franksmieja commented on #406
hi is there any update on this error from @AnandNanavaty ?  I am getting a similar issue, but only for certain videos on youtube.

[2019-07-18 12:24] ryanrward commented on #434
Hello,
I am getting the following error. The video plays after the error is thrown.

Task <6D318B02-F2EC-4022-BA7D-500EADF449D8>.<2> load failed with error Error Domain=NSURLErrorDomain Code=-999 "cancelled" UserInfo={NSErrorFailingURLStringKey=https://r3---sn-q0-50il.googlevideo.com/videoplayback?expire=1563474188&ei=rGQwXd3gNpaQ1wbS7Low&ip=91.75.68.78&id=o-AAcOQCP-0Py2RmMQsAMobO97wqaETjF_ZG7K2ml

[2019-07-18 15:16] SoneeJohn commented on #434
@ryanrward Can you give me the video URL of the video and also what version of the library are you using?

[2019-07-18 15:18] SoneeJohn commented on #406
@AnandNanavaty Sorry, for the late reply. That method is located in the `XCDYouTubePlayerScript` implementation file here: https://github.com/0xced/XCDYouTubeKit/blob/6db80694e48b6fa5d4d7ef36e4562ad93dcc9d85/XCDYouTubeKit/XCDYouTubePlayerScript.m#L18

[2019-07-18 18:43] ryanrward commented on #434
I tried many videos with the same result. Right now the following video is there:
https://www.youtube.com/watch?v=uG-1fNu05hI

I'm using XCDYouTubeKit (2.7.7)

[2019-07-18 19:35] SoneeJohn commented on #434
@ryanrward Please see my comment here: https://github.com/0xced/XCDYouTubeKit/issues/406#issuecomment-512861445

[2019-07-18 20:13] ryanrward commented on #434
Is this the correct info?

string	__NSCFString *	@"var _yt_player={};(function(g){var window=this;var ba,da,la,ma,na,pa,oa,qa,ra,sa,ua,baa,caa,va,wa,daa,eaa,xa,ya,za,Aa,Ba,Ea,Ia,Ja,gaa,haa,Ta,Ua,iaa,jaa,ab,kaa,ib,jb,laa,pb,lb,maa,nb,naa,oaa,paa,ub,vb,Db,Eb,Gb,Jb,Mb,Nb,Pb,Tb,Vb,Wb,Zb,$b,fc,gc,ic,hc,kc,raa,lc,saa,taa,oc,pc,sc,tc,waa,vc,uc,Bc,Fc,Gc,Hc,zaa,Caa,Daa,Lc,Oc,Eaa,Faa,Nc,Qc,Iaa,Vc,Xc,Zc,bd,c

[2019-07-18 21:02] SoneeJohn commented on #434
@ryanrward Yes. Did you get that and still had an error?

[2019-07-19 05:32] ryanrward commented on #434
@SoneeJohn yes, it's happening regardless of which video id place in there.

Here's the code I"m using to implement the video:

struct YouTubeVideoQuality {
        static let hd720 = NSNumber(value: XCDYouTubeVideoQuality.HD720.rawValue)
        static let medium360 = NSNumber(value: XCDYouTubeVideoQuality.medium360.rawValue)
        static let small240 = NSNumber(value: XCDYouTubeVideoQuality.sm

[2019-07-19 21:57] SoneeJohn commented on #434
Thanks. Please see my updated comment at https://github.com/0xced/XCDYouTubeKit/issues/406#issuecomment-512861445

[2019-07-20 07:33] ryanrward commented on #434
Thank you. I set the breakpoint but didn't receive any error or String.

[2019-07-21 01:48] SoneeJohn commented on #434
@ryanrward What version of the library are you using?

[2019-07-21 01:49] SoneeJohn commented on #434
@ryanrward Can you show me the entire console output you get what fetching that video?

[2019-07-21 10:17] ryanrward commented on #434
No problem @SoneeJohn. And thank you again for your help looking into this.

Concole output:

2019-07-21 14:14:15.502516+0400 MyVideoApp[19866:1279929] [BoringSSL] nw_protocol_boringssl_get_output_frames(1301) [C2.1:2][0x7fdc33c2c810] get output frames failed, state 8196
2019-07-21 14:14:15.508437+0400 MyVideoApp[19866:1279929] [BoringSSL] nw_protocol_boringssl_get_output_frames(1301) [C2.1:2][0x7

[2019-07-21 10:56] SoneeJohn commented on #434
@ryanrward Thanks! I forgot to mention adding the `XCDYouTubeKitLogLevel` environment variable to `0`. Do that and send me your logs again please :-)

<img width="652" alt="Screen Shot 2019-07-21 at 6 50 54 AM" src="https://user-images.githubusercontent.com/4827301/61590285-a55ed880-ab84-11e9-99d4-e00385fd8f15.png">

[2019-07-21 11:29] ryanrward commented on #434
Okay @SoneeJohn, I did that, but the error looks the same to me.

showing video Play
2019-07-21 15:27:08.543844+0400 MyVideoApp[20466:1333083] [BoringSSL] nw_protocol_boringssl_get_output_frames(1301) [C2.1:2][0x7fde52f10a10] get output frames failed, state 8196
2019-07-21 15:27:08.544084+0400 MyVideoApp[20466:1333083] [BoringSSL] nw_protocol_boringssl_get_output_frames(1301) [C2.1:2][0x7fde52f10a

[2019-07-21 12:06] pixlwave opened #441 "Swift Package unable to find headers"
I'm not sure if this is a toolchain issue or a project issue, but it seems #430 no longer works correctly. I've been trying it within Xcode 11 but to make it easier to debug, the following is the output of a command line build:

[code]

I'm building on macOS 10.14.5, with both Xcode 10 and 11 beta 4 installed. `swift --version` reports `Apple Swift version 5.0.1 (swiftlang-1001.0.82.4 clang-1001.0

[2019-07-21 12:15] SoneeJohn commented on #434
@ryanrward Okay. Please use the demo app in the project (the Mac app) and try entering the video ID that is causing the error for you and see that your environment variables are like this:

<img width="988" alt="Screen Shot 2019-07-21 at 8 13 45 AM" src="https://user-images.githubusercontent.com/4827301/61591069-8154c480-ab8f-11e9-91c9-709314b63429.png">

[2019-07-21 12:20] ryanrward commented on #434
This more helpful?

2019-07-21 16:19:22.421701+0400 XCDYouTubeKit OS X Demo[22735:1518701] Starting video operation: <XCDYouTubeVideoOperation: 0x600003510dc0> GhzVZ2jaBN4 (en)
2019-07-21 16:19:22.425836+0400 XCDYouTubeKit OS X Demo[22735:1518701] Starting request: https://www.youtube.com/get_video_info?el=embedded&hl=en&ps=default&video_id=GhzVZ2jaBN4
2019-07-21 16:19:22.998065+0400 XCDYouTubeKit

[2019-07-21 14:08] SoneeJohn commented on #434
@ryanrward

Yes that’s more helpful can you paste this URL in Google Chrome and let me know if you can view it?

https://r1---sn-q0-50il.googlevideo.com/videoplayback?expire=1563733163&ei=S1g0XY7sE6aAhAesu5_gBQ&ip=91.75.68.78&id=o-AHTlncOj2T7g7ZH7tAkmHVFItJniOZ418u9q2gJ1LWNg&itag=22&source=youtube&requiressl=yes&mm=31%2C29&mn=sn-q0-50il%2Csn-4wg7ln7k&ms=au%2Crdu&mv=m&mvi=0&pcm2cms=yes&pl=19&initcw

[2019-07-21 14:10] ryanrward commented on #434
hi @SoneeJohn. Yes, I can view it.

[2019-07-22 09:08] Dschee commented on #441
@pixlwave Hey, I'm not sure how you're incorporating this library into your project. Are you using Xcode 11's built-in SwiftPM support? Or are you using Accio? Could you please (in both cases) post the contents of your `Package.swift` file? That way, I know what exactly to check for.

[2019-07-22 10:11] ryanrward commented on #434
@SoneeJohn so, should i ignore the error message in xocde?

i am attempting to add custom player controls to the player, but i believe the error is affecting this.

[2019-07-22 18:09] pixlwave commented on #441
Hey @Dschee Sorry, I didn’t even know there was any other way to use Swift Packages in Xcode outside of the beta, otherwise I would have been more specific 🙂

I don’t have a Swift.package file. Simply clicked File | Swift Packages | Add Package Dependency... and entered the GitHub address, leaving the version at its default of 2.7.7 up to Next Major. Then clicked build and it fails to compile. Err

[2019-07-22 18:13] pixlwave commented on #441
I guess this is the closest representation to Package.swift in Xcode?

![4B3F08D6-BC16-480B-B7D7-2C68505984AC](https://user-images.githubusercontent.com/6060466/61654635-c3c3f180-acb4-11e9-9a28-4868a38afdb6.jpeg)

[2019-07-23 08:39] Dschee commented on #441
@pixlwave Thanks for the clarification, that helps.

The header linking problem can be fixed easily within the dependency. For example instead of this ...
[code]

... by simply writing this ...
[code]

... the build problem regarding finding the headers disappears. But that's only the start, once that's fixed, many additional build errors appear. Mostly they seem to be issues with missing iOS libr

[2019-07-24 00:53] leftyfl1p commented on #440
Also receiving this on a lot of videos that have tagged music in them.

[2019-07-25 08:46] pixlwave commented on #441
Damn I just tried this again (tried before I opened the Issue) and it works. I think before I was using the command line running `swift build` where I still see the errors you are on about.
However, this time I did it all in Xcode 11 by opening the project using Package.swift, editing those `#import` statements, choosing iOS as a target and then it builds no problems whatsoever.

Is this a change

[2019-07-26 21:54] darkForestCat opened #442 "Background playback is not working on iOS 12.2.x+"
I note that background playback is not working on 12.2.Currently using the hack with checking when the app goes background to play the video after the pause, but sometimes it does not work properly and create a little pause.

`
@objc func playerStateChanged() {
        if currentVideoController.moviePlayer.playbackState == .interrupted {
             currentVideoController.moviePlayer.play()

[2019-07-30 13:43] SoneeJohn opened #443 "Video titles and duration empty"
Videos such as `le7WrodEtcU` return an empty video title.

[2019-07-30 20:38] #443 closed

[2019-07-31 08:57] MehmetSait opened #444 "Error Domain=XCDYouTubeVideoErrorDomain Code=-2"
hi, some videos some times play, some times can't play
error log is:   Error Domain=XCDYouTubeVideoErrorDomain Code=-2 "(null)" UserInfo={NSURL=https://www.youtube.com/get_video_info?el=detailpage&hl=en&ps=default&video_id=J8IamfOsmjY

[2019-07-31 14:24] thedoubler commented on #444
It's because there's no data in key `url_encoded_fmt_stream_map` Might be a YouTube change?

[2019-07-31 18:42] SoneeJohn commented on #444
What version of the library are you running?

[2019-07-31 18:42] SoneeJohn commented on #444
![Screen Shot 2019-07-31 at 2 42 09 PM](https://user-images.githubusercontent.com/4827301/62238621-61987a00-b3a1-11e9-83a0-12d2697ab1d1.png)

[2019-07-31 21:19] MehmetSait commented on #444
i use latest version(Version 2.7.8) sometimes working, but sometimes not work. especially when switching automatically like youtube.

[2019-08-01 08:40] thedoubler commented on #444
Downloading, I guess is same for playing, for some video works and other don't, on latest version

[2019-08-01 15:39] thejogsa commented on #440
Hi Getting same problem from this library. Is there any solution ?
**Error Domain=XCDYouTubeVideoErrorDomain Code=-2 "(null)"**

[2019-08-01 15:42] thejogsa commented on #444
Hi Getting same problem from this library. Is there any solution ?
**Error Domain=XCDYouTubeVideoErrorDomain Code=-2 "(null)"**

Video operation finished with error: The operation couldn’t be completed. (XCDYouTubeVideoErrorDomain error -2.)
Domain: XCDYouTubeVideoErrorDomain
Code: -2
User Info: {
NSURL = "https://www.youtube.com/get_video_info?el=detailpage&hl=en&ps=default&video_id=x4YPZxmoKDs";

[2019-08-01 20:26] SoneeJohn commented on #444
@thejogsa Please show me your full console output when you got this error.

[2019-08-05 09:55] huahua0521 commented on #444
Hi~I had the same problem in version 2.7.4 ~
video_id=1wuOie3jvfA ,and here is my console...

 [XCDYouTubeKit] No signature function in player script
 [XCDYouTubeKit] Video operation finished with error: Unable to complete the assignment。（XCDYouTubeVideoErrorDomain error -2 。）
Domain: XCDYouTubeVideoErrorDomain
Code:   -2
User Info: {
}
 [BoringSSL] nw_protocol_boringssl_get_output_frames(1301) [C

[2019-08-11 21:11] ivkuznetsov commented on #442
You should disable video track of currentItem of your AVPlayer right before getting to background and enable it back when you open the app. Then the video won’t be interrupted, and you won’t need the hack

[2019-08-19 17:11] yoasha opened #445 "Crash on iOS 13"
Adding support of iOS 13 to my app, I get an exception when trying to play a Youtube movie. Specifically when calling the following line:
`[[XCDYouTubeVideoPlayerViewController alloc] initWithVideoIdentifier:param];`

This is the Xcode output:
`Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'MPMoviePlayerViewController is no longer available. Use AVPlayerViewContro

[2019-08-19 17:13] SoneeJohn commented on #445
@yoasha You need to use `XCDYouTubeClient` class like this:

[code]

[2019-08-19 17:13] #445 closed

[2019-08-19 17:27] yoasha commented on #445
Thanks for the quick response! Do you have by any chance a sample code in objective-c?

[2019-08-19 17:40] SoneeJohn commented on #445
@yoasha Sure:

[code]

[2019-08-19 18:10] yoasha commented on #445
Thank you so much! Can I detect when playback ended successfully or if there was an error playing the video?

[2019-08-21 17:40] davydovct commented on #444
Same issue here. First I thought it was because the video I’ve tried to download was in 720 with 50 fps, but then I’ve tried others and they worked fine. Still can’t find the reason.
You can test it with this video for example: NRFePM_flFI

PS: 360 quality displayed well, problem appears only in 720p

[2019-08-29 06:46] mobileonekh opened #446 "Can Youtube know that their video is playing from which bundle id?"
Hi,
Will Youtube know that the video is playing from which bundle id(app_id)?
If youtube knows, than it'll disable its admob or block the video.

Thanks;

[2019-09-09 19:49] cjortegon commented on #361
This is causing the library not being supported for iOS 13. MPMoviePlayerViewController is no longer available.

[2019-09-11 14:45] yoasha commented on #444
Hi All,

I can see this issue is opened for quite some time. Any news about it?

I didn't have any issues up until today, and now, all of the sudden I keep getting "XCDYouTubeVideoErrorDomain error -2" (with empty User Info) for any youtube ID that I play (i.e. SUXWAEX2jlg). The error is returned when I call `[[XCDYouTubeClient defaultClient] getVideoWithIdentifier:completionHandler:]`

I am using

[2019-09-11 14:51] dgsquare82 commented on #444
The same issue happens to me just now. It's very tragic cause I've been using this library for my paid mobile service. Hope someone will figure this out asap. 😢

[2019-09-11 15:13] chaocharleswang opened #447 "Not work any more"
Not work any more

[2019-09-11 15:20] chaocharleswang commented on #447
@SoneeJohn Please have a check. Thanks!

[2019-09-11 16:05] ghislainleblanc opened #448 "(String?) $R0 = “The operation couldn’t be completed. (XCDYouTubeVideoErrorDomain error -2.)"
It looks like getVideoWithIdentifier isn't working since this morning (Sept 11 2019).

[2019-09-11 16:06] ghislainleblanc commented on #444
I have it too since this morning (Sept 11 2019).

All videos are affected.

[2019-09-11 16:35] chaocharleswang commented on #444
Fixed on youtube–dl

https://github.com/ytdl-org/youtube-dl/commit/bf1317d257d13188601c837c983830355c6203e5
________________________________
From: Ghislain Leblanc <notifications@github.com>
Sent: Wednesday, September 11, 2019 11:06:23 AM
To: 0xced/XCDYouTubeKit <XCDYouTubeKit@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [0xced/XCDYouTubeKit] Error Domain=XCDYouT

[2019-09-11 16:40] chaocharleswang commented on #447
youtube–dl should have fixed it

https://github.com/ytdl-org/youtube-dl/commit/bf1317d257d13188601c837c983830355c6203e5

[2019-09-11 16:41] chaocharleswang commented on #448
youtube–dl should have fixed it

https://github.com/ytdl-org/youtube-dl/commit/bf1317d257d13188601c837c983830355c6203e5

[2019-09-11 16:52] SoneeJohn commented on #447
I am aware of the issue and I am working on a fix :-)

[2019-09-11 18:51] letam245 opened #449 "Error Domain=XCDYouTubeVideoErrorDomain Code=-2 "(null)")"
getVideoWithIdentifier not working, return video nil

![Screen Shot 2019-09-11 at 11 50 16 AM](https://user-images.githubusercontent.com/28547581/64725921-682f0c80-d48a-11e9-87f9-53083a7d1558.png)

when we can expect this to be fixed?

[2019-09-11 19:59] #447 closed

[2019-09-11 20:01] #448 closed

[2019-09-11 20:40] SoneeJohn commented on #449
@letam245 fixed in v2.8.1

[2019-09-11 20:40] #449 closed

[2019-09-12 04:42] joro1 opened #450 "XCDYouTubeVideoPlayerViewController "Implementing deprecated class" Warning"
I've just this evening updated to version 2.8.1 (from 2.6.0) and am now getting the following warning:

XCDYouTubeVideoPlayerViewController.m
@implementation XCDYouTubeVideoPlayerViewController
Implementing deprecated class

Short of turning off or ignoring warnings in XCode can you please advise as to what I need to do to clear this warning? Thank you.

[2019-09-12 05:13] joro1 commented on #450
I do now see the issue -- XCDYouTubeVideoPlayerViewController inherits from the deprecated iOS MPMoviePlayerViewController class, i.e.:

@interface XCDYouTubeVideoPlayerViewController : MPMoviePlayerViewController

Should I just ignore the warning? (Or is there a way to clear the warning that I've missed?)
Thank you.

[2019-09-18 09:27] whereiswhere commented on #450
I meet the same warning,

[2019-09-24 15:44] Josuevm opened #451 "Not working on iOS 13"
With the new Xcode update (version 11) is no longer working. I'm getting this error:

I'm using 'XCDYouTubeKit', '~> 2.8.1'. Checking previous issues seems to be fixed on that version but it's not working.

[2019-09-24 16:06] SoneeJohn commented on #451
I'll look into this

[2019-09-24 16:07] SoneeJohn commented on #451
Are you getting that error when building the app with Xcode 11 or just the app is running?

[2019-09-24 16:32] Josuevm commented on #451
When the app is running

[2019-09-24 16:38] SoneeJohn commented on #451
Okay, you need `AVPlayerViewController` and `XCDYouTubeClient`. See my post here:

https://github.com/0xced/XCDYouTubeKit/issues/445#issuecomment-522670657

[2019-09-24 16:40] Josuevm commented on #451
The problem is that I'm working with Ionic 3, so I can't use native code

[2019-09-29 15:20] whereiswhere commented on #440
I received this bug too, just from yesterday. it seems affect all the videos.

[2019-10-01 02:05] ravidamanicc commented on #435
Adding the following to appDelegate.swift should fix the error.

    func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]?) -> Bool {
        // Override point for customization after application launch.
        let audioSession = AVAudioSession.sharedInstance()
        do {
            try audioSession.setCategory(.playb

[2019-10-01 08:34] yukitoto commented on #434
@SoneeJohn Thank you for your library.
Can you play video id "jrkSCn4GtNs"?
I use 2.8.1 and also tried with your sample project. I doesn't played.

If I should comment at other place, please tell me.

[2019-10-02 02:29] leftyfl1p commented on #440
This issue is fixed in 2.8.1 and should be closed.

[2019-10-03 14:21] kirian opened #452 "HD720 StreamUrl doesn't work properly in some videos"
Using the last sdk version `2.8.1`, I would like to know why some `streamUrls` doesn't work properly in two videos:

### 1st Video:
This is the Youtube video identifier `uslh4S-cgBQ`  which creates different streamURLs:

`XCDYouTubeVideoQualityHD720` = https://r6---sn-h5q7dnel.googlevideo.com/videoplayback?expire=1570132789&ei=1f6VXYe0K42AVsuXj-AC&ip=188.84.26.33&id=o-AJOpTaEWeEBITvaZ3svokcjDWvRq5

[2019-10-05 14:20] BreeeZe commented on #441
I'm running into the same problem.
I had a bunch of packages referenced via CocoaPods and I wanted to see if I could switch them to Swift Packages.
I added XCDYouTubeKit to my project via the integrated SwiftPackageManager in XCode 11 and it doesn't compile giving me the above error.

I cloned the repo to my local repo and changed the references to make it compile, but if I add this "fixed" versio

[2019-10-06 07:11] yukitoto commented on #452
I'm facing same problem.

[2019-10-08 14:09] SoneeJohn opened #453 "Update Example Apps"
Should be updated to show newer API's.

[2019-10-08 14:10] SoneeJohn commented on #452
YouTube sometimes doesn't server 720p in with itag=22. It uses a different version that doesn't contain audio.

[2019-10-08 14:10] #452 closed

[2019-10-08 16:12] yukitoto commented on #452
@SoneeJohn  Thank you.
How can I know that 720p doesn't work?

[2019-10-08 21:13] BreeeZe commented on #441
I forked the repo and managed to get it to work, you can clone my repo:
https://github.com/BreeeZe/XCDYouTubeKit.git and choose the "develop" branch in the package manager.
I had to exclude the VideoPlayerViewController since I use this lib on tvOS, and could figure out if and how to include files conditionally in a package 🤔

[2019-10-15 06:24] GSKoti0007 commented on #445
Thank you soo much dude..

[2019-10-16 00:50] dota2AndTI opened #454 "Resolution ID error"
Assertion failure in -[XCDYouTubeVideoOperation handleConnectionSuccessWithData:response:requestType:], /Users/ivy/Desktop/workspace/*********/***********/Pods/XCDYouTubeKit/XCDYouTubeKit/XCDYouTubeVideoOperation.m:178
2019-10-16 08:45:07.851330+0800 **********[16586:1046306] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Failed to decode response from h

[2019-10-16 01:57] SoneeJohn commented on #454
I wasn't able to reproduce this with the ID `ogalmk6K0zs`. That exception is thrown when the response data is empty.

[2019-10-16 07:51] dota2AndTI commented on #454
NSAssert(responseString.length > 0, @"Failed to decode response from %@ (response.textEncodingName = %@, data.length = %@)", response.URL, response.textEncodingName, @(data.length));

[2019-10-29 20:19] AndreiVidrasco commented on #441
@BreeeZe maybe you could open a PR back here?

[2019-10-29 20:50] BreeeZe commented on #441
I did just now, but I get some errors concerning the conditional compilation statements I'll have to fix..

[2019-10-29 21:23] caiquestow commented on #445
hey guys, some one could help me?
i have tried to implement this, but i am still failing..

i need to substitute this code in my function "openVideo", on YoutubeVideoPlayer.m. am i right?
i am making something like this, but i have errors with "presentViewController" and "Animated":

- (void)openVideo:(CDVInvokedUrlCommand*)command
{

    CDVPluginResult* pluginResult = nil;

    NSString* videoId

[2019-10-30 15:32] CWftw commented on #452
@SoneeJohn Although in our experience, and in the links above it says its itag 22. To repeat @yukitoto , how do we know if it won't play?

[2019-11-06 18:37] NikKovIos opened #456 "Some youTube links not loading video."
Some links are returned, but not loaded. For example [this](https://r7---sn-gvnuxaxjvh-3ggl.googlevideo.com/videoplayback?expire=1573085312&ei=IAzDXbK8DZSs7QSnmp2oCg&ip=62.183.124.38&id=o-AEqdKBxnAe7KFL81mbiizKA3o4ahOcrVkL4qckkWMKxS&itag=22&source=youtube&requiressl=yes&mm=31%2C29&mn=sn-gvnuxaxjvh-3ggl%2Csn-n8v7kn7l&ms=au%2Crdu&mv=m&mvi=6&pcm2cms=yes&pl=24&initcwndbps=646250&mime=video%2Fmp4&rateb

[2019-11-13 10:42] kirian commented on #452
@SoneeJohn then, how do we know it? 🙄

[2019-11-14 20:10] SoneeJohn commented on #452
I am sorry for my late reply on this. Sometimes YouTube might return a URL but with a non 2xx status code.

What I suggest is querying the URL before using them. However, I've yet to  720, 360, 240p all being unreachable. I might add this querying feature to the library in the future:

[code]

[2019-11-15 16:02] SoneeJohn commented on #441
Closed with v2.8.2

[2019-11-15 16:02] #441 closed

[2019-11-15 16:02] SoneeJohn commented on #442
Closed with v2.8.2

[2019-11-15 16:02] #442 closed

[2019-11-26 17:04] YangKunCheng opened #457 "MPMoviePlayerViewController"
2019-11-27 01:02:11.769952+0800 FitMe[12486:277665] Consumed extension
2019-11-27 01:02:12.443919+0800 FitMe[12486:277373] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'MPMoviePlayerViewController is no longer available. Use AVPlayerViewController in AVKit.'
*** First throw call stack:
(
	0   CoreFoundation                      0x00007fff23c4f02e __exceptionP

[2019-11-29 17:01] SoneeJohn commented on #457
@YangKunCheng What version of the project you're using? The latest demo app no longer use `MPMoviePlayerViewController`

[2020-01-19 05:45] farabis4m commented on #445
@SoneeJohn i am getting this error:-

[XCDYouTubeKit] Video operation finished with error: The operation couldn’t be completed. (XCDYouTubeVideoErrorDomain error -2.)
Domain: XCDYouTubeVideoErrorDomain
Code:   -2
User Info: {
}

[2020-01-19 06:30] MhmdSalah opened #458 "getVideoWithIdentifier always returns error code -2"
Starting yesterday i noticed that XCDYouTubeKit fails and returns error code -2
i tried multiple videos with no success.

[2020-01-20 10:32] rajugautam commented on #458
Happening with me too. Looks like some YouTube changes are stopping from getting stream urls.

[2020-01-20 12:14] SoneeJohn commented on #458
@MhmdSalah Please give me an identifier that is causing you issues.

[2020-01-20 12:14] SoneeJohn commented on #445
@farabis4m Please give me the URL that is causing you issues

[2020-01-21 11:07] den-zv commented on #458
Facing the same problem.
I believe you can try any ID to debug that. E. g. `cfOa1a8hYP8`, it gives me an error mentioned above.

[2020-01-23 05:50] SoneeJohn commented on #458
@den-zv  Are you using the latest version of library. I am able to play `cfOa1a8hYP8`

![Screen Shot 2020-01-23 at 1 48 44 AM](https://user-images.githubusercontent.com/4827301/72959938-81be5a00-3d82-11ea-8ca9-dce44bf1ac35.png)

[2020-01-23 09:30] cristea2017 commented on #458
i use pod "XCDYouTubeKit", "~> 2.8.2" and not fails :)  maybe video is private or have restriction ...

[2020-01-23 09:49] antonvilyams commented on #458
Yes, just update the library to the latest version.

[2020-01-23 19:53] demistry commented on #458
Still have the same problem with a lot of video IDs including this XW6JBwv4lig

[2020-01-23 19:54] demistry commented on #458
And i have updated to 2.8.2 seems youtube did some sort of restriction on video streaming...

[2020-01-23 20:16] CWftw opened #459 "AVPlayer error on some (music) videos"
I am getting this error when trying to play Rap God (https://www.youtube.com/watch?v=XbGs_qK2PQA):

AVPlayer Error: Localized Description: Cannot Open; Domain: AVFoundationErrorDomain; Code: -11828

It doesn't seem to be all videos yet, but is this related to the issues YouTube-DL are having today?
https://github.com/ytdl-org/youtube-dl/issues/23819

[2020-01-23 23:37] #458 closed

[2020-01-23 23:40] SoneeJohn commented on #459
@CWftw Thanks! This issue should be fixed in the latest version of the library.

[2020-01-23 23:40] #459 closed

[2020-01-27 10:16] gonzo-oin commented on #446
I think they can't know the app bundle id. The HTTP request made by the framework don't send this kind of information to YouTube. In fact, it use a [session configuration](https://github.com/0xced/XCDYouTubeKit/blob/33e9463aba099c047a26d984a80d37bec42c0639/XCDYouTubeKit/XCDYouTubeVideoOperation.m#L91) named "ephemeral" that is perfect to improve privacy according to [apple documentation](https://d

[2020-01-27 10:22] gonzo-oin commented on #377
@ogezue
You can use YouTube API for downloading subtiles and [integrating manually](https://developer.apple.com/documentation/avfoundation/media_assets_playback_and_editing/adding_subtitles_and_alternative_audio_tracks) to the AVAsset.
You also can use an alternative player like VLC or ffmpeg, it may be more easy to integrate subtiles.

[2020-01-28 03:30] mobileonekh commented on #446
@gonzo-oin , Thank for your explanation.
Anyhow, I think Youtube know this via one way or the other because it blocked Admob on my app which use this library.

[2020-01-28 23:32] #454 closed

[2020-01-28 23:32] #453 closed

[2020-01-28 23:33] SoneeJohn commented on #453
Closed in https://github.com/0xced/XCDYouTubeKit/releases/tag/2.8.2

[2020-01-28 23:33] #457 closed

[2020-01-28 23:34] SoneeJohn commented on #351
Closed in https://github.com/0xced/XCDYouTubeKit/commit/14b7f9bc05335db8b5eb025398828dc2a562fb58

[2020-01-28 23:34] #351 closed

[2020-01-28 23:37] SoneeJohn commented on #361
Adding `XCDYouTubeVideoPlayerViewController ` as a subclass of `AVPlayerViewController` is no longer planned. Instead please use this method (and see the new demo apps):

[code]

[2020-01-28 23:37] #361 closed

[2020-01-28 23:37] #377 closed

[2020-01-28 23:38] #368 closed

[2020-01-28 23:38] #444 closed

[2020-01-28 23:38] #440 closed

[2020-01-28 23:39] #269 closed

[2020-01-28 23:39] #157 closed

[2020-01-28 23:39] SoneeJohn commented on #157
No longer planned.

[2020-01-28 23:39] #118 closed

[2020-01-28 23:40] #398 closed

[2020-01-28 23:40] #451 closed

[2020-01-29 18:28] keegho opened #461 "Suddenly i have NSLocalizedDescription = "unsupported URL" on all videos"
It has been a couple of days that i have this error when playing my videos on youtube from the app. What happened? I'm using the latest version 2.8.3 using cocoapods. What could the reason be?

The id's are extracted correctly and everything was fine and suddenly i'm getting complains from users in the app that the videos are not playing any more. I said maybe it was the version of the XCDYouTubeK

[2020-01-29 19:39] SoneeJohn commented on #461
Can you give an example URL that is showing this issue?

[2020-01-29 19:53] keegho commented on #461
@SoneeJohn https://www.youtube.com/watch?v=CINIx6d0gJ0

[2020-01-29 20:03] SoneeJohn commented on #461
@keegho
![Screen Shot 2020-01-29 at 4 02 07 PM](https://user-images.githubusercontent.com/4827301/73392724-bf564200-42b0-11ea-94cc-f7041dff8d0a.png)

Can you try the demo app? It's working fine on my end. Ensure to clean the project first

[2020-01-29 20:09] keegho commented on #461
The strange thing is that i'm building a new app called "TWG" and i'm using the same library, version and code and it is working fine on our new application. But the one in the store our old app called "SHAGA3APP" of it stopped working and the new version i'm trying to upload for "SHAGA3APP" have same issue even after updating the library. The only difference between the TWG app and the "SHAGA3APP

[2020-01-29 20:38] keegho commented on #461
@SoneeJohn  Hello i resolved the issue. I removed the pod and used swift package manager and was able to remove the duplicate files and it worked. I don't know what was wrong using cocoapods.

[2020-01-29 20:40] SoneeJohn commented on #461
Great! I am glad you solved the issue.

[2020-01-29 20:40] #461 closed

[2020-01-30 12:22] RYULs opened #462 "iOS 13 - MPMoviePlayerController is no longer available."
*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'MPMoviePlayerController is no longer available. Use AVPlayerViewController in AVKit.'

MPMoviePlayerController is no longer available. Use AVPlayerViewController in AVKit. when do fixed?

[2020-01-30 17:43] SoneeJohn commented on #462
If you're using the demo apps ensure it's on the latest version. If you're writing the code yourself please use this method

### iOS 8.0+ & tvOS (AVPlayerViewController)

[code]

[2020-01-30 17:43] #462 closed

[2020-01-31 10:42] Nikitos9I opened #463 "Additional patterns in XCDYouTubePlayerScript"
Hello!

Many of those who use your library sometimes encounter a problem when YouTube updates its patterns (it takes time until you update the library, until we pull up the changes, and until Apple approves a new version of our app: all this time, users will not play videos from YouTube)

We have the ability to pull up these patterns from the server without updating the application

As a solution

[2020-01-31 12:42] SoneeJohn commented on #463
I was thinking of doing something similar. It was actually planned in https://github.com/0xced/XCDYouTubeKit/issues/199

Would you mind opening a pull request to add this?

[2020-01-31 13:08] Nikitos9I commented on #463
Yea, I will do it

[2020-02-02 05:39] oTranAnhMinh opened #465 "Parse Video Error!!!"
Hello,

Currently, some videos are limited by country. Please help to check it.

Domain: XCDYouTubeVideoErrorDomain
Code:   -2
User Info: {
    AllowedCountries = "{(\n    \"United States\"\n)}";
    NSLocalizedDescription = "The uploader has not made this video available in your country.";
    NSURL = "https://www.youtube.com/get_video_info?eurl=https://youtube.googleapis.com/v/jOAoQO9UOHs&hl=en&

[2020-02-02 11:17] SoneeJohn commented on #465
Are you in the United States?

[2020-02-02 18:34] oTranAnhMinh commented on #465
No. I live in Vietnam.
I have selected some VEVO videos with the region in the United States and occasionally receive this error.

[2020-02-02 18:36] SoneeJohn commented on #465
Interesting. Well based on the error message that is why you're getting that error. What I suggest is using a VPN or proxy to change your IP to a US one and try again.

[2020-02-02 18:36] #465 closed

[2020-02-03 01:11] BBMO opened #466 "The callback is launched only at the end of the video and not if the video closes before"
Hi I’m using this plugin for an ionic project but I have issues on iOS when the video shuts down before being watched completely, the callback doesn’t lunch before the video ends, therefore I have trouble with the orientation, this due to I change to landscape right when I play the video and I change the orientation to potrait in the callback, but if the callback is not launched then the device re

[2020-02-05 06:55] simformsolutions commented on #450
It's a crashing app in iOS 13+
**Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'MPMoviePlayerViewController is no longer available. Use AVPlayerViewController in AVKit.'**

[2020-02-06 16:11] SoneeJohn commented on #450
I silenced the warning in https://github.com/0xced/XCDYouTubeKit/commit/b12328732456196020e22f9f79e46ef692a7bf94

if you're targeting iOS 13.0+ do not use `XCDYouTubeVideoPlayerViewController` instead use `XCDYouTubeClient` or `XCDYouTubeVideoOperation`

[2020-02-06 17:00] #450 closed

[2020-02-06 17:00] #463 closed

[2020-02-06 17:01] #199 closed

[2020-02-09 00:13] Red-Mak opened #467 "Not working anymore"
Hi,
Im using XCDYouTubeClient in my iOS and tvOS but from some days i noticed that i can’t get direct url to the video.

Could you please check, thanks :)

[2020-02-09 19:16] gonzo-oin commented on #467
Hello @Red-Mak,
Did you test with the latest version `2.9.0` ?
Can you please share the URLs that don't work ?

[2020-02-10 00:32] Red-Mak commented on #467
Thank you for the quick answer
here's alink that doesn't work : https://www.youtube.com/watch?v=JDcAlo8i2y8

[2020-02-10 01:44] SoneeJohn commented on #467
Video plays fine on my end, please confirm you've updated to v2.9.0 and that you've cleaned you build folder.

<img width="592" alt="Screen Shot 2020-02-09 at 9 43 27 PM" src="https://user-images.githubusercontent.com/4827301/74115351-40e98200-4b85-11ea-9122-453ce6845590.png">

[2020-02-10 01:44] #467 closed

[2020-02-10 21:10] Red-Mak commented on #467
not sure what happened, but i switch to use SPM instead of cocoapods and it works ..

[2020-02-11 06:22] StevenKuo opened #468 "XCDYouTubeVideoErrorDomain error -2"
Could I know what did error mean?

[XCDYouTubeKit] Video operation finished with error: The operation couldn’t be completed. (XCDYouTubeVideoErrorDomain error -2.)
Domain: XCDYouTubeVideoErrorDomain
Code:   -2
User Info: {
}

[2020-02-11 09:49] gonzo-oin commented on #468
This mean the URL you pass to XCDYouTubeKit is unavailable. Is your network restricted, could you share the code that used `XCDYouTubeKit` and maybe the video URL that cause the issue?

[2020-02-11 11:25] SoneeJohn commented on #468
Can you let me know which version of the library you're using and the video identifier?

[2020-02-11 21:05] CWftw commented on #463
This was a greatly needed feature. Thank you!

[2020-02-12 06:25] StevenKuo commented on #468
I can get URL by the others video identifier correctly, the error only happened by specific one.

XCDYouTubeKit (2.8.3)
video identifier: cdqP6wI8TCc

[2020-02-12 14:00] SoneeJohn commented on #468
@StevenKuo Thanks! I was able to reproduce this issue. I will look into it further

[2020-02-12 20:49] GEverding opened #469 "Extract Related Videos"
Hi,

Been looking at NewPipeExtractor and seeing how they get related videos. How hard would it be to add this functionality? I'm open to adding a PR just wondering where to start.

Garrett

[2020-02-17 19:53] #290 closed

[2020-02-17 19:57] SoneeJohn commented on #468
@StevenKuo The latest update should fix your issue, unfortunately, the video will have no audio. It appears YouTube is only serving itags that contain video only and no audio.

[2020-02-17 19:57] #468 closed

[2020-02-17 19:57] SoneeJohn commented on #469
I will look into this!

[2020-02-18 10:29] tanphamanhh commented on #456
same issue here

[2020-02-18 12:14] SoneeJohn commented on #456
Thanks! I will look into this!

[2020-02-19 18:18] #456 closed

[2020-02-19 18:22] SoneeJohn commented on #456
For those wondering how to work around this please use the querying functionality in `XCDYouTubeKit` or `XCDYouTubeVideoQueryOperation`

Here is an example on how to use it (example also in the macOS demo)
[code]

[2020-02-24 17:37] GEverding commented on #469
I've started looking at this and ran into issues because the project never used any pods in the framework. Do you know how I can go about adding a library to do the html parsing?

[2020-03-02 22:59] darkForestCat commented on #446
@mobileonekh so AdMob has disabled advertising in the app that uses this library in august 2019?

[2020-03-05 13:04] quazarteam opened #470 "crash"
Hello,

I am trying to implement YouTube full screen player and got the following:

Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'MPMoviePlayerViewController is no longer available. Use AVPlayerViewController in AVKit.'

any chance to fix it soon?

Thanks in advance

[2020-03-06 12:13] SoneeJohn commented on #470
If you're running iOS 13 you need to use `XCDYouTubeClient` like this:

[code]

[2020-03-06 12:13] #470 closed

[2020-03-07 18:40] JukeBoxApp opened #472 "is there a way the error object used to identify the id of the video?"
if i try to call `getVideoWithIdentifier` in quick succession from an array of videoIDs, lets say  some of the video throws an error (timeOut, Region restriction etc.) and some don't, I need to figure out which videoID the error belongs to.

Furthermore, is there a way to cancel previous `getVideoWithIdentifier` calls if the request has not completed(i.e, Completion Block is not called ye)? That w

[2020-03-13 03:52] DmytroBrovkin opened #473 "SDK returns invalid url"
Hi,
VideoId = "r9_Id6nsZS4"
SDK returns URL, but it is invalid. If you try to load video with this url, 403 would be returned. As a result, player would stuck forever. Please assist.

URL:
https://r2---sn-t0a7ln7d.googlevideo.com/videoplayback?expire=1584093054&ei=HgNrXv_pN66ggwPt15C4BQ&ip=80.71.45.183&id=o-AHcV61Y-srr_gmXzk-Ooj1w-paR2BqUoqPVsPyxNj-yr&itag=399&aitags=133%2C134%2C135%2C136%2C137%2C

[2020-03-25 06:59] anveshfactorly opened #474 "Full screen for swift - XCDYouTubeKit Demo/iOS Demo/AVPlayerViewControllerManager.swift not works"
Hello there

I have tried swift version of it and when i click on default icon of full screen video stop and shows black screen

Any solution ?

[2020-04-04 18:44] sereisoglu opened #475 "iOS 13.4 Simulator Warnings"
Hi,
I have been receiving the warnings in the photo since iOS 13.4 came.
![Artboard](https://user-images.githubusercontent.com/29237103/78458876-61354900-76bd-11ea-9f12-f72e5bd9ab5d.png)

[2020-04-06 11:33] SoneeJohn commented on #474
Hi, are you trying this on the simulator? I haven't add any issues like the one your described.

![Screen Shot 2020-04-06 at 7 32 30 AM](https://user-images.githubusercontent.com/4827301/78554221-c762be80-77d8-11ea-808a-e797ad26a365.png)

[2020-04-06 11:41] SoneeJohn commented on #475
@sereisoglu Thanks for reporting this 👍

[2020-04-06 11:51] #475 closed

[2020-04-08 17:58] jdm048 opened #476 "Can't get video in app, but in another app video is successfully playing"
Hello!
2 applicationcs uses XCDYouTubeKit, in first application all works as expected, but in second (implementation is same) getting error -
many many strings of JS in console and then error:
Error Domain=XCDYouTubeVideoErrorDomain Code=-2 "(null)" UserInfo={NSURL=https://www.youtube.com/get_video_info?el=detailpage&hl=ru&ps=default&video_id=i6VUQoen_GA}

As you can see videoId is i6VUQoen_GA, bu

[2020-04-26 21:43] SoneeJohn commented on #469
@GEverding I figured out how to extract related videos but it might require an extra network request and I am still debating whether or not to include this functionality in the project. I will keep you posted :-)

[2020-04-30 01:15] tungdangplus commented on #11
I can not find the answer to solve this problem so far. I'm stuck in this right now. I assumed that any video starting with Youtube Ads can not be play. And, when I try "youtube-ios-player-helper" in demo app, this problem is solved by adding playerVars: ["origin" : "https://www.youtube.com"]
I see that this topic is closed that means this problem is solved!!! Am I right? (hope).
I spent lots of t

[2020-04-30 20:26] accannis opened #479 "Report error instead of throwing assertion"
Can you catch assertions and send us an error instead of throwing? Or compile out the NSAssert calls? (Or mark the function call to throw so we can catch it?)

Stack trace is below. Attached is also the response that is triggering the library to take down the app.

[2020-04-30 20:27] accannis commented on #479
[curl.txt](https://github.com/0xced/XCDYouTubeKit/files/4560980/curl.txt)

[2020-04-30 20:28] accannis commented on #479
[CrashLog.txt](https://github.com/0xced/XCDYouTubeKit/files/4560984/CrashLog.txt)

[2020-04-30 20:30] accannis commented on #479
[code]

[2020-05-08 06:11] maulikshah09 opened #480 "How can Add youtube player like Whats app(PiP mode) using xcd ?"
Hello

 I have an shopping app and client want to pip mode like whats app. is possible pip mode in XCD player?

[2020-05-08 12:56] SoneeJohn commented on #480
Hi,

You would have to use a custom solution on iPhone (since they don't support PiP with APIs from Apple), if you're using an iPad you can use `AVPlayerViewController` which supports PiP (see https://developer.apple.com/documentation/avkit/avplayerviewcontroller/1615821-allowspictureinpictureplayback)

[2020-05-08 12:58] maulikshah09 commented on #480
How can i don that

[2020-05-08 12:59] SoneeJohn commented on #480
There is a 3rd party library that supports this here https://github.com/ky1vstar/PiPhone

[2020-05-08 13:02] maulikshah09 commented on #480
I have already tried that but not working

[2020-05-08 13:08] SoneeJohn commented on #480
Okay, what have you tried? Maybe add your work as a GitHub repo so I can have a look.

[2020-05-08 13:11] SoneeJohn commented on #479
I will look into using an error instead of throwing an assertion.

[2020-05-09 09:43] billidani7 commented on #479
i am facing the same problem

[2020-05-10 12:02] mobile-appz commented on #427
The demo app doesn't seem to be playing audio in the background by default when the app goes to the background or the phone is locked. Does something else have to be set somewhere?

[2020-05-10 12:04] mobile-appz opened #481 "Apple Watch support"
Is this library theoretically possible to port to use on Apple Watch for youtube audio streaming from the Apple Watch cellular connection without using an iphone at all?

[2020-05-10 15:01] mobile-appz commented on #427
Have just found the solution to play audio in the background is to tap on the settings icon in the top right corner of the demo app, and change Audio Session category to Playback.

[2020-05-11 00:02] billidani7 commented on #479
I run into this problem since yesterday. Every single try to load any video ended up to this assertion.

After some tests I release that my IP address get banned. I switched to 4G connection and the problem stopped. Also I restart my router and everything is working fine now.  Has anyone run into the same problem?

[2020-05-12 02:32] #479 closed

[2020-05-12 07:52] cristea2017 commented on #474
you can create own full screen using avplayerlayer
check this app: https://apps.apple.com/us/app/iburn-music-player-stream/id1506178737?ls=1

[2020-05-13 11:13] #472 closed

[2020-05-15 21:15] SoneeJohn commented on #481
Theoretically it could work (watchOS uses `AVAudioPlayer`) but because this library uses `JavaScriptCore` which isn't available on watchOS it won't build.

[2020-05-15 21:15] #481 closed

[2020-05-15 21:55] mobile-appz commented on #481
Thanks

[2020-05-19 12:43] hexagons commented on #402
[code]

[code]

[2020-05-25 11:48] joshgare opened #482 "EXC_BREAKPOINT crash on main thread"
Hi,

First of all thanks for a great library 🎉

Secondly, my firebase crash reporting occasionally reported a crash being caused by XCDYouTubeKit on the main thread. It's probably something I am doing wrong but I wanted to writ euphorias an issue to see if anyone could help me fix the problem / bring attention if it is a wider problem.

**Stack trace:**

[code]

**Line 380 in Video.swift where is

[2020-05-25 12:33] pigeon commented on #482
Looking at you stack trace it seems like  `video` may be `nil` in

[code]

The guard above checks if `error` is not `nil` but doesn't check if video is not `nil`

[2020-05-26 12:55] joshgare commented on #482
Hi @pigeon,

Thanks for the heads up but my initialiser for Video allows for video to be nil so I don't think it's that, that is causing the problem.

[code]

I have truncated the rest of my model initialiser as it's quite large and isn't relevant to the issue.

[2020-05-26 13:08] pigeon commented on #482
I see. another thing I can think about is that `streamURL` is `nil`.  AFAIR
[code]
would be bridged into an implicitly unwrapped optional and it would cause a crash if it's `nil`.
I haven't come across this property before and use `streamURLs` dictionary in my code.

[2020-05-26 13:39] SoneeJohn commented on #482
Thanks for spotting this, I figured that `streamURL` could never be `nil` because of the YouTube API. I will add the appropriate nullability annotation.

[2020-05-26 17:47] #480 closed

[2020-05-29 08:30] fangyuxi opened #483 "Help! Some videos can't be played anymore."
For example this id:

https://www.youtube.com/watch?v=2qP7nzmMR3s

[2020-05-29 20:18] SoneeJohn commented on #483
What version of the library are you running and what error message did you get?

[2020-05-31 03:02] fangyuxi commented on #483
@SoneeJohn Sorry, I can play video after updating version. Now I close the issue.

[2020-05-31 23:08] #483 closed

[2020-06-03 04:54] dlpigpen commented on #476
The same here.  it now is occurring a few videos

[2020-06-03 11:54] SoneeJohn commented on #476
Please update to the latest version of the library and try again.

[2020-06-03 11:56] dlpigpen commented on #476
I can confirm that the version 2.14 still does not work.

[2020-06-03 12:05] someziggyman commented on #476
The url you're using is rather strange looking.. using it in browser downloads some "get video info" file with contents of "errorcode=2&status=fail&reason=Invalid+parameters." Just use normal youtube video URL format and you'll be fine https://www.youtube.com/watch?v=i6VUQoen_GA_7D

[2020-06-04 07:19] TrongTran95 commented on #476
Same problem here. I've updated to newest version but still does not work.
Code:
XCDYouTubeClient.default().getVideoWithIdentifier("ewpJk50cjTM") { (video, error) in
}
Error:
[XCDYouTubeKit] Video operation finished with error: The operation couldn’t be completed. (XCDYouTubeVideoErrorDomain error -2.)
Domain: XCDYouTubeVideoErrorDomain
Code:   -2
User Info: {
}

[2020-06-04 20:03] SoneeJohn commented on #476
@TrongTran95  @dlpigpen Please try again and include the full console read out.

[2020-06-05 07:15] dlpigpen commented on #476
`
XCDYouTubeClient.default().getVideoWithIdentifier("ewpJk50cjTM") { (video, error) in
}
Error:
[XCDYouTubeKit] Video operation finished with error: The operation couldn’t be completed. (XCDYouTubeVideoErrorDomain error -2.)
Domain: XCDYouTubeVideoErrorDomain
Code: -2
User Info: {
}
`

[2020-06-05 07:22] TrongTran95 commented on #476
Still got same **Error**:
[XCDYouTubeKit] Video operation finished with error: The operation couldn’t be completed. (XCDYouTubeVideoErrorDomain error -2.)
Domain: XCDYouTubeVideoErrorDomain
Code:   -2
User Info: {
}
The operation couldn’t be completed. (XCDYouTubeVideoErrorDomain error -2.)
[BoringSSL] nw_protocol_boringssl_get_output_frames(1301) [C39.1:2][0x1107f2d30] get output frames failed, s

[2020-06-05 14:17] SoneeJohn commented on #476
@TrongTran95 Can I see your pod file?

[2020-06-05 14:22] TrongTran95 commented on #476
[code]

[2020-06-05 14:54] SoneeJohn commented on #476
Can you try running `pod update XCDYouTubeKit`

[2020-06-05 15:20] TrongTran95 commented on #476
[code]
Build and run again but nothing change.

[2020-06-05 16:00] SoneeJohn commented on #476
@TrongTran95 Clean your project and try again. I am able to play all those videos you listed.

[2020-06-05 16:16] TrongTran95 commented on #476
Thank you very much. I was able to play those videos again after clean and rebuild project.

[2020-06-14 02:29] TerryHug2305 opened #484 "should have default lastError in XCDYouTubeVideoOperation"
[XCDYouTubeKit] Video operation finished with error: (null)
Domain: (null)
Code:   0
User Info: (null)
[7769:55767764] *** Assertion failure in -[XCDYouTubeClient getVideoWithIdentifier:cookies:customPatterns:completionHandler:], /Pods/XCDYouTubeKit/XCDYouTubeKit/XCDYouTubeClient.m:69
[7769:55767764] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Both `v

[2020-06-15 16:26] Frankenxtein opened #485 "App Store Rejection"
An update to my App got rejected today. Here's the message sent by Apple.

Has anyone faced this issue lately? Is this because of the library? What solutions do anyone suggest?

[2020-06-15 16:34] DmytroBrovkin commented on #485
Our app update was rejected with same response. We don’t use this library, but our app uses same mechanism of parsing YT streams. Looks like Apple has new validation guidelines for apps with Youtube content. We will have a call with review team in few days. I will post the results after.

[2020-06-15 16:57] Frankenxtein commented on #485
Please don't forget to post the results.  Any idea where am i supposed to get the documentary evidence?

[2020-06-15 17:01] Frankenxtein commented on #485
Please don't forget to post the results afterwards, I have no idea where can i get the documentary evidence.

[2020-06-17 15:43] Frankenxtein commented on #485
@DmytroBrovkin did you manage to get a call with the app review team? Any specifics behind the rejection?

[2020-06-17 16:33] DmytroBrovkin commented on #485
I still waiting for a call. They said in the message 3-5 business days, which ends this Friday. Will update as soon as have a call.

[2020-06-18 04:05] oososo commented on #485
Hello , Did you receive that call?

[2020-06-18 16:46] DmytroBrovkin commented on #485
![CC1F908B-CBA5-4D43-8C6B-B948DAC8ED1E](https://user-images.githubusercontent.com/11684536/85048728-bbdd2d80-b161-11ea-81ad-71a7991e5d30.jpeg)

just got a reply today

[2020-06-19 01:55] dlpigpen commented on #485
I had the same issue yesterday. Well, there seems have new guideline about streaming services API

[2020-06-19 03:40] oososo commented on #485
What would apple say? I hope your app will pass the review.If not, I want to know what 's the problem.

[2020-06-19 08:23] MhmdSalah commented on #485
Does anybody know how can they detect the presence of this lib in the app? is there a way to hide it? They did not even open my app udpate (i am sure because i made the app crash upon initial run and they rejected for this reason) so there is some kind of a scan software that detects this lib. I tried: change all files names and class names. delete all comments. remove all mentions of youtube.
If

[2020-06-19 16:02] darkForestCat commented on #485
There is an official way to present youtube video

It is  not  the official way of presenting YouTube videos.Hmmmmm what could be the problem?))

[2020-06-19 18:06] DmytroBrovkin commented on #485
Just had a quick chat with owners of Musi app. They have exactly same situation and can’t bypass the Apple Review. I think it is the end :)

[2020-06-19 18:51] MhmdSalah commented on #485
Guys i have a suggestion. Apple can't be scanning every app individually by reverse engineering. We have to scrap this lib to make it harder for them to find it.

My suggestion is a pull request with the following changes:
- delete all .plist files, they are not hidden in ipa files during compilation
- change all .h and .m file names and class names, e.g. find and replace XCDYouTube to xStreamLib

[2020-06-19 18:53] DmytroBrovkin commented on #485
We don’t use this library, and still blocked. Renaming files won’t help.

[2020-06-19 22:54] MhmdSalah commented on #485
Then your code has something in common with this lib. Could you please check if your code mentions any of these links in a string:
-https://www.youtube.com/get_video_info
-https://www.googleapis.com/youtube/
-https://developers.google.com/youtube/

[2020-06-19 23:00] darkForestCat commented on #485
do you use the official way of showing YouTube videos?

[2020-06-20 13:29] Frankenxtein commented on #485
Did Apple call you? What did the Apple representative say?

[2020-06-20 13:30] Frankenxtein commented on #485
The Official player is based on javascript i think and defies the purpose of this library.

[2020-06-20 17:34] darkForestCat commented on #485
"We don’t use this library, and still blocked. Renaming files won’t help." - He sad that he does not use this library, so I  was curious  what YouTube library does he use.

[2020-06-20 19:05] DmytroBrovkin commented on #485
We’ve created our own library in Swift, based on youtube-dl python code.

[2020-06-20 20:47] darkForestCat commented on #485
Try using official library

[2020-06-21 07:02] cujo30227 commented on #485
I’m using using the official implementation in my app https://developers.google.com/youtube/v3/guides/ios_youtube_helper
Received the same rejection today, and appealing it now ..

[2020-06-21 11:42] darkForestCat commented on #485
@cujo30227  let us know please how would go the process.

[2020-06-21 21:04] rockylive commented on #485
please update this issue asap you get a reply. Thanks

[2020-06-22 20:14] DmytroBrovkin commented on #485
just had a call with apple. Basically, they don’t really care what API you use to playback content from Youtube. They need a  legal document from Google, that would confirm your app can stream their content. This applies to all content providers like Youtube, Soundcloud, Vmeo etc.
![7AC61A74-C0CD-45FC-A8CE-0F33283AA4F4](https://user-images.githubusercontent.com/11684536/85330967-421bab80-b4a3-11ea

[2020-06-22 20:15] DmytroBrovkin commented on #485
![270C988F-6EFD-41B9-829D-44E53DB19B61](https://user-images.githubusercontent.com/11684536/85331140-945ccc80-b4a3-11ea-9864-3784e3f03d05.jpeg)

[2020-06-23 03:47] Frankenxtein commented on #485
Where the hell am i going to get that document. A large company like give won't give a damn about some tiny app developer. :)

[2020-06-23 05:00] kdk0 commented on #485
Uh... Does this mean any app that shows embedded Youtube video now needs to submit some legal document from Youtube?

[2020-06-23 05:10] theirfanshah commented on #485
Hello,

I'm also facing same rejection, I replied Apple Review Team in Resolution Center, and got replied today, and yes they are asking for documentary evidence.

Reply from Apple:

`Hello,

Thank you for your response.

During our review we have found that your app provides a curated list of YouTube videos that users can watch and listen to. We understand that the YouTube API is public, however

[2020-06-26 09:30] huynguyencong commented on #485
I have the same problem. Does anyone know how to find the document that Apple require?

[2020-06-26 09:34] MhmdSalah commented on #485
Hello again everybody,
I can confirm, removing this lib and submitting got the new version approved, but it took apple one full week of "in review" time to get it approved. If i had to guess, i think they are doing some kind of de compiling to investigate the app, and they make the review process longer to investigate thoroughly.

[2020-06-26 09:37] huynguyencong commented on #485
@MhmdSalah it means you have to remove Youtube feature from your app? If so, it is not a solution for this issue.

[2020-06-26 09:46] MhmdSalah commented on #485
Nope! i managed to create a solution. As of now, my solution is not as good as having this lib inside the guts of my app, but it is working. It will not be suitable for every app because my app is a special condition. Best of luck to you.

[2020-06-26 12:13] chaocharleswang commented on #485
Were you requested to provide some documents proof? How did you reply? Thx.

[2020-06-26 13:44] darkForestCat commented on #485
So are you using  official YouTube library?And how  did you managed documentation problem?

[2020-06-26 17:04] jlott1 commented on #485
I have not updated my app since these new changes by Apple but I plan on pushing an update this week.  I may get the same response.  Just FYI,  I did get a similar rejection from Apple before and all I had to do was mention that I was a part of the Google Developer Program for developing for YouTube API and provided my Google Client ID as proof.   That's what worked for me in the past, but I'll le

[2020-06-26 21:38] kdk0 commented on #485
I was approved a few days ago with this library included in my app. I think maybe it depends on each reviewer...

[2020-06-26 23:48] chaocharleswang commented on #485
Are your app approved for the first submission?
________________________________
From: Ki Kim <notifications@github.com>
Sent: Friday, June 26, 2020 4:39:09 PM
To: 0xced/XCDYouTubeKit <XCDYouTubeKit@noreply.github.com>
Cc: Charles <chaocharleswang@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [0xced/XCDYouTubeKit] App Store Rejection (#485)

I was approved a few days ago with this

[2020-06-27 00:02] kdk0 commented on #485
Yeah it was first submission.

[2020-06-27 19:22] darkForestCat commented on #485
maybe  it  depends on the type of the  app...

[2020-06-28 00:31] oososo commented on #485
what 's the type of your app?

[2020-06-28 04:19] kdk0 commented on #485
Mine is shopping info app - https://apps.apple.com/us/app/pebble-fun-beauty-shopping/id1519076154

[2020-06-28 12:48] huynguyencong commented on #485
Yeah, I think only streaming app is rejected by Apple. Your app is shoping app, although it uses this library, but streaming is not the main function.

[2020-06-30 14:10] hannessolo commented on #454
Hi, I am having this issue too. The problem is that I am writing my app in Swift. This error throws an NSException, so this actually crashes the entire app, and I cannot catch the exception.

[2020-06-30 14:36] hannessolo commented on #454
After updating to the latest version, I found that the app now no longer crashes, but the video is not loaded either. I will investigate further.

[2020-07-01 15:11] darkForestCat commented on #485
Is anyone who has passed the review process and has sent the documents to the App Review Team?

[2020-07-05 07:03] Frankenxtein commented on #485
Was your update approved?

[2020-07-10 16:46] SRykhletskiy commented on #476
Hi, I have the same error in my iOS app
Code:
[[XCDYouTubeClient defaultClient] getVideoWithIdentifier:"KB-s_p4eIHE" completionHandler:^(XCDYouTubeVideo *video, NSError *error) {}
Result: Error Domain=XCDYouTubeVideoErrorDomain Code=-2 "(null)" User Info: {}

 I'm using pod 'XCDYoutubeKit' current version - 2.14.0

[2020-07-22 21:34] osalazarMaplander commented on #244
i have the same problema in objective c I import #import <XCDYouTubeKit/XCDYouTubeKit.h>

without problems but i have error here  XCDYouTubeVideoPlayerViewController *videoPlayerViewController
Use of undeclared identifier 'videoPlayerViewController'
Use of undeclared identifier 'XCDYouTubeVideoPlayerViewController'
i dont know hot to resolve
cant you tell me som lead?
i added @import XCDYouTubeKit

[2020-07-27 21:14] CWftw opened #487 "Signature extraction fails on certain YouTube URLs"
See the YouTube-dl issue:
https://github.com/ytdl-org/youtube-dl/issues/26135
Their example video:
https://www.youtube.com/watch?v=0l9u9uezX_4

[2020-07-28 00:06] SoneeJohn commented on #487
@CWftw Thanks for reporting this!

[2020-07-28 01:14] #482 closed

[2020-07-28 01:14] #487 closed

[2020-07-28 03:36] jenny0006132 opened #488 "Can't play some videos"
Hi,
Some video stream url fetch from `getVideoWithIdentifier:completionHandler` can't play anymore.

SDK version: XCDYouTubeKit (2.14.1)
Quality: `XCDYouTubeVideoQualityMedium360 = 18`

Examples:

Soa3gO7tL-c
[code]

HQ_mU73VhEQ
[code]

AoAm4om0wTs
[code]

[2020-07-28 04:05] fightveryexplosion commented on #485
Has anyone been able to get your apps approved since?

I'm going to have to update soon because of the recent YouTube changes, and am not looking forward to facing this rejection...

[2020-07-28 05:14] #488 closed

[2020-07-28 05:14] jenny0006132 commented on #488
solved after clean build...

[2020-07-29 23:09] perepechin commented on #485
I don't use this library, but I am also using embedded YouTube videos in my app for about 2-3 months, and my latest app updated was rejected by Apple because of the same reason today - "5. 2.3 Legal: Intellectual Property - Audio/Video Downloading". My app doesn't allow to download videos, but the second part of 5.2.3 also includes "streaming". This is pain.. I will provide an update here if I fin

[2020-08-06 16:43] dragonsofthelostrealm opened #489 "Problems loading some YouTube URLs even on newest version"
This YouTube video for instance even in the example project on the newest CocoaPods version I can't download it there's just no video that plays back or anything

https://www.youtube.com/watch?v=9bEWhQSyyOQ

Specifically the 720p stream option fails, but 480p etc do work. youtube-dl can get the 720p version fine though

[2020-08-07 07:01] perepechin commented on #485
I didn't find a solution at this point, and decided to completely remove YouTube features from my iOS app. I don't have any issues with the same app in the Google Play. for example, in my case, the app was rejected even when I removed ability to play YouTube videos via YouTube IFrame API directly inside the app, but I was still displaying the video thumbnails in my app. so now I don't display thum

[2020-08-07 07:07] perepechin commented on #485
btw I think that this issue can be closed, because it doesn't relate to this XCDYouTubeKit player and even if this player will start using YouTube IFrame API it will not help at all :/

[2020-08-07 08:24] perepechin commented on #485
fun tweets for this topic:
https://twitter.com/tN023/status/1291497973394935809?s=20 and https://twitter.com/PhilLB1239/status/1291503688528388098?s=20

[2020-08-07 09:20] perepechin commented on #485
I found this article [Complying with YouTube's Developer Policies](https://developers.google.com/youtube/terms/developer-policies-guide) and in this article I found info that it is possible to apply for an [API Compliance Audit](https://support.google.com/youtube/contact/yt_api_form).

I didn't try to apply for an API Compliance Audit, but I am going to do this, and then I will let you know the re

[2020-08-13 03:41] jlott1 commented on #485
I would suggest that you that keep disputing their rejection and show them the google developers TOS.
https://developers.google.com/terms

[2020-08-13 12:44] denkeni commented on #485
No, it would not work. Even the App Review Board rejected my appeal with Google Developers TOS presented.

Still in the process of YouTube's API Compliance Audit mentioned above, and it looks promising as the solution.

[2020-08-13 16:07] SoneeJohn commented on #485
I am going to leave this open for the time being because I believe it provides useful information to those who might be use this library in an app they plan to publish on the App Store.

[2020-08-18 00:23] manobal commented on #489
I am also seeing the same issue even with the latest update. Here are few example video ids that are not playing for me:

n-0XaOsb1rs
9mxxuKMI3AM
pd32k45H9AM

Thanks,
Manobal

[2020-08-19 06:32] oTranAnhMinh opened #490 "Cache video error!"
Hello,

I have discovered a problem that seems to be related to the cache. Sometimes a video may not play when first opened, but when played it again, it will play normally. Please check this out soon.

Thank you,

[2020-08-25 16:30] kayazhou commented on #489
I have the same issue with the 720p stream.

480p works just fine.

[2020-08-25 17:30] endavid commented on #485
I submitted a game and I do not use any streaming services and my app got rejected because of this Guideline 5.2.3 as well. I suspect it's because I have a WebView in the game to look up word definitions (it's a word puzzle game). I've set `NSAllowsArbitraryLoads` to `false`, under `NSAppTransportSecurity` in the `Plist.info` file, and whitelisted the sites that I used for definitions, but I got r

[2020-08-27 10:11] Frankenxtein commented on #485
This library clearly violates YouTube TOS as it does not use the official iFrame player as recommended by google, i do not think google will approve the api compliance audit?

[2020-08-27 16:13] denkeni commented on #485
Unfortunately, after finishing the process, the YouTube API Compliance Team only suggested going to https://support.google.com. It turned out that process only deals with YouTube API Quota extension.

**This issue exists even if you're using the official YouTube SDK**. And Apple insisted that every third-party service should only be used in your app with explicit legal authorization. 😕

I encourag

[2020-09-01 13:38] OutRunner commented on #485
I really hope Apple aren't going to prevent the use of this library, I have an Apple TV app that uses it and since Apple TV doesn't have a web browser I can't use the JS library or iframe...

[2020-09-06 06:20] fangyuxi commented on #485
I also used this SDK to publish several apps that can play Youtube videos.
If the download feature is not provided, and the video is only played online, although this is not in compliance with the  Youtube Terms, it will be allowed by Apple's review.
You just can't include download feature.

@Frankenxtein @DmytroBrovkin

[2020-09-06 06:29] Frankenxtein commented on #485
When was the last time you pushed an update using this SDK? AFAIK, this rejection started only 4 or 5 months back only.

My app have don't have any download feature whatsoever. Could it be that the buffering of video is giving the impression of downloading to the reviewer? As, the video is likely to keep up playing, unless the buffer is empty even when WiFi/Cellular data is turned off?

[2020-09-06 06:32] fangyuxi commented on #485
@Frankenxtein  Last Month

I have been developing such apps for several years. As long as the download featured is not included, it may always pass Apple's review normally. Has it started to require a contract for online video in the past month?

[2020-09-06 06:41] Frankenxtein commented on #485
My update was rejected 3x, with the same reason as mentioned on the beginning of this thread. Like i said, there is no download feature in my app.

[2020-09-06 06:44] fangyuxi commented on #485
@Frankenxtein

I just checked the guide. Apple updated the 5.2.3  and added a new line: playing online videos may also require a contract. This line was not included before.

[2020-09-06 12:43] diepox commented on #485
What about this app (SnapTube):
[https://apps.apple.com/az/app/snaptube-lite/id1516145474
](https://apps.apple.com/az/app/snaptube-lite/id1516145474
)
It has even the video **DOWNLOADING** option, and yeah from **Youtube**!

App Review Team is drunk 🥴

[2020-09-07 10:05] fangyuxi commented on #485
@diepox This is incredible, even the screenshot of this app is from Android.

[2020-09-09 04:51] jlott1 commented on #485
Try this link then.
 https://developers.google.com/youtube/terms/api-services-terms-of-service

I've been app reviewed many times.
One rule about using YouTube videos was that I needed to make sure there was a  YouTube link overlaid on the video that points to the original content that can be played in a browser.  You also cannot display ads over YouTube content or make money off of the content it

[2020-09-09 06:06] oTranAnhMinh opened #491 "Sometimes Parse web html error!"
Hello,

It's called:

case XCDYouTubeRequestTypeWatchPage:
   [self handleWebPageWithHTMLString:responseString];

Please help to check this error:

*** Assertion failure in -[XCDYouTubeClient getVideoWithIdentifier:cookies:customPatterns:completionHandler:], XCDYouTubeClient.m:69
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Both `video` and `error` can

[2020-09-09 11:28] denkeni commented on #485
I have tried that link too, and it didn't work. App Review has made it clear that they want legal documentary evidence of authorization.

My app has been on the App Store for over 2 years, with many updates passed. Still get this rejection recently. Another example is [Movist](https://mjtsai.com/blog/2019/05/27/movist-removed-from-the-mac-app-store/).

One of the misery of App Store Review is that

[2020-09-14 10:47] Biplovkumar opened #493 "TypeError: Cannot read property 'playVideo' of null IOS"
Pod File :-   **pod 'XCDYouTubeKit'**

Package.json :-
**react-native-youtube": "^2.0.1",
    "react": "16.10.2",
    "react-native": "0.59.9",**

**Code :-**
[code]

HI,
Greetings.
i had tried a lot with linking (Manually,Automatic) but same error coming from a day.
i am stuck there.
previously it is working fine but not working in ios 13 so  i updated u tub version.
but now it is not  working.
p